header .description {
    float: left;
    margin: -1.5em 0 0 5em;
    font-style: italic;
}

#widgetsmatrix {
    margin: 2em;
    text-align: center;
}

#widgetsmatrix .widget {
    display:inline-block;
    margin:1em;
}

footer {
    position: absolute;
    bottom: 0;
}

/* Breadcrumb */

#breadcrumb {
  overflow: hidden;
  padding-left: 0.7em;
  display: inline-block;
}

#breadcrumb .tree {
  margin: 0 1.5em 0 0;
  float: left;
}
#breadcrumb .path {
  margin: 0 2em 0 0;
  float: left;
}

#breadcrumb .path a {
  padding: .7em 1em .7em 25px;
  float: left;
  text-decoration: none;
  color: #444;
  background-position: 7px 50%;
  background-repeat: no-repeat;
  background-color: #ddd;  
  position: relative;
  z-index: 1;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

#breadcrumb .path a::before {
  content:'';
  position:absolute;
  top: 0;
  bottom: 0;
  width: 1em;
  background: #ddd;
  -moz-transform: skewX(-10deg);  
  -webkit-transform: skewX(-10deg);  
  transform: skewX(-10deg);  
  left: -.5em;
  border-radius: 5px 0 0 5px;
  z-index: -1;
}

#breadcrumb .path a::after {
  background: #ddd;
  content: "";
  height: 2.5em;
  margin-top: -1.25em;
  position: absolute;
  right: -1em;
  top: 50%;
  width: 2.5em;
  z-index: -1; 
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-radius: .4em;
}

#breadcrumb .menu a {
  background: #ddd;
  padding: .7em 1em;
  float: left;
  text-decoration: none;
  color: #444;
  text-shadow: 0 1px 0 rgba(255,255,255,.5); 
  position: relative;
  background-image: url(../images/logo_domogik_mini.png);
  width:2em;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
}

#breadcrumb .menu a::after {
  content:'';
  position:absolute;
  top: 0;
  bottom: 0;
  width: 1em;
  background: #ddd;
  -moz-transform: skewX(-10deg);  
  -webkit-transform: skewX(-10deg);  
  transform: skewX(-10deg);  
  right: -.5em;   
  border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
}

#treeroot a:hover,
#treeroot a:focus,
#breadcrumb a:hover,
#breadcrumb a:hover::after,
#breadcrumb a:hover::before,
#breadcrumb a:focus,
#breadcrumb a:focus::after,
#breadcrumb a:focus::before {
  background-color: #BDCB2F;
}

#treeroot a:active,
#breadcrumb a:active,
#breadcrumb a:active::after,
#breadcrumb a:active::before {
    background-color: #4a9ecb;
}

#tree {
    position: absolute;
    top:2em;
    left: 50%;
    z-index: 9;
    display: none;
}

#treeroot a {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    white-space: nowrap;
    display: inline-block;
    width:4em;
    height:4em;
    margin: -2em 0 0 -2em;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: #ddd;
    
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
}

#treeroot a:hover {
    z-index: 99;
}

#treeroot a .pagename {
    color: #000000;
    text-decoration: none;
    display: none;
}

#treeroot a:hover .pagename {
    display: inline-block;
}

/* Login form */
form#loginform {
    position: absolute;
    right: 0;
    top: 4em;
    color: #ffffff;
    background-color:#3c3c3c;
    padding: 1em;
    
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
   
    border-top: 10px solid rgba(0,0,0,0.3);
    border-bottom: 10px solid rgba(0,0,0,0.3);
    border-left: 10px solid rgba(0,0,0,0.3);
    
    -webkit-border-radius: 20px 0  0 20px;
    -moz-border-radius: 20px 0 0 20px;
    border-radius: 20px 0 0 20px;
}

form#loginform input[type=password] {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #eeeeee;
    padding: 0.2em;
    margin: 1em;
}

form#loginform .close {
    background-color: transparent;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border: medium none;
    cursor: pointer;
    height: 36px;
    position: absolute;
    left: -18px;
    top: -18px;
    width: 36px;
}
