{% extends "layouts/base_admin.html" %}
{% comment %}
# Copyright 2011 Domogik project

# This file is part of Domogik.
# Domogik is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# Domogik is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with Domogik.  If not, see <http://www.gnu.org/licenses/>.

# Author : Cédric Trévisan <cedric@domogik.org>
{% endcomment %}


{% load i18n %}
{% load text %}

{% block css %}
    <link href="/design/admin/css/page-admin-organization.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block js_include %}
{% endblock %}
{% block js_script %}
    $(function(){
        // Accordion}
        $("#nav2").accordion({ autoHeight: false, header: ".subnav2", active:0});

        $("#tabs").tabs({'selected':{% get_position areas_list id 0 %}}).domogik_tabs({
            addTitle: "{% trans "Add new area" %}",
            addId: "addDialogButton"
        });

        /* Tooltips */
        $('.buttonside[title], .add').tooltip_left();
        
        /* Dialogs */
        $('#delete_confirmation').dialog_confirmation({
            title: "{% trans 'Delete' %}",
            content: "{% trans "Please confirm to delete" %}"
        });
        
        $('#areadialog').dialog_form({
            tips: "{% trans "Area name is required." %}",
            tipsid: 'tipsArea',
            fields: [
                {name : 'areaname', type:'text', label:"{% trans "Name" %}", required: true, options: {min: 1, max: 80}},
                {name : 'areadescription', type:'text', label:"{% trans "Description" %}", required: false, options: {min: 1, max: 80}}
            ]
        });

        /* Add a function to create an area */
        $('#areadialog').dialog_form('addbutton', {
            title: "{% trans "Create new area" %}",
            button: "#addDialogButton",
            onok: function(values) {
                // Submit form
                rinor.post(['api', 'area'], {'name': values.areaname, 'description': values.areadescription})
                    .done(function(data, status, xhr){
                        $.reloadPage({'status': 'success', 'msg': "{% trans "New area added" %} '" + data.name + "'", 'id': data.id});
                    })
                    .fail(function(jqXHR, status, error){
                        if (jqXHR.status == 400)
                            $.notification('error', "{% trans "Area not created" %} (" + jqXHR.responseText + ")");
                    });
            }
        });
    });
{% endblock %}
{% block title %}{% trans page_title %}{% endblock %}

{% block banner %}
    <h1 class="ident"><span class="title">{% trans "Areas" %}</span></h1>
{% endblock %}

{% block right %}
    <section class="subsection">
        <h2>{% trans "Areas list" %}</h2>
        <div id="tabs">
            {% spaceless %}
            <ul>
                {% for area in areas_list %}
                    <li><a id="tab{{ area.id }}" href="#element{{ area.id }}" class="icon16-area-{{ area.icon }}">{{ area.name|stripnl }}</a></li>
                {% endfor %}
            </ul>
            {% endspaceless %}
            {% for area in areas_list %}
            <div id="element{{ area.id }}" class="tabelement">
                <script type="text/javascript">
                    // <![CDATA[
                    $(function(){
                        /* Add a function to delete the current area */
                        $('#delete_confirmation').dialog_confirmation('addbutton', {
                            button: "#del{{ area.id }}",
                            name: "'{{ area.name }}'",
                            onok: function() {
                                rinor.delete(['api', 'area', '{{ area.id }}'])
                                    .done(function(data, status, xhr){
                                        $.reloadPage({'status': 'success', 'msg': "{% trans "Area" %}\'' + data.name + '\' {% trans "successfully deleted" %}"});
                                    })
                                    .fail(function(jqXHR, status, error){
                                        self.cancel();
                                        if (jqXHR.status == 400)
                                            $.notification('error', "{% trans "Area not deleted" %} (" + jqXHR.responseText + ")");
                                    });
                            }
                        });
                                                
                        $('#icon{{ area.id }}').editable_icon({
                            type: "area",
                            list: area_icons,
                            icon: '{{ area.icon }}',
                            validCallback: function(self, icon) {
                                $('#icon{{ area.id }}').processing('start');
                                rinor.post(['api', 'uiconfig'], {"name":"area", "reference":'{{ area.id }}', "key":"icon", "value":icon})
                                    .always(function(){
                                        $('#icon{{ area.id }}').processing('stop');
                                    })
                                    .done(function(data, status, xhr){
                                        self.valid();
                                        $("#tab{{ area.id }}").removeClass();
                                        $("#tab{{ area.id }}").addClass("icon16-area-" + icon);
                                    })
                                    .fail(function(jqXHR, status, error){
                                        if (jqXHR.status == 400)
                                            $.notification('error', "{% trans "Icon not updated" %} (" + jqXHR.responseText + ")");
                                    });
                            }
                        });
                        
                        $( "#icon{{ area.id }}").processing();
                        
                        /* Add a function to update an area */
                        $('#areadialog').dialog_form('updbutton', {
                            title: "{% trans "Update area" %} '{{ area.name|stripnl }}'",
                            button: "#update{{ area.id }}",
                            values: {areaname : '{{ area.name|stripnl }}', areadescription : '{{ area.description|stripnl }}'},
                            onok: function(values) {
                                // Submit form
                                rinor.put(['api', 'area', '{{ area.id }}'], {'name': values.areaname, 'description': values.areadescription})
                                    .done(function(data, status, xhr){
                                        $.reloadPage({'status': 'success', 'msg': "{% trans "Area" %} \'' + data.name + '\' {% trans "successfully updated" %}"});
                                    })
                                    .fail(function(jqXHR, status, error){
                                        if (jqXHR.status == 400)
                                            $.notification('error', "{% trans "Area not updated" %} (" + jqXHR.responseText + ")");
                                    });
                            }
                        });
                    });
                    // ]]>
                </script>
                <ul class="actions">
                    <li><button id='del{{ area.id }}' class='icon16-action-del buttonside' title="{% trans "Delete" %} '{{ area.name }}'"><span class='offscreen'>{% trans "Delete" %} {{ area.name }}</span></button></li>
                    <li><button id="update{{ area.id }}" class="icon16-action-update buttonside" title="{% trans "Modify" %} '{{ area.name }}'"><span class='offscreen'>{% trans "Modify" %} {{ area.name }}</span></button></li>
                </ul>
                <div class="content">
                    <div id="icon{{ area.id }}"></div>
                    <h2>{{ area.name|stripnl }}</h2>
                    <p>{{ area.description|stripnl }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    <div id="areadialog"></div>
    <div id="delete_confirmation"></div>
{% endblock %}
