@charset "UTF-8";
/* CSS Document */

/* Link */
.ui-widget-content a {
    color:#1c94c4;
}

a:hover, a:active, a:focus {
    color:#eb8f00;
}

button::-moz-focus-inner { border: 0; }
input::-moz-focus-inner { border: 0; }


/* Button */
a.button, a.buttontext {
    display:inline-block;
    color:#000000;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.button {
    font-family: Helvetica,Arial,sans-serif;
	border: 1px solid #cccccc;
	-moz-border-radius: 1.4em;
    -webkit-border-radius: 1.4em;
	border-radius: 1.4em;
	background-color:#f6f6f6;
	background-position: 5% 50%;
	background-repeat: no-repeat;
	outline:none;
	cursor: pointer;
	text-decoration:none;
    padding:0.2em 0.5em 0.2em 25px;
    margin:1px;
    color:#000000;
    vertical-align: middle;
}

.buttontext {
    font-family: Helvetica,Arial,sans-serif;
	border: 1px solid #cccccc;
	-moz-border-radius: 1.4em;
    -webkit-border-radius: 1.4em;
	border-radius: 1.4em;
	background-color:#f6f6f6;
	outline:none;
	cursor: pointer;
	text-decoration:none;
    padding:0.3em 0.5em 0.3em 0.5em;
    margin:1px;
    display:inline-block;
	font-size: 1em;
    color:#000000;
}

.button:hover, .buttontext:hover {
	background-color:#FFFFFF;
}

.button:focus .button:active,
.buttontext:focus, .buttontext:active {
	color:#FFFFFF;
	background-color:#9BB528;
}

a.buttonicon, .buttonicon {
	border: 1px solid #cccccc;
	height:2em;
	width: 3em;
	-moz-border-radius: 1.4em;
    -webkit-border-radius: 1.4em;
	border-radius: 1.4em;
	background-color:#f6f6f6;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	outline:none;
	cursor: pointer;
	text-decoration:none;
    padding:0;
    margin:0;
    display:inline-block;
	font-size: 1em;
}