@charset "UTF-8";

/* Page menu */
.icon32-menu-unlock-white {background-image:url(../images/menu/unlock_white_32.png);}
.icon16-menu-unlock-black {background-image:url(../images/menu/unlock_black_16.png);}
.icon32-menu-lock-white {background-image:url(../images/menu/lock_white_32.png);}
.icon32-menu-config-white {background-image:url(../images/menu/config_white_32.png);}
.icon32-menu-elements-white {background-image:url(../images/menu/elements_white_32.png);}

.icon36-action-close { background-image:url(../images/action/close_36.png);}