@charset "UTF-8";

/* Page menu */
.icon32-menu-unlock-white {background-image:url(../images/menu/unlock_white_32.png);}
.icon32-menu-lock-white {background-image:url(../images/menu/lock_white_32.png);}
.icon32-menu-lookup-white {background-image:url(../images/menu/lookup_white_32.png);}
.icon32-menu-config-white {background-image:url(../images/menu/config_white_32.png);}
.icon32-menu-elements-white {background-image:url(../images/menu/elements_white_32.png);}
.icon32-menu-save-white {background-image:url(../images/menu/save_white_32.png);}
.icon32-menu-cancel-white {background-image:url(../images/menu/cancel_white_32.png);}

.icon36-action-close { background-image:url(../images/action/close_36.png);}

.icon32-form-tag {background-image:url(../images/form/tag_32.png);}
.icon32-form-edit {background-image:url(../images/form/edit_32.png);}

.icon64-default {background-image:url(../images/unknown_64.png);}
.icon32-default {background-image:url(../images/unknown_32.png);}
.icon16-default {background-image:url(../images/unknown_16.png);}

.ui-icon { display: inline-block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }
.icon16-action-remove { background-image:url(../images/action/delete_16.png);}
