
footer {
    position: absolute;
    bottom: 0;
}

/* Breadcrumb */

#breadcrumb{
  overflow: hidden;
  padding-left: 0.7em;
  display: inline-block;
}

#breadcrumb li{
  margin: 0 2em 0 0;
  float: left;
}

#breadcrumb a{
  padding: .7em 1em .7em 1em;
  float: left;
  text-decoration: none;
  color: #444;
  background: #ddd;  
  position: relative;
  z-index: 1;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

#breadcrumb a::before {
  content:'';
  position:absolute;
  top: 0;
  bottom: 0;
  width: 1em;
  background: #ddd;
  -moz-transform: skew(-10deg);  
  -webkit-transform: skew(-10deg);  
  transform: skew(-10deg);  
}

#breadcrumb a::before{
  left: -.5em;
  border-radius: 5px 0 0 5px;
}

#breadcrumb a::after{
  background: #ddd;
  content: "";
  height: 2.5em;
  margin-top: -1.25em;
  position: absolute;
  right: -1em;
  top: 50%;
  width: 2.5em;
  z-index: -1; 
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-radius: .4em;
}

#breadcrumb a:hover,
#breadcrumb a:hover::after,
#breadcrumb a:hover::before,
#breadcrumb a:focus,
#breadcrumb a:focus::after,
#breadcrumb a:focus::before {
  background: #BDCB2F;
}

/* Tree menu */
#tree {
  margin: 0 0.5em 0 0.5em;
  float: left;
}

#tree a{
  background: #ddd;
  padding: .7em 1em;
  float: left;
  text-decoration: none;
  color: #444;
  text-shadow: 0 1px 0 rgba(255,255,255,.5); 
  position: relative;
  background-image: url(../images/logo_domogik_mini.png);
  width:2em;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 5px 0 0 5px;
}

#tree a::after{
  content:'';
  position:absolute;
  top: 0;
  bottom: 0;
  width: 1em;
  background: #ddd;
  -moz-transform: skew(-10deg);  
  -webkit-transform: skew(-10deg);  
  transform: skew(-10deg);  
}

#tree a::after{
  right: -.5em;   
  border-radius: 0 5px 5px 0;
}

#tree a:hover,
#tree a:hover::after,
#tree a:focus,
#tree a:focus::after {
  background-color: #BDCB2F;
}

/* Login form */

form#loginform {
    position: absolute;
    right: 0;
    top: 4em;
    color: #ffffff;
    background-color:#3c3c3c;
    padding: 1em;
    
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
   
    border-top: 10px solid rgba(0,0,0,0.3);
    border-bottom: 10px solid rgba(0,0,0,0.3);
    border-left: 10px solid rgba(0,0,0,0.3);
    
    -webkit-border-radius: 20px 0  0 20px;
    -moz-border-radius: 20px 0 0 20px;
    border-radius: 20px 0 0 20px;
}

form#loginform input[type=password] {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 5px;
    border: 1px solid #eeeeee;
    padding: 0.2em;
    margin: 1em;
}

form#loginform .close {
    background-color: transparent;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border: medium none;
    cursor: pointer;
    height: 36px;
    position: absolute;
    left: -18px;
    top: -18px;
    width: 36px;
}
