{% extends "layouts/base_admin.html" %}
{% comment %}
# Copyright 2011 Domogik project

# This file is part of Domogik.
# Domogik is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# Domogik is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with Domogik.  If not, see <http://www.gnu.org/licenses/>.

# Author : Cédric Trévisan <cedric@domogik.org> {% endcomment %}


{% load i18n %}
{% load text %}

{% block css %}
    <link href="{{ static_design_url }}/common/css/ui-tables.css" rel="stylesheet" type="text/css" />
    <link href="{{ static_design_url }}/admin/css/page-admin-organization.css" rel="stylesheet" type="text/css" />
    <link href="{{ static_design_url }}/libraries/harvesthq-chosen-v0.9.8/chosen/chosen.dmg.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block js_include %}
    <script type="text/javascript" src="{{ static_design_url }}/libraries/harvesthq-chosen-v0.9.8/chosen/chosen.jquery.dmg.js"></script>
{% endblock %}

{% block js_script %}
    $(function(){
        // Accordion
        $("#nav2").accordion({ autoHeight: false, header: ".subnav2", active:0});
        
        {% regroup devices_list|dictsort:"device_usage_id" by device_usage as grouped_usages_list %}
        $("#tabs").tabs({'selected': {% get_position grouped_usages_list id 1 %}}).domogik_tabs({
            addTitle: "{% trans "Add new device" %}",
            addId: "addDialogButton"
        });
        
        /* Tooltips */
        $('.add').tooltip_left();
        $('.buttonicon[title]').tooltip_top();
        
        /* Dialogs */
        $('#delete_confirmation').dialog_confirmation({
            title: "{% trans 'Delete' %}",
            content: "{% trans "Please confirm to delete" %}"
        });

        $('#adddevicedialog').dialog_form({
            tips: "{% trans "All fields in bold are required." %}",
            tipsid: 'tipsAddDevice',
            fields: [
                {name : 'adddevicename', type:'text', label:"{% trans "Name" %}", required: true, options: {min: 1, max: 80}},
                {name : 'adddeviceaddress', type:'text', label:"{% trans "Address" %}", required: true, options: {min: 1, max: 80}},
                {name : 'adddevicetype', type:'select', label:"{% trans "Feature" %}", required: true,
                    options: {
                        placeholder: "{% trans "Choose a device feature" %}",
                    },
                    items: [
                        {% regroup types_list|dictsort:"device_technology_id" by device_technology as technologies_list %}
                        {% for technology in technologies_list %}
                            { label: '{{ technology.grouper.name }}', icon:'icon16-technology-{{ technology.grouper.id }}',
                                subitems: [
                                {% for type in technology.list %}
                                    {value:'{{ type.id }}', label:'{{ type.name }}'},
                                {% endfor %}
                                ]
                            },
                        {% endfor %}
                    ]
                },
                {name : 'adddeviceusage', type:'select', label:"{% trans "Usage" %}", required: true,
                    options: {
                        placeholder: "{% trans "Choose a usage" %}",
                    },
                    items: [
                    {% for usage in usages_list %}
                        {value:'{{ usage.id }}', label: '{{ usage.name }}', icon: 'icon16-usage-{{ usage.id }}'},
                    {% endfor %}
                    ],
                },
                {name : 'adddevicedescription', type:'text', label:"{% trans "Description" %}", required: false, options: {min: 1, max: 80}},
                {name : 'adddevicereference', type:'text', label:"{% trans "Reference" %}", required: false, options: {min: 1, max: 80}}
            ]
        });

        $('#upddevicedialog').dialog_form({
            tips: "{% trans "All fields in bold are required." %}",
            tipsid: 'tipsUpdDevice',
            fields: [
                {name : 'upddevicename', type:'text', label:"{% trans "Name" %}", required: true, options: {min: 1, max: 80}},
                {name : 'upddeviceaddress', type:'text', label:"{% trans "Address" %}", required: true, options: {min: 1, max: 80}},
                {name : 'upddeviceusage', type:'select', label:"{% trans "Usage" %}", required: true,
                    options: {
                        placeholder: '% trans "Choose a usage" %}',
                    },
                    items: [
                    {% for usage in usages_list %}
                        {value:'{{ usage.id }}', label: '{{ usage.name }}', icon: 'icon16-usage-{{ usage.id }}'},
                    {% endfor %}
                    ],
                },
                {name : 'upddevicedescription', type:'text', label:"{% trans "Description" %}", required: false, options: {min: 1, max: 80}},
                {name : 'upddevicereference', type:'text', label:"{% trans "Reference" %}", required: false, options: {min: 1, max: 80}}
            ]
        });
        
        /* Add a function to create a device */
        $('#adddevicedialog').dialog_form('addbutton', {
            title: "{% trans "Add new device" %}",
            button: "#addDialogButton",
            onok: function(values) {
                var self = this;
                // Submit form
                rinor.post(['api', 'device'], {'name': values.adddevicename, 'address': values.adddeviceaddress, 'type_id': values.adddevicetype, 'usage_id': values.adddeviceusage, 'description': values.adddevicedescription, 'reference': values.adddevicereference})
                    .done(function(data, status, xhr){
                        $.reloadPage({'status': 'success', 'msg': "{% trans "New device added" %} '" + data.name + "'", 'id': data.device_usage_id});                                   
                    })
                    .fail(function(jqXHR, status, error){
                        if (jqXHR.status == 400)
                            $.notification('error', "{% trans "device not created" %} (" + jqXHR.responseText + ")");
                    });
            }
        });
    });
{% endblock %}
{% block title %}{{ page_title }}{% endblock %}

{% block banner %}
    <h1 class="ident"><span class="title">{% trans "Devices" %}</span></h1>
{% endblock %}

{% block right %}
    <section class="subsection">
        <h2>{% trans "Devices list" %}</h2>
        <div id="tabs">
            {% spaceless %}
            <ul>
                {% regroup devices_list|dictsort:"device_usage_id" by device_usage as grouped_usages_list %}
                {% for usage in grouped_usages_list %}
                    {% if usage.grouper.id %}
                        <li><a id="tab{{ usage.grouper.id }}" href="#element{{ usage.grouper.id }}" class="icon16-usage-{{ usage.grouper.id }}">{{ usage.grouper.name }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
            {% endspaceless %}
            {% regroup devices_list|dictsort:"device_usage_id" by device_usage as usages_list %}
            {% for usage in usages_list %}
                {% if usage.grouper.id %}
                    <div id="element{{ usage.grouper.id }}" class="tabelement">
                {% endif %}
                <table class='simple'>
                    <tr>
                        <th>{% trans "Name" %}</th>
                        <th>{% trans "Description" %}</th>
                        <th>{% trans "Address" %}</th>
                        <th>{% trans "Reference" %}</th>
                        <th>{% trans "Type" %}</th>
                        <th>Actions</th>
                    </tr>
                    {% for device in usage.list %}
                    <script type="text/javascript">
                        // <![CDATA[
                        $(function(){
                            /* Add a function to delete the current device */
                            $('#delete_confirmation').dialog_confirmation('addbutton', {
                                button: "#del{{ device.id }}",
                                name: "'{{ device.name }}'",
                                onok: function() {
                                    rinor.delete(['api', 'device', '{{ device.id }}'])
                                        .done(function(data, status, xhr){
                                            $.reloadPage({'status': 'success', 'msg': "{% trans "Device" %}\'' + data.name + '\' {% trans "successfully deleted" %}"});
                                        })
                                        .fail(function(jqXHR, status, error){
                                            if (jqXHR.status == 400)
                                                $.notification('error', "{% trans "Device not deleted" %} (" + jqXHR.responseText + ")");
                                        });
                                }
                            });
                            
                            /* Add a function to create a device */
                            $('#upddevicedialog').dialog_form('updbutton', {
                                title: "{% trans 'Update new device' %}",
                                button: "#update{{ device.id }}",
                                values: {upddevicename : '{{ device.name|stripnl }}', upddevicedescription : '{{ device.description|stripnl }}', upddeviceaddress : '{{ device.address|stripnl }}', upddevicereference : '{{ device.reference|stripnl }}', upddeviceusage : '{{ device.device_usage_id }}'},
                                onok: function(values) {
                                    // Submit form
                                    rinor.put(['api', 'device', '{{ device.id }}'], {'name': values.upddevicename, 'address': values.upddeviceaddress, 'usage_id': values.upddeviceusage, 'description': values.upddevicedescription, 'reference': values.upddevicereference})
                                        .done(function(data, status, xhr){
                                            $.reloadPage({'status': 'success', 'msg': "{% trans "Device" %} \'' + data.name + '\' {% trans "successfully updated" %}"});
                                        })
                                        .fail(function(jqXHR, status, error){
                                            if (jqXHR.status == 400)
                                                $.notification('error', "{% trans "Device not updated" %} (" + jqXHR.responseText + ")");
                                        });                    
                                }
                            });
                        });
                        // ]]>
                    </script>
                    <tr class="{% cycle 'odd' 'even' %}">
                        <td>{{ device.name|stripnl }}</td>
                        <td>{{ device.description|stripnl }}</td>
                        <td>{{ device.address|stripnl }}</td>
                        <td>{{ device.reference|stripnl }}</td>
                        <td><div class='icon16-text icon16-technology-{{ device.device_type.device_technology_id }}'>{{ device.device_type.device_technology_id }}.{{ device.device_type.name }}</td>
                        <td>
                            <ul class="actions">
                                <li><button id='del{{ device.id }}' class='icon16-action-del buttonicon' title="{% trans "Delete" %} '{{ device.name }}'"><span class='offscreen'>{% trans "Delete" %} {{ device.name }}</span></button></li>
                                <li><button id="update{{ device.id }}" class="icon16-action-update buttonicon" title="{% trans "Modify" %} '{{ device.name }}'"><span class='offscreen'>{% trans "Modify" %} {{ device.name }}</span></button></li>
                            </ul>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            {% endfor %}
        </div>
    </section>
    <div id="adddevicedialog"></div>
    <div id="upddevicedialog"></div>
    <div id="delete_confirmation"></div>
{% endblock %}
