{% extends "layouts/base_admin.html" %}
{% comment %}
# Copyright 2011 Domogik project

# This file is part of Domogik.
# Domogik is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# Domogik is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with Domogik.  If not, see <http://www.gnu.org/licenses/>.

# Author : Cédric Trévisan <cedric@domogik.org>
{% endcomment %}


{% load i18n %}
{% load text %}
{% load tree %}

{% block css %}
    <link href="{{ static_design_url }}/admin/css/page-admin-organization.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block js_include %}
    <script type="text/javascript" src="{{ static_design_url }}/libraries/jstree_pre1.0_fix_1/jquery.jstree.js"></script>
    <script type="text/javascript" src="{{ static_design_url }}/libraries/jstree_pre1.0_fix_1/_lib/jquery.hotkeys.js"></script>
{% endblock %}
{% block js_script %}
    $(function(){
        // Accordion}
        $("#nav2").accordion({ autoHeight: false, header: ".subnav2", active:0});
        $("#pages").jstree({
            "themes" : {
                "theme" : "pages",
	            "dots" : false,
	            "icons" : true
	        },
            "core" : { "initially_open" : [ "page_1" ] },
            "ui" : {
                // this makes the node with ID node_4 selected onload
                "initially_select" : [ "page_1" ]
            },
            "plugins" : ["themes", "html_data", "ui", "crrm", "hotkeys"]
        })
        .bind("rename.jstree", function (e, tree) {
            var id = tree.rslt.obj.attr("id").replace("page_","");
            var name = tree.rslt.new_name
            rinor.put(['api', 'page', id], {'name': name})
                .fail(function(jqXHR, status, error){
                    $.jstree.rollback(tree.rlbk);
                    if (jqXHR.status == 400)
                        $.notification('error', "{% trans "Page not renamed" %} (" + jqXHR.responseText + ")");
                });
        })
        .bind("remove.jstree", function (e, tree) {
            tree.rslt.obj.each(function () {
                var id = this.id.replace("page_","");
                if (parseInt(id) > 1) {
                    rinor.delete(['api', 'page', id])
                        .done(function(data, status, xhr){
                                tree.inst.refresh();
                        })
                        .fail(function(jqXHR, status, error){
                            $.jstree.rollback(tree.rlbk);
                            if (jqXHR.status == 400)
                                $.notification('error', "{% trans "Page not deleted" %} (" + jqXHR.responseText + ")");
                        });
                } else {
                    $.jstree.rollback(tree.rlbk);
                    $.notification('error', "{% trans "You can not remove the root page" %}");                
                }
            });
        })
        .bind("create.jstree", function (e, tree) {
            var parent_id = tree.rslt.parent.attr("id").replace("page_","");
            var name = tree.rslt.name
            rinor.post(['api', 'page'], {'name': name, 'parent_id': parent_id})
                .done(function(data, status, xhr){
                    $(tree.rslt.obj).attr("id", "page_" + data.id);
                })
                .fail(function(jqXHR, status, error){
                    $.jstree.rollback(tree.rlbk);
                    if (jqXHR.status == 400)
                        $.notification('error', "{% trans "Page not renamed" %} (" + jqXHR.responseText + ")");
                });
        });
        
        $("#mmenu button").click(function () {
            $("#pages").jstree(this.id);
        });
    });
{% endblock %}
{% block title %}{{ page_title }}{% endblock %}

{% block banner %}
    <h1 class="ident"><span class="title">{{ page_title }}</span></h1>
{% endblock %}

{% block right %}
    <section class="subsection">
        <h2>{% trans "Pages list" %}</h2>
        {% spaceless %}
        <div id="mmenu">
            <button id="create" class="button icon16-action-add">Create</button>
            <button id="rename" class="button icon16-action-update">Rename</button>
            <button id="remove" class="button icon16-action-del">Remove</button>
        </div>
        <div id="pages">
            <ul class="root">
            {% recursetree pages_list %}
                <li id="page_{{ node.id }}"><a href="#">{{ node.name }}</a>
                    {% if not node.is_leaf %}
                        <ul class="children">
                            {{ children }}
                        </ul>
                    {% endif %}
                </li>
            {% endrecursetree %}
            </ul>
        </div>
        {% endspaceless %}
    </section>
{% endblock %}
