.dmg_3x3_knob {
    text-align:center;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.dmg_3x3_knob.clickable:hover,
.dmg_3x3_knob.clickable:focus {
    background:none;    
}

/*----------------------------
	Color Bars
-----------------------------*/


.dmg_3x3_knob .bars{
	height: 198px;
	margin: 0 auto;
	position: relative;
	width: 198px;
}

.dmg_3x3_knob .control{
	width:83px;
	height:83px;
	position:absolute;
	top:57px;
	left:57px;
}

.dmg_3x3_knob .colorBar{
	width:20px;
	height:8px;
	position:absolute;
	opacity:0;
	-moz-transition:0.3s;
	-webkit-transition:0.3s;
	-o-transition:0.3s;
	transition:0.3s;
}

.dmg_3x3_knob .colorBar.active{
	opacity:1;
}


/*----------------------------
	knobKnob Styles
-----------------------------*/


.knob{
	width:83px;
	height:83px;
	position:relative;
}

.knob .top{
	position:absolute;
	top:0;
	left:0;
	width:83px;
	height:83px;
	background:url('images/knob.png') no-repeat;
	z-index:10;
	cursor:default !important;
}

.knob .base{
	width:83px;
	height:83px;
	border-radius:50%;
	box-shadow:0 5px 0 #4a5056,5px 5px 5px #000;
	position:absolute;
	top:0;
	left:0;
	z-index:1;
}

.knob .top:after{
	content:'';
	width:10px;
	height:10px;
	background-color:#666;
	position:absolute;
	top:50%;
	left:10px;
	margin-top:-5px;
	border-radius: 50%;
	cursor:default !important;
	box-shadow: 0 0 1px #5a5a5a inset;
}

@-moz-keyframes green {
	0%   {  	background-color:#77FF00;  }
	90%   {  	background-color:#77FF00;  }
	100%   {  	background-color:#666;  }
}

.dmg_3x3_knob.valid .knob .top:after {
	animation-name: green;
	-moz-animation-name: green;
	-webkit-animation-name: green;
	animation-duration: 5s;
	-moz-animation-duration: 5s;
	-webkit-animation-duration: 5s;
	animation-iteration-count: 1;
	-moz-animation-iteration-count: 1;
	-webkit-animation-iteration-count: 1;
}

@-moz-keyframes red {
	0%   {  	background-color:#FF1400;  }
	90%   {  	background-color:#FF1400;  }
	100%   {  	background-color:#666;  }
}

.dmg_3x3_knob.error .knob .top:after {
	animation-name: red;
	-moz-animation-name: red;
	-webkit-animation-name: red;
	animation-duration: 5s;
	-moz-animation-duration: 5s;
	-webkit-animation-duration: 5s;
	animation-iteration-count: 1;
	-moz-animation-iteration-count: 1;
	-webkit-animation-iteration-count: 1;
}

@-moz-keyframes blue {
	0%   {  	background-color:#666;  }
	50%   {  	background-color:#00E4FF;  }
	0%   {  	background-color:#666;  }
}

.dmg_3x3_knob.processing .knob .top:after {
	animation-name: blue;
	-moz-animation-name: blue;
	-webkit-animation-name: blue;
	animation-duration: 2s;
	-moz-animation-duration: 2s;
	-webkit-animation-duration: 2s;
	animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

.knob [draggable] {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}