{% extends "layouts/base_admin.html" %}
{% comment %}
# Copyright 2011 Domogik project

# This file is part of Domogik.
# Domogik is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# Domogik is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with Domogik.  If not, see <http://www.gnu.org/licenses/>.

# Author : Cédric Trévisan <cedric@domogik.org>
{% endcomment %}


{% load i18n %}
{% load text %}

{% block css %}
    <link href="{{ static_design_url }}/admin/css/page-admin-rinor.css" rel="stylesheet" type="text/css" />
    <link href="{{ static_design_url }}/admin/css/plugin-config.css" rel="stylesheet" type="text/css" />
    <link href="{{ static_design_url }}/common/css/ui-tables.css" rel="stylesheet" type="text/css" />
    <link href="{{ static_design_url }}/libraries/jquery.dataTables-1.8.2/css/page.css" rel="stylesheet" type="text/css" />
    <link href="{{ static_design_url }}/libraries/jquery.dataTables-1.8.2/css/table.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block js_include %}
    <script type="text/javascript" src="{{ static_design_url }}/libraries/jquery.dataTables-1.8.2/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="{{ static_design_url }}/admin/js/page-admin-rinor.js"></script>
    <script type="text/javascript" src="{{ static_design_url }}/admin/js/rinor-config.js"></script>
{% endblock %}
{% block js_script %}
    var plugin_host = '{{ host }}';
    var plugin_id = 'rest';

    $(function(){
        // Accordion
        $("#nav2").accordion({ autoHeight: false, header: ".subnav2", active:4});
        
        // Tabs
        $("#tabs").tabs();
    });
{% endblock %}
{% block title %}{{ page_title }}{% endblock %}

{% block banner %}
    <h1 class="ident"><span class="title">{% trans "RINOR" %}</span></h1>
{% endblock %}

{% block right %}
    <div id="tabs">
        <ul>
            <li><a href="#tabs-1">{% trans "Status" %}</a></li>
            <li><a href="#tabs-2">{% trans "Configuration" %}</a></li>
        </ul>
        <div id="tabs-1">
            <section class="subsection">
                <button id='force_refresh' class='button icon16-action-reset'>{% trans "Force Refresh" %}</button>
            </section>
            <section class="subsection">
                <h2>{% trans "Information" %}</h2>
                <ul class='infos'>
                    {% for key, value in rinor.info.items %}
                    <li><span class='label'>{{key}}: </span>{{value}}</li>
                    {% endfor %}
                </ul>
            </section>
            <section class="subsection">
                <h2>{% trans "Statistics" %}</h2>
                <ul class='stats'>
                    <li><span class='label'>{% trans "XML files last load" %}: </span>{{rinor.stats.XML_files_last_load}}</li>
                    <li><span class='label'>{% trans "XML files loaded" %}: </span>
                        <ul id='fileslist'>
                        {% for file in rinor.stats.XML_files_loaded %}
                            <li>{{ file }}</li>
                        {% endfor %}
                        </ul>
                    </li>
                    <li><span class='label'>{% trans "XML files KO" %}: </span>
                        <ul id='fileslist'>
                        {% for file in rinor.stats.XML_files_KO %}
                            <li>{{ file }}</li>
                        {% endfor %}
                        </ul>
                    </li>
                </ul>
            </section>
            <section class="subsection">
                <h2>{% trans "Commands" %}</h2>
                <ul class='commands'>
                    <li><span class='label'>{% trans "XML files last load" %}: </span>{{rinor.command.XML_files_last_load}}</li>
                    <li><span class='label'>{% trans "XML files loaded" %}: </span>
                        <ul id='fileslist'>
                        {% for file in rinor.command.XML_files_loaded %}
                            <li>{{ file }}</li>
                        {% endfor %}
                        </ul>
                    </li>
                    <li><span class='label'>{% trans "XML files KO" %}: </span>
                        <ul id='fileslist'>
                        {% for file in rinor.command.XML_files_KO %}
                            <li>{{ file }}</li>
                        {% endfor %}
                        </ul>
                    </li>
                </ul>
            </section>
            <section class="subsection">
                <h2>{% trans "Queues status" %}</h2>
                <ul class='queues'>
                    {% for key, value in rinor.queue.items %}
                    <li id="{{key}}"><span class='label'>{{key|switchUnderscore}}: </span><div class='indicator'><div class='valuegraph'></div><div class='valuetxtframe'><div class='valuetxt'></div></div></div></li>
                    {% endfor %}
                </ul>
            </section>
            <section class="subsection">
                <h2>{% trans "Events status" %}</h2>
                <h3>{% trans "Requests" %}</h3>
                <ul id='request_number'></ul>
                <br />
                <table id='domogik_request_list' class='display' cellpadding="0" cellspacing="0" border="0">
                    <thead>
                        <tr>
                            <th scope='col'>{% trans "ID" %}</th>
                            <th scope='col'>{% trans "Created" %}</th>
                            <th scope='col'>{% trans "Last access" %}</th>
                            <th scope='col'>{% trans "Queue size" %}</th>                    
                            <th scope='col'>{% trans "Instance Unfinished Tasks" %}</th>
                            <th scope='col'>{% trans "Instance Max size" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{% trans "ID" %}</td>
                            <td>{% trans "Created" %}</td>
                            <td>{% trans "Last access" %}</td>
                            <td>{% trans "Queue size" %}</td>                    
                            <td>{% trans "Instance Unfinished Tasks" %}</td>
                            <td>{% trans "Instance Max size" %}</td>
                        </tr>
                    </tbody>
                </table>
                <br />
                <table id='devices_request_list' class='display' cellpadding="0" cellspacing="0" border="0">
                    <thead>
                        <tr>
                            <th scope='col'>{% trans "ID" %}</th>
                            <th scope='col'>{% trans "Created" %}</th>
                            <th scope='col'>{% trans "Last access" %}</th>
                            <th scope='col'>{% trans "Device id list" %}</th>
                            <th scope='col'>{% trans "Queue size" %}</th>                    
                            <th scope='col'>{% trans "Instance Unfinished Tasks" %}</th>
                            <th scope='col'>{% trans "Instance Max size" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </section>
        </div>
        <div id="tabs-2">
            <section class="subsection">
                <h2>{% trans "Basic Control" %}</h2>
                {% ifnotequal plugin.id "rest" %}
                    <button id='buttonstatus'></button>
                {% endifnotequal %}
            </section>
            <section class="subsection">
                <h2>{% trans "Configuration" %}</h2>
                <div id='configuration'>
                    <p><button id='configurationdelete' class='button icon16-action-del'>{% trans 'Delete configuration' %}</button></p>
                    <div id='simple_configuration_items'>
                    </div>
                    <div id='grouped_configuration_items'>
                    </div>
                    <p id='group_buttons'></p> 
                </div>
            </section>
        </div>
    </div>

{% endblock %}
