[submodule "static/libraries/file-uploader"]
	path = static/libraries/file-uploader
	url = https://github.com/Valums-File-Uploader/file-uploader.git
[submodule "static/libraries/image-picker"]
	path = static/libraries/image-picker
	url = https://github.com/rvera/image-picker.git
[submodule "static/libraries/i18next"]
	path = static/libraries/i18next
	url = https://github.com/jamuhl/i18next.git
[submodule "static/libraries/d3"]
	path = static/libraries/d3
	url = https://github.com/mbostock/d3.git
[submodule "static/libraries/moment"]
	path = static/libraries/moment
	url = https://github.com/moment/moment.git
[submodule "static/libraries/notifit"]
	path = static/libraries/notifit
	url = https://github.com/naoxink/notifIt.git
[submodule "static/libraries/isotope"]
	path = static/libraries/isotope
	url = https://github.com/metafizzy/isotope.git
