[submodule "components/platform"]
	path = components/platform
	url = https://github.com/Polymer/platform.git
[submodule "components/polymer"]
	path = components/polymer
	url = https://github.com/Polymer/polymer.git
[submodule "static/libraries/packery"]
	path = static/libraries/packery
	url = https://github.com/metafizzy/packery.git
[submodule "static/libraries/draggability"]
	path = static/libraries/draggability
	url = https://github.com/desandro/draggabilly.git
[submodule "static/libraries/file-uploader"]
	path = static/libraries/file-uploader
	url = https://github.com/Valums-File-Uploader/file-uploader.git
[submodule "static/libraries/image-picker"]
	path = static/libraries/image-picker
	url = https://github.com/rvera/image-picker.git
[submodule "static/libraries/i18next"]
	path = static/libraries/i18next
	url = https://github.com/jamuhl/i18next.git
[submodule "static/libraries/d3"]
	path = static/libraries/d3
	url = https://github.com/mbostock/d3.git
[submodule "static/libraries/moment"]
	path = static/libraries/moment
	url = https://github.com/moment/moment.git
[submodule "static/libraries/notifit"]
	path = static/libraries/notifit
	url = https://github.com/naoxink/notifIt.git
[submodule "components/core-shared-lib"]
	path = components/core-shared-lib
	url = https://github.com/Polymer/core-shared-lib.git
