[submodule "static/libraries/packery"]
	path = static/libraries/packery
	url = https://github.com/metafizzy/packery.git
[submodule "static/libraries/draggability"]
	path = static/libraries/draggability
	url = https://github.com/desandro/draggabilly.git
[submodule "static/libraries/file-uploader"]
	path = static/libraries/file-uploader
	url = https://github.com/Valums-File-Uploader/file-uploader.git
[submodule "static/libraries/image-picker"]
	path = static/libraries/image-picker
	url = https://github.com/rvera/image-picker.git
[submodule "static/libraries/i18next"]
	path = static/libraries/i18next
	url = https://github.com/jamuhl/i18next.git
[submodule "static/libraries/d3"]
	path = static/libraries/d3
	url = https://github.com/mbostock/d3.git
[submodule "static/libraries/moment"]
	path = static/libraries/moment
	url = https://github.com/moment/moment.git
[submodule "static/libraries/notifit"]
	path = static/libraries/notifit
	url = https://github.com/naoxink/notifIt.git
[submodule "static/libraries/isotope"]
	path = static/libraries/isotope
	url = https://github.com/metafizzy/isotope.git
[submodule "static/libraries/polymer"]
	path = static/libraries/polymer
	url = https://github.com/Polymer/polymer.git
[submodule "static/libraries/core-shared-lib"]
	path = static/libraries/core-shared-lib
	url = https://github.com/Polymer/core-shared-lib.git
[submodule "static/libraries/webcomponentsjs"]
	path = static/libraries/webcomponentsjs
	url = https://github.com/webcomponents/webcomponentsjs.git
[submodule "static/libraries/polymer-gestures"]
	path = static/libraries/polymer-gestures
	url = https://github.com/Polymer/polymer-gestures.git
[submodule "static/libraries/polymer-expressions"]
	path = static/libraries/polymer-expressions
	url = https://github.com/Polymer/polymer-expressions.git
[submodule "static/libraries/URL"]
	path = static/libraries/URL
	url = https://github.com/Polymer/URL.git
[submodule "static/libraries/NodeBind"]
	path = static/libraries/NodeBind
	url = https://github.com/Polymer/NodeBind.git
[submodule "static/libraries/TemplateBinding"]
	path = static/libraries/TemplateBinding
	url = https://github.com/Polymer/TemplateBinding.git
[submodule "static/libraries/observe-js"]
	path = static/libraries/observe-js
	url = https://github.com/Polymer/observe-js.git
