/*-------------------------
	The clocks
--------------------------*/

:host .display {
	text-align:center;
	padding: 30px 20px 5px 20px;
	border-radius:6px;
	margin: 5px;
}

/*-------------------------
	The Digits
--------------------------*/

:host /deep/ .digits div{
	text-align:left;
	position:relative;
	width: 28px;
	height:50px;
	display:inline-block;
	margin:0 4px;
}

:host /deep/ .digits div span{
	opacity:0;
	position:absolute;

	-webkit-transition:0.25s;
	-moz-transition:0.25s;
	transition:0.25s;
}

:host /deep/ .digits div span:before,
:host /deep/ .digits div span:after{
	content:'';
	position:absolute;
	width:0;
	height:0;
	border:5px solid transparent;
}

:host /deep/ .digits .d1{			height:5px;width:16px;top:0;left:6px;}
:host /deep/ .digits .d1:before{	border-width:0 5px 5px 0;border-right-color:inherit;left:-5px;}
:host /deep/ .digits .d1:after{	border-width:0 0 5px 5px;border-left-color:inherit;right:-5px;}

:host /deep/ .digits .d2{			height:5px;width:16px;top:24px;left:6px;}
:host /deep/ .digits .d2:before{	border-width:3px 4px 2px;border-right-color:inherit;left:-8px;}
:host /deep/ .digits .d2:after{	border-width:3px 4px 2px;border-left-color:inherit;right:-8px;}

:host /deep/ .digits .d3{			height:5px;width:16px;top:48px;left:6px;}
:host /deep/ .digits .d3:before{	border-width:5px 5px 0 0;border-right-color:inherit;left:-5px;}
:host /deep/ .digits .d3:after{	border-width:5px 0 0 5px;border-left-color:inherit;right:-5px;}

:host /deep/ .digits .d4{			width:5px;height:14px;top:7px;left:0;}
:host /deep/ .digits .d4:before{	border-width:0 5px 5px 0;border-bottom-color:inherit;top:-5px;}
:host /deep/ .digits .d4:after{	border-width:0 0 5px 5px;border-left-color:inherit;bottom:-5px;}

:host /deep/ .digits .d5{			width:5px;height:14px;top:7px;right:0;}
:host /deep/ .digits .d5:before{	border-width:0 0 5px 5px;border-bottom-color:inherit;top:-5px;}
:host /deep/ .digits .d5:after{	border-width:5px 0 0 5px;border-top-color:inherit;bottom:-5px;}

:host /deep/ .digits .d6{			width:5px;height:14px;top:32px;left:0;}
:host /deep/ .digits .d6:before{	border-width:0 5px 5px 0;border-bottom-color:inherit;top:-5px;}
:host /deep/ .digits .d6:after{	border-width:0 0 5px 5px;border-left-color:inherit;bottom:-5px;}

:host /deep/ .digits .d7{			width:5px;height:14px;top:32px;right:0;}
:host /deep/ .digits .d7:before{	border-width:0 0 5px 5px;border-bottom-color:inherit;top:-5px;}
:host /deep/ .digits .d7:after{	border-width:5px 0 0 5px;border-top-color:inherit;bottom:-5px;}


/* 1 */

:host /deep/ .digits div.one .d5,
:host /deep/ .digits div.one .d7{
	opacity:1;
}

/* 2 */

:host /deep/ .digits div.two .d1,
:host /deep/ .digits div.two .d5,
:host /deep/ .digits div.two .d2,
:host /deep/ .digits div.two .d6,
:host /deep/ .digits div.two .d3{
	opacity:1;
}

/* 3 */

:host /deep/ .digits div.three .d1,
:host /deep/ .digits div.three .d5,
:host /deep/ .digits div.three .d2,
:host /deep/ .digits div.three .d7,
:host /deep/ .digits div.three .d3{
	opacity:1;
}

/* 4 */

:host /deep/ .digits div.four .d5,
:host /deep/ .digits div.four .d2,
:host /deep/ .digits div.four .d4,
:host /deep/ .digits div.four .d7{
	opacity:1;
}

/* 5 */

:host /deep/ .digits div.five .d1,
:host /deep/ .digits div.five .d2,
:host /deep/ .digits div.five .d4,
:host /deep/ .digits div.five .d3,
:host /deep/ .digits div.five .d7{
	opacity:1;
}

/* 6 */

:host /deep/ .digits div.six .d1,
:host /deep/ .digits div.six .d2,
:host /deep/ .digits div.six .d4,
:host /deep/ .digits div.six .d3,
:host /deep/ .digits div.six .d6,
:host /deep/ .digits div.six .d7{
	opacity:1;
}


/* 7 */

:host /deep/ .digits div.seven .d1,
:host /deep/ .digits div.seven .d5,
:host /deep/ .digits div.seven .d7{
	opacity:1;
}

/* 8 */

:host /deep/ .digits div.eight .d1,
:host /deep/ .digits div.eight .d2,
:host /deep/ .digits div.eight .d3,
:host /deep/ .digits div.eight .d4,
:host /deep/ .digits div.eight .d5,
:host /deep/ .digits div.eight .d6,
:host /deep/ .digits div.eight .d7{
	opacity:1;
}

/* 9 */

:host /deep/ .digits div.nine .d1,
:host /deep/ .digits div.nine .d2,
:host /deep/ .digits div.nine .d3,
:host /deep/ .digits div.nine .d4,
:host /deep/ .digits div.nine .d5,
:host /deep/ .digits div.nine .d7{
	opacity:1;
}

/* 0 */

:host /deep/ .digits div.zero .d1,
:host /deep/ .digits div.zero .d3,
:host /deep/ .digits div.zero .d4,
:host /deep/ .digits div.zero .d5,
:host /deep/ .digits div.zero .d6,
:host /deep/ .digits div.zero .d7{
	opacity:1;
}

/* The dots */

:host /deep/ .digits div.dots{
	width:5px;
}

:host /deep/ .digits div.dots:before,
:host /deep/ .digits div.dots:after{
	width:5px;
	height:5px;
	content:'';
	position:absolute;
	left:0;
	top:14px;
}

:host /deep/ .digits div.dots:after{
	top:34px;
}

/*-------------------------
	Weekdays
--------------------------*/

:host /deep/ .weekdays{
	font-size:12px;
	position:absolute;
	width:100%;
	top:10px;
	left:0;
	text-align:center;
}


:host /deep/ .weekdays span{
	opacity:0.2;
	padding:0 10px;
}

:host /deep/ .weekdays span.active{
	opacity:1;
}

/*-------------------------
		AM/PM
--------------------------*/

:host /deep/ .ampm{
	position:absolute;
	bottom:20px;
	right:20px;
	font-size:12px;
}
