@charset "UTF-8";
/* CSS Document */
.icon64-usage-scene { background-image:url(scene/usage_64.png);}
.icon32-usage-scene { background-image:url(scene/usage_32.png);}
.icon16-usage-scene { background-image:url(scene/usage_16.png);}
.icon64-usage-light { background-image:url(light/usage_64.png);}
.icon32-usage-light { background-image:url(light/usage_32.png);}
.icon16-usage-light { background-image:url(light/usage_16.png);}
.icon64-usage-appliance { background-image:url(appliance/usage_64.png);}
.icon32-usage-appliance { background-image:url(appliance/usage_32.png);}
.icon16-usage-appliance { background-image:url(appliance/usage_16.png);}
.icon64-usage-shutter { background-image:url(shutter/usage_64.png);}
.icon32-usage-shutter { background-image:url(shutter/usage_32.png);}
.icon16-usage-shutter { background-image:url(shutter/usage_16.png);}
.icon64-usage-air_conditionning { background-image:url(air_conditionning/usage_64.png);}
.icon32-usage-air_conditionning { background-image:url(air_conditionning/usage_32.png);}
.icon16-usage-air_conditionning { background-image:url(air_conditionning/usage_16.png);}
.icon64-usage-ventilation { background-image:url(ventilation/usage_64.png);}
.icon32-usage-ventilation { background-image:url(ventilation/usage_32.png);}
.icon16-usage-ventilation { background-image:url(ventilation/usage_16.png);}
.icon64-usage-heating { background-image:url(heating/usage_64.png);}
.icon32-usage-heating { background-image:url(heating/usage_32.png);}
.icon16-usage-heating { background-image:url(heating/usage_16.png);}
.icon64-usage-computer { background-image:url(computer/usage_64.png);}
.icon32-usage-computer { background-image:url(computer/usage_32.png);}
.icon16-usage-computer { background-image:url(computer/usage_16.png);}
.icon64-usage-server { background-image:url(server/usage_64.png);}
.icon32-usage-server { background-image:url(server/usage_32.png);}
.icon16-usage-server { background-image:url(server/usage_16.png);}
.icon64-usage-telephony { background-image:url(telephony/usage_64.png);}
.icon32-usage-telephony { background-image:url(telephony/usage_32.png);}
.icon16-usage-telephony { background-image:url(telephony/usage_16.png);}
.icon64-usage-tv { background-image:url(tv/usage_64.png);}
.icon32-usage-tv { background-image:url(tv/usage_32.png);}
.icon16-usage-tv { background-image:url(tv/usage_16.png);}
.icon64-usage-water { background-image:url(water/usage_64.png);}
.icon32-usage-water { background-image:url(water/usage_32.png);}
.icon16-usage-water { background-image:url(water/usage_16.png);}
.icon64-usage-gas { background-image:url(default/0_64.png);}
.icon32-usage-gas { background-image:url(default/0_32.png);}
.icon16-usage-gas { background-image:url(default/0_16.png);}
.icon64-usage-electricity { background-image:url(electricity/usage_64.png);}
.icon32-usage-electricity { background-image:url(electricity/usage_32.png);}
.icon16-usage-electricity { background-image:url(electricity/usage_16.png);}
.icon64-usage-temperature { background-image:url(temperature/usage_64.png);}
.icon32-usage-temperature { background-image:url(temperature/usage_32.png);}
.icon16-usage-temperature { background-image:url(temperature/usage_16.png);}
.icon64-usage-mirror { background-image:url(mirror/usage_64.png);}
.icon32-usage-mirror { background-image:url(mirror/usage_32.png);}
.icon16-usage-mirror { background-image:url(mirror/usage_16.png);}
.icon64-usage-nanoztag { background-image:url(nanoztag/usage_64.png);}
.icon32-usage-nanoztag { background-image:url(nanoztag/usage_32.png);}
.icon16-usage-nanoztag { background-image:url(nanoztag/usage_16.png);}
.icon64-usage-music { background-image:url(music/usage_64.png);}
.icon32-usage-music { background-image:url(music/usage_32.png);}
.icon16-usage-music { background-image:url(music/usage_16.png);}
.icon64-usage-christmas_tree { background-image:url(christmas_tree/usage_64.png);}
.icon32-usage-christmas_tree { background-image:url(christmas_tree/usage_32.png);}
.icon16-usage-christmas_tree { background-image:url(christmas_tree/usage_16.png);}
.icon64-usage-water_tank { background-image:url(water_tank/usage_64.png);}
.icon32-usage-water_tank { background-image:url(water_tank/usage_32.png);}
.icon16-usage-water_tank { background-image:url(water_tank/usage_16.png);}
.icon64-usage-portal { background-image:url(portal/usage_64.png);}
.icon32-usage-portal { background-image:url(portal/usage_32.png);}
.icon16-usage-portal { background-image:url(portal/usage_16.png);}
.icon64-usage-security_camera { background-image:url(security_camera/usage_64.png);}
.icon32-usage-security_camera { background-image:url(security_camera/usage_32.png);}
.icon16-usage-security_camera { background-image:url(security_camera/usage_16.png);}
.icon64-usage-cron { background-image:url(cron/usage_64.png);}
.icon32-usage-cron { background-image:url(cron/usage_32.png);}
.icon16-usage-cron { background-image:url(cron/usage_16.png);}
.icon64-usage-door { background-image:url(door/usage_64.png);}
.icon32-usage-door { background-image:url(door/usage_32.png);}
.icon16-usage-door { background-image:url(door/usage_16.png);}
.icon64-usage-window { background-image:url(window/usage_64.png);}
.icon32-usage-window { background-image:url(window/usage_32.png);}
.icon16-usage-window { background-image:url(window/usage_16.png);}

/* State icons */

.icon32-usage-scene.actuator.binary.unknown { background-image:url(scene/undefined_32.png);}
.icon32-usage-scene.actuator.binary.value_0 { background-image:url(scene/0_32.png);}
.icon32-usage-scene.actuator.binary.value_1 { background-image:url(scene/100_32.png);}
.icon32-usage-scene.sensor.boolean.unknown { background-image:url(scene/undefined_32.png);}
.icon32-usage-scene.sensor.boolean.value_true { background-image:url(scene/100_32.png);}
.icon32-usage-scene.sensor.boolean.value_false { background-image:url(scene/0_32.png);}

.icon32-usage-light.actuator.binary.unknown { background-image:url(light/undefined_32.png);}
.icon32-usage-light.actuator.binary.value_0 { background-image:url(light/0_32.png);}
.icon32-usage-light.actuator.binary.value_1 { background-image:url(light/100_32.png);}
.icon32-usage-light.actuator.trigger { background-image:url(light/undefined_32.png);}
.icon32-usage-light.actuator.number { background-image:url(light/100_32.png);}
.icon32-usage-light.actuator.range.unknown { background-image:url(light/undefined_32.png);}
.icon32-usage-light.actuator.range.value_0 { background-image:url(light/0_32.png);}
.icon32-usage-light.actuator.range.value_10 { background-image:url(light/10_32.png);}
.icon32-usage-light.actuator.range.value_20 { background-image:url(light/20_32.png);}
.icon32-usage-light.actuator.range.value_30 { background-image:url(light/30_32.png);}
.icon32-usage-light.actuator.range.value_40 { background-image:url(light/40_32.png);}
.icon32-usage-light.actuator.range.value_50 { background-image:url(light/50_32.png);}
.icon32-usage-light.actuator.range.value_60 { background-image:url(light/60_32.png);}
.icon32-usage-light.actuator.range.value_70 { background-image:url(light/70_32.png);}
.icon32-usage-light.actuator.range.value_80 { background-image:url(light/80_32.png);}
.icon32-usage-light.actuator.range.value_90 { background-image:url(light/90_32.png);}
.icon32-usage-light.actuator.range.value_100 { background-image:url(light/100_32.png);}
.icon32-usage-light.sensor.boolean.unknown { background-image:url(light/undefined_32.png);}
.icon32-usage-light.sensor.boolean.value_true { background-image:url(light/100_32.png);}
.icon32-usage-light.sensor.boolean.value_false { background-image:url(light/0_32.png);}
.icon32-usage-light.sensor.number.unknown { background-image:url(light/undefined_32.png);}
.icon32-usage-light.sensor.number.known { background-image:url(light/100_32.png);}
.icon32-usage-light.sensor.string.unknown { background-image:url(light/undefined_32.png);}
.icon32-usage-light.sensor.string.known { background-image:url(light/100_32.png);}

.icon32-usage-appliance.actuator.binary.unknown { background-image:url(appliance/undefined_32.png);}
.icon32-usage-appliance.actuator.binary.value_0 { background-image:url(appliance/0_32.png);}
.icon32-usage-appliance.actuator.binary.value_1 { background-image:url(appliance/100_32.png);}
.icon32-usage-appliance.actuator.trigger { background-image:url(appliance/undefined_32.png);}
.icon32-usage-appliance.actuator.number { background-image:url(appliance/100_32.png);}
.icon32-usage-appliance.actuator.range.unknown { background-image:url(appliance/undefined_32.png);}
.icon32-usage-appliance.actuator.range.value_0 { background-image:url(appliance/0_32.png);}
.icon32-usage-appliance.actuator.range.value_10 { background-image:url(appliance/10_32.png);}
.icon32-usage-appliance.actuator.range.value_20 { background-image:url(appliance/20_32.png);}
.icon32-usage-appliance.actuator.range.value_30 { background-image:url(appliance/30_32.png);}
.icon32-usage-appliance.actuator.range.value_40 { background-image:url(appliance/40_32.png);}
.icon32-usage-appliance.actuator.range.value_50 { background-image:url(appliance/50_32.png);}
.icon32-usage-appliance.actuator.range.value_60 { background-image:url(appliance/60_32.png);}
.icon32-usage-appliance.actuator.range.value_70 { background-image:url(appliance/70_32.png);}
.icon32-usage-appliance.actuator.range.value_80 { background-image:url(appliance/80_32.png);}
.icon32-usage-appliance.actuator.range.value_90 { background-image:url(appliance/90_32.png);}
.icon32-usage-appliance.actuator.range.value_100 { background-image:url(appliance/100_32.png);}
.icon32-usage-appliance.sensor.boolean.unknown { background-image:url(appliance/undefined_32.png);}
.icon32-usage-appliance.sensor.boolean.value_true { background-image:url(appliance/100_32.png);}
.icon32-usage-appliance.sensor.boolean.value_false { background-image:url(appliance/0_32.png);}
.icon32-usage-appliance.sensor.number.unknown { background-image:url(appliance/undefined_32.png);}
.icon32-usage-appliance.sensor.number.known { background-image:url(appliance/100_32.png);}
.icon32-usage-appliance.sensor.string.unknown { background-image:url(appliance/undefined_32.png);}
.icon32-usage-appliance.sensor.string.known { background-image:url(appliance/100_32.png);}

.icon32-usage-shutter.actuator.binary.unknown { background-image:url(shutter/undefined_32.png);}
.icon32-usage-shutter.actuator.binary.value_0 { background-image:url(shutter/0_32.png);}
.icon32-usage-shutter.actuator.binary.value_1 { background-image:url(shutter/100_32.png);}
.icon32-usage-shutter.actuator.trigger { background-image:url(shutter/undefined_32.png);}
.icon32-usage-shutter.actuator.number { background-image:url(shutter/100_32.png);}
.icon32-usage-shutter.actuator.range.unknown { background-image:url(shutter/undefined_32.png);}
.icon32-usage-shutter.actuator.range.value_0 { background-image:url(shutter/0_32.png);}
.icon32-usage-shutter.actuator.range.value_10 { background-image:url(shutter/10_32.png);}
.icon32-usage-shutter.actuator.range.value_20 { background-image:url(shutter/20_32.png);}
.icon32-usage-shutter.actuator.range.value_30 { background-image:url(shutter/30_32.png);}
.icon32-usage-shutter.actuator.range.value_40 { background-image:url(shutter/40_32.png);}
.icon32-usage-shutter.actuator.range.value_50 { background-image:url(shutter/50_32.png);}
.icon32-usage-shutter.actuator.range.value_60 { background-image:url(shutter/60_32.png);}
.icon32-usage-shutter.actuator.range.value_70 { background-image:url(shutter/70_32.png);}
.icon32-usage-shutter.actuator.range.value_80 { background-image:url(shutter/80_32.png);}
.icon32-usage-shutter.actuator.range.value_90 { background-image:url(shutter/90_32.png);}
.icon32-usage-shutter.actuator.range.value_100 { background-image:url(shutter/100_32.png);}
.icon32-usage-shutter.sensor.boolean.unknown { background-image:url(shutter/undefined_32.png);}
.icon32-usage-shutter.sensor.boolean.value_true { background-image:url(shutter/100_32.png);}
.icon32-usage-shutter.sensor.boolean.value_false { background-image:url(shutter/0_32.png);}
.icon32-usage-shutter.sensor.number.unknown { background-image:url(shutter/undefined_32.png);}
.icon32-usage-shutter.sensor.number.known { background-image:url(shutter/100_32.png);}
.icon32-usage-shutter.sensor.string.unknown { background-image:url(shutter/undefined_32.png);}
.icon32-usage-shutter.sensor.string.known { background-image:url(shutter/100_32.png);}

.icon32-usage-air_conditionning.actuator.binary.unknown { background-image:url(air_conditionning/undefined_32.png);}
.icon32-usage-air_conditionning.actuator.binary.value_0 { background-image:url(air_conditionning/0_32.png);}
.icon32-usage-air_conditionning.actuator.binary.value_1 { background-image:url(air_conditionning/100_32.png);}
.icon32-usage-air_conditionning.actuator.trigger { background-image:url(air_conditionning/undefined_32.png);}
.icon32-usage-air_conditionning.actuator.number { background-image:url(air_conditionning/100_32.png);}
.icon32-usage-air_conditionning.actuator.range.unknown { background-image:url(air_conditionning/undefined_32.png);}
.icon32-usage-air_conditionning.actuator.range.value_0 { background-image:url(air_conditionning/0_32.png);}
.icon32-usage-air_conditionning.actuator.range.value_10 { background-image:url(air_conditionning/10_32.png);}
.icon32-usage-air_conditionning.actuator.range.value_20 { background-image:url(air_conditionning/20_32.png);}
.icon32-usage-air_conditionning.actuator.range.value_30 { background-image:url(air_conditionning/30_32.png);}
.icon32-usage-air_conditionning.actuator.range.value_40 { background-image:url(air_conditionning/40_32.png);}
.icon32-usage-air_conditionning.actuator.range.value_50 { background-image:url(air_conditionning/50_32.png);}
.icon32-usage-air_conditionning.actuator.range.value_60 { background-image:url(air_conditionning/60_32.png);}
.icon32-usage-air_conditionning.actuator.range.value_70 { background-image:url(air_conditionning/70_32.png);}
.icon32-usage-air_conditionning.actuator.range.value_80 { background-image:url(air_conditionning/80_32.png);}
.icon32-usage-air_conditionning.actuator.range.value_90 { background-image:url(air_conditionning/90_32.png);}
.icon32-usage-air_conditionning.actuator.range.value_100 { background-image:url(air_conditionning/100_32.png);}
.icon32-usage-air_conditionning.sensor.boolean.unknown { background-image:url(air_conditionning/undefined_32.png);}
.icon32-usage-air_conditionning.sensor.boolean.known { background-image:url(air_conditionning/100_32.png);}
.icon32-usage-air_conditionning.sensor.number.unknown { background-image:url(air_conditionning/undefined_32.png);}
.icon32-usage-air_conditionning.sensor.number.value_true { background-image:url(air_conditionning/100_32.png);}
.icon32-usage-air_conditionning.sensor.number.value_false { background-image:url(air_conditionning/0_32.png);}
.icon32-usage-air_conditionning.sensor.string.unknown { background-image:url(air_conditionning/undefined_32.png);}
.icon32-usage-air_conditionning.sensor.string.known { background-image:url(air_conditionning/100_32.png);}

.icon32-usage-ventilation.actuator.binary.unknown { background-image:url(ventilation/undefined_32.png);}
.icon32-usage-ventilation.actuator.binary.value_0 { background-image:url(ventilation/0_32.png);}
.icon32-usage-ventilation.actuator.binary.value_1 { background-image:url(ventilation/100_32.png);}
.icon32-usage-ventilation.actuator.trigger { background-image:url(ventilation/undefined_32.png);}
.icon32-usage-ventilation.actuator.number { background-image:url(ventilation/100_32.png);}
.icon32-usage-ventilation.actuator.range.unknown { background-image:url(ventilation/undefined_32.png);}
.icon32-usage-ventilation.actuator.range.value_0 { background-image:url(ventilation/0_32.png);}
.icon32-usage-ventilation.actuator.range.value_10 { background-image:url(ventilation/10_32.png);}
.icon32-usage-ventilation.actuator.range.value_20 { background-image:url(ventilation/20_32.png);}
.icon32-usage-ventilation.actuator.range.value_30 { background-image:url(ventilation/30_32.png);}
.icon32-usage-ventilation.actuator.range.value_40 { background-image:url(ventilation/40_32.png);}
.icon32-usage-ventilation.actuator.range.value_50 { background-image:url(ventilation/50_32.png);}
.icon32-usage-ventilation.actuator.range.value_60 { background-image:url(ventilation/60_32.png);}
.icon32-usage-ventilation.actuator.range.value_70 { background-image:url(ventilation/70_32.png);}
.icon32-usage-ventilation.actuator.range.value_80 { background-image:url(ventilation/80_32.png);}
.icon32-usage-ventilation.actuator.range.value_90 { background-image:url(ventilation/90_32.png);}
.icon32-usage-ventilation.actuator.range.value_100 { background-image:url(ventilation/100_32.png);}
.icon32-usage-ventilation.sensor.boolean.unknown { background-image:url(ventilation/undefined_32.png);}
.icon32-usage-ventilation.sensor.boolean.value_true { background-image:url(ventilation/100_32.png);}
.icon32-usage-ventilation.sensor.boolean.value_false { background-image:url(ventilation/0_32.png);}
.icon32-usage-ventilation.sensor.number.unknown { background-image:url(ventilation/undefined_32.png);}
.icon32-usage-ventilation.sensor.number.known { background-image:url(ventilation/100_32.png);}
.icon32-usage-ventilation.sensor.string.unknown { background-image:url(ventilation/undefined_32.png);}
.icon32-usage-ventilation.sensor.string.known { background-image:url(ventilation/100_32.png);}

.icon32-usage-heating.actuator.binary.unknown { background-image:url(heating/undefined_32.png);}
.icon32-usage-heating.actuator.binary.value_0 { background-image:url(heating/0_32.png);}
.icon32-usage-heating.actuator.binary.value_1 { background-image:url(heating/100_32.png);}
.icon32-usage-heating.actuator.trigger { background-image:url(heating/undefined_32.png);}
.icon32-usage-heating.actuator.number { background-image:url(heating/100_32.png);}
.icon32-usage-heating.actuator.range.unknown { background-image:url(heating/undefined_32.png);}
.icon32-usage-heating.actuator.range.value_0 { background-image:url(heating/0_32.png);}
.icon32-usage-heating.actuator.range.value_100 { background-image:url(heating/100_32.png);}
.icon32-usage-heating.sensor.boolean.unknown { background-image:url(heating/undefined_32.png);}
.icon32-usage-heating.sensor.boolean.value_true { background-image:url(heating/100_32.png);}
.icon32-usage-heating.sensor.boolean.value_false { background-image:url(heating/0_32.png);}
.icon32-usage-heating.sensor.number.unknown { background-image:url(heating/undefined_32.png);}
.icon32-usage-heating.sensor.number.known { background-image:url(heating/100_32.png);}
.icon32-usage-heating.sensor.string.unknown { background-image:url(heating/undefined_32.png);}
.icon32-usage-heating.sensor.string.known { background-image:url(heating/100_32.png);}

.icon32-usage-computer.actuator.binary.unknown { background-image:url(computer/undefined_32.png);}
.icon32-usage-computer.actuator.binary.value_0 { background-image:url(computer/0_32.png);}
.icon32-usage-computer.actuator.binary.value_1 { background-image:url(computer/100_32.png);}
.icon32-usage-computer.actuator.trigger { background-image:url(computer/undefined_32.png);}
.icon32-usage-computer.actuator.number { background-image:url(computer/100_32.png);}
.icon32-usage-computer.actuator.range.unknown { background-image:url(computer/undefined_32.png);}
.icon32-usage-computer.actuator.range.value_0 { background-image:url(computer/0_32.png);}
.icon32-usage-computer.actuator.range.value_100 { background-image:url(computer/100_32.png);}
.icon32-usage-computer.sensor.boolean.unknown { background-image:url(computer/undefined_32.png);}
.icon32-usage-computer.sensor.boolean.value_true { background-image:url(computer/100_32.png);}
.icon32-usage-computer.sensor.boolean.value_false { background-image:url(computer/0_32.png);}
.icon32-usage-computer.sensor.number.unknown { background-image:url(computer/undefined_32.png);}
.icon32-usage-computer.sensor.number.known { background-image:url(computer/100_32.png);}
.icon32-usage-computer.sensor.string.unknown { background-image:url(computer/undefined_32.png);}
.icon32-usage-computer.sensor.string.known { background-image:url(computer/100_32.png);}

.icon32-usage-server.actuator.binary.unknown { background-image:url(server/undefined_32.png);}
.icon32-usage-server.actuator.binary.value_0 { background-image:url(server/0_32.png);}
.icon32-usage-server.actuator.binary.value_1 { background-image:url(server/100_32.png);}
.icon32-usage-server.actuator.trigger { background-image:url(server/undefined_32.png);}
.icon32-usage-server.actuator.number { background-image:url(server/100_32.png);}
.icon32-usage-server.actuator.range.unknown { background-image:url(server/undefined_32.png);}
.icon32-usage-server.actuator.range.value_0 { background-image:url(server/0_32.png);}
.icon32-usage-server.actuator.range.value_100 { background-image:url(server/100_32.png);}
.icon32-usage-server.sensor.boolean.unknown { background-image:url(server/undefined_32.png);}
.icon32-usage-server.sensor.boolean.value_true { background-image:url(server/100_32.png);}
.icon32-usage-server.sensor.boolean.value_false { background-image:url(server/0_32.png);}
.icon32-usage-server.sensor.number.unknown { background-image:url(server/undefined_32.png);}
.icon32-usage-server.sensor.number.known { background-image:url(server/100_32.png);}
.icon32-usage-server.sensor.string.unknown { background-image:url(server/undefined_32.png);}
.icon32-usage-server.sensor.string.known { background-image:url(server/100_32.png);}

.icon32-usage-telephony.actuator.binary.unknown { background-image:url(telephony/undefined_32.png);}
.icon32-usage-telephony.actuator.binary.value_0 { background-image:url(telephony/0_32.png);}
.icon32-usage-telephony.actuator.binary.value_1 { background-image:url(telephony/100_32.png);}
.icon32-usage-telephony.actuator.trigger { background-image:url(telephony/undefined_32.png);}
.icon32-usage-telephony.actuator.number { background-image:url(telephony/100_32.png);}
.icon32-usage-telephony.actuator.range.unknown { background-image:url(telephony/undefined_32.png);}
.icon32-usage-telephony.actuator.range.value_0 { background-image:url(telephony/0_32.png);}
.icon32-usage-telephony.actuator.range.value_100 { background-image:url(telephony/100_32.png);}
.icon32-usage-telephony.sensor.boolean.unknown { background-image:url(telephony/undefined_32.png);}
.icon32-usage-telephony.sensor.boolean.value_true { background-image:url(telephony/100_32.png);}
.icon32-usage-telephony.sensor.boolean.value_false { background-image:url(telephony/0_32.png);}
.icon32-usage-telephony.sensor.number.unknown { background-image:url(telephony/undefined_32.png);}
.icon32-usage-telephony.sensor.number.known { background-image:url(telephony/100_32.png);}
.icon32-usage-telephony.sensor.string.unknown { background-image:url(telephony/undefined_32.png);}
.icon32-usage-telephony.sensor.string.known { background-image:url(telephony/100_32.png);}

.icon32-usage-tv.actuator.binary.unknown { background-image:url(tv/undefined_32.png);}
.icon32-usage-tv.actuator.binary.value_0 { background-image:url(tv/0_32.png);}
.icon32-usage-tv.actuator.binary.value_1 { background-image:url(tv/100_32.png);}
.icon32-usage-tv.actuator.trigger { background-image:url(tv/undefined_32.png);}
.icon32-usage-tv.actuator.number { background-image:url(tv/100_32.png);}
.icon32-usage-tv.actuator.range.unknown { background-image:url(tv/undefined_32.png);}
.icon32-usage-tv.actuator.range.value_0 { background-image:url(tv/0_32.png);}
.icon32-usage-tv.actuator.range.value_100 { background-image:url(tv/100_32.png);}
.icon32-usage-tv.sensor.boolean.unknown { background-image:url(tv/undefined_32.png);}
.icon32-usage-tv.sensor.boolean.value_true { background-image:url(tv/100_32.png);}
.icon32-usage-tv.sensor.boolean.value_false { background-image:url(tv/0_32.png);}
.icon32-usage-tv.sensor.number.unknown { background-image:url(tv/undefined_32.png);}
.icon32-usage-tv.sensor.number.known { background-image:url(tv/100_32.png);}
.icon32-usage-tv.sensor.string.unknown { background-image:url(tv/undefined_32.png);}
.icon32-usage-tv.sensor.string.known { background-image:url(tv/100_32.png);}

.icon32-usage-water.actuator.binary.unknown { background-image:url(water/undefined_32.png);}
.icon32-usage-water.actuator.binary.value_0 { background-image:url(water/0_32.png);}
.icon32-usage-water.actuator.binary.value_1 { background-image:url(water/100_32.png);}
.icon32-usage-water.actuator.trigger { background-image:url(water/undefined_32.png);}
.icon32-usage-water.actuator.number { background-image:url(water/100_32.png);}
.icon32-usage-water.actuator.range.unknown { background-image:url(water/undefined_32.png);}
.icon32-usage-water.actuator.range.value_0 { background-image:url(water/0_32.png);}
.icon32-usage-water.actuator.range.value_100 { background-image:url(water/100_32.png);}
.icon32-usage-water.sensor.boolean.unknown { background-image:url(water/undefined_32.png);}
.icon32-usage-water.sensor.boolean.value_true { background-image:url(water/100_32.png);}
.icon32-usage-water.sensor.boolean.value_false { background-image:url(water/0_32.png);}
.icon32-usage-water.sensor.number.unknown { background-image:url(water/undefined_32.png);}
.icon32-usage-water.sensor.number.known { background-image:url(water/100_32.png);}
.icon32-usage-water.sensor.string.unknown { background-image:url(water/undefined_32.png);}
.icon32-usage-water.sensor.string.known { background-image:url(water/100_32.png);}

.icon32-usage-gas.actuator.binary.unknown { background-image:url(default/undefined_32.png);}
.icon32-usage-gas.actuator.binary.value_0 { background-image:url(default/0_32.png);}
.icon32-usage-gas.actuator.binary.value_1 { background-image:url(default/100_32.png);}
.icon32-usage-gas.actuator.trigger { background-image:url(default/undefined_32.png);}
.icon32-usage-gas.actuator.number { background-image:url(default/100_32.png);}
.icon32-usage-gas.actuator.range.unknown { background-image:url(default/undefined_32.png);}
.icon32-usage-gas.actuator.range.value_0 { background-image:url(default/0_32.png);}
.icon32-usage-gas.actuator.range.value_100 { background-image:url(default/100_32.png);}
.icon32-usage-gas.sensor.boolean.unknown { background-image:url(default/undefined_32.png);}
.icon32-usage-gas.sensor.boolean.value_true { background-image:url(default/100_32.png);}
.icon32-usage-gas.sensor.boolean.value_false { background-image:url(default/0_32.png);}
.icon32-usage-gas.sensor.number.unknown { background-image:url(default/undefined_32.png);}
.icon32-usage-gas.sensor.number.known { background-image:url(default/100_32.png);}
.icon32-usage-gas.sensor.string.unknown { background-image:url(default/undefined_32.png);}
.icon32-usage-gas.sensor.string.known { background-image:url(default/100_32.png);}

.icon32-usage-electricity.actuator.binary.unknown { background-image:url(electricity/undefined_32.png);}
.icon32-usage-electricity.actuator.binary.value_0 { background-image:url(electricity/0_32.png);}
.icon32-usage-electricity.actuator.binary.value_1 { background-image:url(electricity/100_32.png);}
.icon32-usage-electricity.actuator.trigger { background-image:url(electricity/undefined_32.png);}
.icon32-usage-electricity.actuator.number { background-image:url(electricity/100_32.png);}
.icon32-usage-electricity.actuator.range.unknown { background-image:url(electricity/undefined_32.png);}
.icon32-usage-electricity.actuator.range.value_0 { background-image:url(electricity/0_32.png);}
.icon32-usage-electricity.actuator.range.value_100 { background-image:url(electricity/100_32.png);}
.icon32-usage-electricity.sensor.boolean.unknown { background-image:url(electricity/undefined_32.png);}
.icon32-usage-electricity.sensor.boolean.value_true { background-image:url(electricity/100_32.png);}
.icon32-usage-electricity.sensor.boolean.value_false { background-image:url(electricity/0_32.png);}
.icon32-usage-electricity.sensor.number.unknown { background-image:url(electricity/undefined_32.png);}
.icon32-usage-electricity.sensor.number.known { background-image:url(electricity/100_32.png);}
.icon32-usage-electricity.sensor.string.unknown { background-image:url(electricity/undefined_32.png);}
.icon32-usage-electricity.sensor.string.known { background-image:url(electricity/100_32.png);}

.icon32-usage-temperature.actuator.binary.unknown { background-image:url(temperature/undefined_32.png);}
.icon32-usage-temperature.actuator.binary.value_0 { background-image:url(temperature/0_32.png);}
.icon32-usage-temperature.actuator.binary.value_1 { background-image:url(temperature/100_32.png);}
.icon32-usage-temperature.actuator.trigger { background-image:url(temperature/undefined_32.png);}
.icon32-usage-temperature.actuator.number { background-image:url(temperature/100_32.png);}
.icon32-usage-temperature.actuator.range.unknown { background-image:url(temperature/undefined_32.png);}
.icon32-usage-temperature.actuator.range.value_0 { background-image:url(temperature/0_32.png);}
.icon32-usage-temperature.actuator.range.value_100 { background-image:url(temperature/100_32.png);}
.icon32-usage-temperature.sensor.boolean.unknown { background-image:url(temperature/undefined_32.png);}
.icon32-usage-temperature.sensor.boolean.value_true { background-image:url(temperature/100_32.png);}
.icon32-usage-temperature.sensor.boolean.value_false { background-image:url(temperature/0_32.png);}
.icon32-usage-temperature.sensor.number.unknown { background-image:url(temperature/undefined_32.png);}
.icon32-usage-temperature.sensor.number.known { background-image:url(temperature/100_32.png);}
.icon32-usage-temperature.sensor.string.unknown { background-image:url(temperature/undefined_32.png);}
.icon32-usage-temperature.sensor.string.known { background-image:url(temperature/100_32.png);}

.icon32-usage-mirror.actuator.binary.unknown { background-image:url(mirror/undefined_32.png);}
.icon32-usage-mirror.actuator.binary.value_0 { background-image:url(mirror/0_32.png);}
.icon32-usage-mirror.actuator.binary.value_1 { background-image:url(mirror/100_32.png);}
.icon32-usage-mirror.actuator.trigger { background-image:url(mirror/undefined_32.png);}
.icon32-usage-mirror.actuator.number { background-image:url(mirror/100_32.png);}
.icon32-usage-mirror.actuator.range.unknown { background-image:url(mirror/undefined_32.png);}
.icon32-usage-mirror.actuator.range.value_0 { background-image:url(mirror/0_32.png);}
.icon32-usage-mirror.actuator.range.value_100 { background-image:url(mirror/100_32.png);}
.icon32-usage-mirror.sensor.boolean.unknown { background-image:url(mirror/undefined_32.png);}
.icon32-usage-mirror.sensor.boolean.value_true { background-image:url(mirror/100_32.png);}
.icon32-usage-mirror.sensor.boolean.value_false { background-image:url(mirror/0_32.png);}
.icon32-usage-mirror.sensor.number.unknown { background-image:url(mirror/undefined_32.png);}
.icon32-usage-mirror.sensor.number.known { background-image:url(mirror/100_32.png);}
.icon32-usage-mirror.sensor.string.unknown { background-image:url(mirror/undefined_32.png);}
.icon32-usage-mirror.sensor.string.known { background-image:url(mirror/100_32.png);}

.icon32-usage-nanoztag.actuator.binary.unknown { background-image:url(nanoztag/undefined_32.png);}
.icon32-usage-nanoztag.actuator.binary.value_0 { background-image:url(nanoztag/0_32.png);}
.icon32-usage-nanoztag.actuator.binary.value_1 { background-image:url(nanoztag/100_32.png);}
.icon32-usage-nanoztag.actuator.trigger { background-image:url(nanoztag/undefined_32.png);}
.icon32-usage-nanoztag.actuator.number { background-image:url(nanoztag/100_32.png);}
.icon32-usage-nanoztag.actuator.range.unknown { background-image:url(nanoztag/undefined_32.png);}
.icon32-usage-nanoztag.actuator.range.value_0 { background-image:url(nanoztag/0_32.png);}
.icon32-usage-nanoztag.actuator.range.value_100 { background-image:url(nanoztag/100_32.png);}
.icon32-usage-nanoztag.sensor.boolean.unknown { background-image:url(nanoztag/undefined_32.png);}
.icon32-usage-nanoztag.sensor.boolean.value_true { background-image:url(nanoztag/100_32.png);}
.icon32-usage-nanoztag.sensor.boolean.value_false { background-image:url(nanoztag/0_32.png);}
.icon32-usage-nanoztag.sensor.number.unknown { background-image:url(nanoztag/undefined_32.png);}
.icon32-usage-nanoztag.sensor.number.known { background-image:url(nanoztag/100_32.png);}
.icon32-usage-nanoztag.sensor.string.unknown { background-image:url(nanoztag/undefined_32.png);}
.icon32-usage-nanoztag.sensor.string.known { background-image:url(nanoztag/100_32.png);}

.icon32-usage-music.actuator.binary.unknown { background-image:url(music/undefined_32.png);}
.icon32-usage-music.actuator.binary.value_0 { background-image:url(music/0_32.png);}
.icon32-usage-music.actuator.binary.value_1 { background-image:url(music/100_32.png);}
.icon32-usage-music.actuator.trigger { background-image:url(music/undefined_32.png);}
.icon32-usage-music.actuator.number { background-image:url(music/100_32.png);}
.icon32-usage-music.actuator.range.unknown { background-image:url(music/undefined_32.png);}
.icon32-usage-music.actuator.range.value_0 { background-image:url(music/0_32.png);}
.icon32-usage-music.actuator.range.value_100 { background-image:url(music/100_32.png);}
.icon32-usage-music.sensor.boolean.unknown { background-image:url(music/undefined_32.png);}
.icon32-usage-music.sensor.boolean.value_true { background-image:url(music/100_32.png);}
.icon32-usage-music.sensor.boolean.value_false { background-image:url(music/0_32.png);}
.icon32-usage-music.sensor.number.unknown { background-image:url(music/undefined_32.png);}
.icon32-usage-music.sensor.number.known { background-image:url(music/100_32.png);}
.icon32-usage-music.sensor.string.unknown { background-image:url(music/undefined_32.png);}
.icon32-usage-music.sensor.string.known { background-image:url(music/100_32.png);}

.icon32-usage-water_tank.actuator.binary.unknown { background-image:url(water_tank/undefined_32.png);}
.icon32-usage-water_tank.actuator.binary.value_0 { background-image:url(water_tank/0_32.png);}
.icon32-usage-water_tank.actuator.binary.value_1 { background-image:url(water_tank/100_32.png);}
.icon32-usage-water_tank.actuator.trigger { background-image:url(water_tank/undefined_32.png);}
.icon32-usage-water_tank.actuator.number { background-image:url(water_tank/100_32.png);}
.icon32-usage-water_tank.actuator.range.unknown { background-image:url(water_tank/undefined_32.png);}
.icon32-usage-water_tank.actuator.range.value_0 { background-image:url(water_tank/0_32.png);}
.icon32-usage-water_tank.actuator.range.value_10 { background-image:url(water_tank/10_32.png);}
.icon32-usage-water_tank.actuator.range.value_20 { background-image:url(water_tank/20_32.png);}
.icon32-usage-water_tank.actuator.range.value_30 { background-image:url(water_tank/30_32.png);}
.icon32-usage-water_tank.actuator.range.value_40 { background-image:url(water_tank/40_32.png);}
.icon32-usage-water_tank.actuator.range.value_50 { background-image:url(water_tank/50_32.png);}
.icon32-usage-water_tank.actuator.range.value_60 { background-image:url(water_tank/60_32.png);}
.icon32-usage-water_tank.actuator.range.value_70 { background-image:url(water_tank/70_32.png);}
.icon32-usage-water_tank.actuator.range.value_80 { background-image:url(water_tank/80_32.png);}
.icon32-usage-water_tank.actuator.range.value_90 { background-image:url(water_tank/90_32.png);}
.icon32-usage-water_tank.actuator.range.value_100 { background-image:url(water_tank/100_32.png);}
.icon32-usage-water_tank.sensor.boolean.unknown { background-image:url(water_tank/undefined_32.png);}
.icon32-usage-water_tank.sensor.boolean.value_true { background-image:url(water_tank/100_32.png);}
.icon32-usage-water_tank.sensor.boolean.value_false { background-image:url(water_tank/0_32.png);}
.icon32-usage-water_tank.sensor.number.unknown { background-image:url(water_tank/undefined_32.png);}
.icon32-usage-water_tank.sensor.number.known { background-image:url(water_tank/100_32.png);}
.icon32-usage-water_tank.sensor.string.unknown { background-image:url(water_tank/undefined_32.png);}
.icon32-usage-water_tank.sensor.string.known { background-image:url(water_tank/100_32.png);}

.icon32-usage-christmas_tree.actuator.binary.unknown { background-image:url(christmas_tree/undefined_32.png);}
.icon32-usage-christmas_tree.actuator.binary.value_0 { background-image:url(christmas_tree/0_32.png);}
.icon32-usage-christmas_tree.actuator.binary.value_1 { background-image:url(christmas_tree/100_32.png);}
.icon32-usage-christmas_tree.actuator.trigger { background-image:url(christmas_tree/undefined_32.png);}
.icon32-usage-christmas_tree.actuator.number { background-image:url(christmas_tree/100_32.png);}
.icon32-usage-christmas_tree.actuator.range.unknown { background-image:url(christmas_tree/undefined_32.png);}
.icon32-usage-christmas_tree.actuator.range.value_0 { background-image:url(christmas_tree/0_32.png);}
.icon32-usage-christmas_tree.actuator.range.value_100 { background-image:url(christmas_tree/100_32.png);}
.icon32-usage-christmas_tree.sensor.boolean.unknown { background-image:url(christmas_tree/undefined_32.png);}
.icon32-usage-christmas_tree.sensor.boolean.value_true { background-image:url(christmas_tree/100_32.png);}
.icon32-usage-christmas_tree.sensor.boolean.value_false { background-image:url(christmas_tree/0_32.png);}
.icon32-usage-christmas_tree.sensor.number.unknown { background-image:url(christmas_tree/undefined_32.png);}
.icon32-usage-christmas_tree.sensor.number.known { background-image:url(christmas_tree/100_32.png);}
.icon32-usage-christmas_tree.sensor.string.unknown { background-image:url(christmas_tree/undefined_32.png);}
.icon32-usage-christmas_tree.sensor.string.known { background-image:url(christmas_tree/100_32.png);}

.icon32-usage-security_camera.actuator.binary.unknown { background-image:url(security_camera/undefined_32.png);}
.icon32-usage-security_camera.actuator.binary.value_0 { background-image:url(security_camera/0_32.png);}
.icon32-usage-security_camera.actuator.binary.value_1 { background-image:url(security_camera/100_32.png);}
.icon32-usage-security_camera.actuator.trigger { background-image:url(security_camera/undefined_32.png);}
.icon32-usage-security_camera.actuator.number { background-image:url(security_camera/100_32.png);}
.icon32-usage-security_camera.actuator.range.unknown { background-image:url(security_camera/undefined_32.png);}
.icon32-usage-security_camera.actuator.range.value_0 { background-image:url(security_camera/0_32.png);}
.icon32-usage-security_camera.actuator.range.value_100 { background-image:url(security_camera/100_32.png);}
.icon32-usage-security_camera.sensor.boolean.unknown { background-image:url(security_camera/undefined_32.png);}
.icon32-usage-security_camera.sensor.boolean.value_true { background-image:url(security_camera/100_32.png);}
.icon32-usage-security_camera.sensor.boolean.value_false { background-image:url(security_camera/0_32.png);}
.icon32-usage-security_camera.sensor.number.unknown { background-image:url(security_camera/undefined_32.png);}
.icon32-usage-security_camera.sensor.number.known { background-image:url(security_camera/100_32.png);}
.icon32-usage-security_camera.sensor.string.unknown { background-image:url(security_camera/undefined_32.png);}
.icon32-usage-security_camera.sensor.string.known { background-image:url(security_camera/100_32.png);}

.icon32-usage-portal.actuator.binary.unknown { background-image:url(portal/undefined_32.png);}
.icon32-usage-portal.actuator.binary.value_0 { background-image:url(portal/0_32.png);}
.icon32-usage-portal.actuator.binary.value_1 { background-image:url(portal/100_32.png);}
.icon32-usage-portal.actuator.trigger { background-image:url(portal/undefined_32.png);}
.icon32-usage-portal.actuator.number { background-image:url(portal/100_32.png);}
.icon32-usage-portal.actuator.range.unknown { background-image:url(portal/undefined_32.png);}
.icon32-usage-portal.actuator.range.value_0 { background-image:url(portal/0_32.png);}
.icon32-usage-portal.actuator.range.value_50 { background-image:url(portal/50_32.png);}
.icon32-usage-portal.actuator.range.value_100 { background-image:url(portal/100_32.png);}
.icon32-usage-portal.sensor.boolean.unknown { background-image:url(portal/undefined_32.png);}
.icon32-usage-portal.sensor.boolean.value_true { background-image:url(portal/100_32.png);}
.icon32-usage-portal.sensor.boolean.value_false { background-image:url(portal/0_32.png);}
.icon32-usage-portal.sensor.number.unknown { background-image:url(portal/undefined_32.png);}
.icon32-usage-portal.sensor.number.known { background-image:url(portal/100_32.png);}
.icon32-usage-portal.sensor.string.unknown { background-image:url(portal/undefined_32.png);}
.icon32-usage-portal.sensor.string.known { background-image:url(portal/100_32.png);}

.icon32-usage-door.actuator.binary.unknown { background-image:url(door/undefined_32.png);}
.icon32-usage-door.actuator.binary.value_0 { background-image:url(door/0_32.png);}
.icon32-usage-door.actuator.binary.value_1 { background-image:url(door/100_32.png);}
.icon32-usage-door.actuator.trigger { background-image:url(door/undefined_32.png);}
.icon32-usage-door.actuator.number { background-image:url(door/100_32.png);}
.icon32-usage-door.actuator.range.unknown { background-image:url(door/undefined_32.png);}
.icon32-usage-door.actuator.range.value_0 { background-image:url(door/0_32.png);}
.icon32-usage-door.actuator.range.value_50 { background-image:url(door/50_32.png);}
.icon32-usage-door.actuator.range.value_100 { background-image:url(door/100_32.png);}
.icon32-usage-door.sensor.boolean.unknown { background-image:url(door/undefined_32.png);}
.icon32-usage-door.sensor.boolean.value_true { background-image:url(door/100_32.png);}
.icon32-usage-door.sensor.boolean.value_false { background-image:url(door/0_32.png);}
.icon32-usage-door.sensor.number.unknown { background-image:url(door/undefined_32.png);}
.icon32-usage-door.sensor.number.known { background-image:url(door/100_32.png);}
.icon32-usage-door.sensor.string.unknown { background-image:url(door/undefined_32.png);}
.icon32-usage-door.sensor.string.known { background-image:url(door/100_32.png);}

.icon32-usage-window.actuator.binary.unknown { background-image:url(window/undefined_32.png);}
.icon32-usage-window.actuator.binary.value_0 { background-image:url(window/0_32.png);}
.icon32-usage-window.actuator.binary.value_1 { background-image:url(window/100_32.png);}
.icon32-usage-window.actuator.trigger { background-image:url(window/undefined_32.png);}
.icon32-usage-window.actuator.number { background-image:url(window/100_32.png);}
.icon32-usage-window.actuator.range.unknown { background-image:url(window/undefined_32.png);}
.icon32-usage-window.actuator.range.value_0 { background-image:url(window/0_32.png);}
.icon32-usage-window.actuator.range.value_50 { background-image:url(window/50_32.png);}
.icon32-usage-window.actuator.range.value_100 { background-image:url(window/100_32.png);}
.icon32-usage-window.sensor.boolean.unknown { background-image:url(window/undefined_32.png);}
.icon32-usage-window.sensor.boolean.value_true { background-image:url(window/100_32.png);}
.icon32-usage-window.sensor.boolean.value_false { background-image:url(window/0_32.png);}
.icon32-usage-window.sensor.number.unknown { background-image:url(window/undefined_32.png);}
.icon32-usage-window.sensor.number.known { background-image:url(window/100_32.png);}
.icon32-usage-window.sensor.string.unknown { background-image:url(window/undefined_32.png);}
.icon32-usage-window.sensor.string.known { background-image:url(window/100_32.png);}
