.dmg_1x1_basicActuatorHVACMode {
    text-align:center;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.dmg_1x1_basicActuatorHVACMode .indicator {
	position:absolute;
    top:0;
    left:0;
}

.dmg_1x1_basicActuatorHVACMode .command.Building_protec {background-image: url("images/nofreeze.gif");
background-color: #0000FF;
}
.dmg_1x1_basicActuatorHVACMode .command.economy {background-image: url("images/eco.png");
background-color: #0000FF;
}
.dmg_1x1_basicActuatorHVACMode .command.confort {background-image: url("images/confort.png");
background-color: #FF0000;
}
.dmg_1x1_basicActuatorHVACMode .command.stop {background-image: url("images/stop.gif");
background-color:#FF0000;
}

.dmg_1x1_basicActuatorHVACMode .command.close {
    background-color:transparent;
    background-image: url("images/close_36.png");
}
