a.customicons {
	height: 5em;
}
.customicons li a, a.customicons span.ui-selectmenu-status {
	line-height: 5em;
	padding-left: 70px !important;
}

.ui-selectmenu-item-icon {
    height: 64px;
    width: 64px;
    background-position:0 0;
    background-repeat:no-repeat;
    display: block;
    text-indent: -99999px;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    top: 1em;
    margin-top: -8px;
    left: 0pt;
}

ul.customize_list li a {
    padding:0.5em 0.5em 0.5em 20px;
    background-color: #fff;
    color: #000;
    border: 1px solid #666666;
    background-position: 0 50%;
    background-repeat: no-repeat;
    display:inline-block;
    margin:0.2em;
    text-decoration:none;
    -moz-border-radius: 0 0.8em 0.8em 0;
    -webkit-border-radius: 0 0.8em 0.8em 0;
    border-radius: 0 0.8em 0.8em 0;
}

#mmenu {
    margin: 1em;
}
#pages {
    padding: 1em;
    margin: 1em;
}