.repository, .package {
    display:inline-block;
    min-height:32px;
    line-height:32px;
    white-space:nowrap;
}

.repository .icon, .package .icon {
    float:left;
    background-position: 0% 50%;
    background-repeat:no-repeat;
    height:32px;
    width:32px;
    -webkit-background-size: auto 32px;
    -o-background-size: auto 32px;
    -moz-background-size: auto 32px;
    background-size: auto 32px;
    border:1px solid #9D9B9B;
    margin-right:1em;
}

.group {
    font-weight:bold;
}

ul.dependencies {
    list-style-type: disc;    
    font-size:1.1em;
}

ul.dependencies code {
    display:block;
    text-align:center;
    font-size:1.3em;
    border:1px solid #999999;
    background-color:#D5DBEE;
    padding:1em;
    margin-top:1em;
}

ul.dependencies li {
    clear:both;
    margin:0 0 1em 1em;
}