/*
#mainsection header {
    background-color: #4478AC;
    background-image: url(/design/common/images/plugins/ar_rgb.png);
    background-repeat: no-repeat;
    height: 100px;
    border: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
*/

#contentheader {
    text-align:right;
}

ul.infos {
    border:1px solid #cccccc;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    padding:1em;
    text-align:left;
}

ul.infos .label {
    font-weight:bold;
}

ul.dependencies {
    list-style-type: disc;    
    font-size:1.1em;
}

ul.dependencies code, ul.udevrules code {
    display:block;
    text-align:center;
    font-size:1.3em;
    border:1px solid #999999;
    background-color:#D5DBEE;
    padding:1em;
    margin-top:1em;
}

ul.dependencies li {
    clear:right;
    margin:0 0 1em 1em;
}