.icon-repository, .icon-package {
    display:inline-block;
    background-position: 0% 50%;
    background-repeat:no-repeat;
    min-height:32px;
    padding-left:32px;
    line-height:32px;
    -webkit-background-size: auto 32px;
    -o-background-size: auto 32px;
    -moz-background-size: auto 32px;
    background-size: auto 32px;
}

.group {
    font-weight:bold;
}