table.simple td.value {
    padding-left:20px;
    background-position: 0% 50%;
    background-repeat:no-repeat;
}

table.simple td {
    text-align:left !important;
}

#group_buttons {
    margin-top: 0;
    border-left: 1em solid #534F45;
    padding-left: 1em;
}

#grouped_configuration_items {
    margin-top: 1em;
    border-left: 1em solid #534F45;
    padding-left: 1em;
}

