{% extends "layouts/base_viewnew.html" %}
{% comment %}
# Copyright 2012 Domogik project

# This file is part of Domogik.
# Domogik is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# Domogik is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with Domogik.  If not, see <http://www.gnu.org/licenses/>.

# Author : Cédric Trévisan <cedric@domogik.org>
{% endcomment %}

{% load i18n %}
{% load text %}

{% block js_script %}
    var device_types = {{ device_types|safe }};
    var device_usages = {{ device_usages|safe }};
    $(function(){
        $('#closeform').click(function() {
            $('#loginform').hide();
        });
        
        $('#loginbutton').click(function() {
            $('#loginform').show();
            $('#loginform #password').focus();
        });
    });
{% endblock %}

{% block css %}
       <link href="/design/common/css/ui-buttons.css" rel="stylesheet" type="text/css" />
       <link href="/design/viewnew/css/view-page.css" rel="stylesheet" type="text/css" />
       <link href="/design/viewnew/theme/flowers/view-page.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block js_include %}
{% endblock %}

{% block title %}{{ page_title }}{% endblock %}

{% block body %}
    <header role='banner'>
        <h1>{{ page_title }}</h1>
        <nav role="navigation">
            <ul id="mainmenu">
            {% if not is_user_connected %}
                <li><a id="loginbutton" role="button" class="button_round icon32-menu-unlock-white" href="#" title="{% trans "Identify yourself" %}"><span class="offscreen">{% trans "Log in" %}</span></a></li>
            {% else %}
                <li><a role="button" class="button_round icon32-menu-widgets-white" href="#" title="{% trans "Place widgets" %}"><span class="offscreen">{% trans "Place widgets" %}</span></a></li>
                <li><a role="button" class="button_round icon32-menu-config-white" href="#" title="{% trans "Configure" %}"><span class="offscreen">{% trans "Configure" %}</span></a></li>
                <li><a role="button" class="button_round icon32-menu-lock-white" href="{% url logout_view %}?next={{ request.path }}" title="{% trans "Disconnect" %} {{ request.session.user.first_name }}"><span class="offscreen">{% trans "Log out" %} {{ request.session.user.first_name }}</span></a></li>
            {% endif %}
            </ul>
        </nav>
        {% if not is_user_connected %}
            <form id="loginform" role="form" class="hidden" action="{% url login_view %}?next={{ request.path }}" method="post">
                <label for="password">{% trans "Password" %}</label>
                <input id="login" name="login" type="hidden" value="admin" />
                <input id="password" type="password" name="password" placeholder="{% trans "Enter your password" %}" />
                <input type="submit" value="{% trans "Login" %}" class="button icon16-menu-unlock-black" />
                <a id="closeform" role="button" class="close icon36-action-close">
                    <span class="offscreen">{% trans "Close" %}</span>
                </a>
            </form>
        {% endif %}
    </header>
    <div role='main'></div>
    <footer>
        <nav role="navigation">
            <div id="tree"><a href='#'>&nbsp;<span class="offscreen">{% trans "Menu" %}</span></a></div>
            <ul id="breadcrumb">
                <li><a href='#' class="current">{{ page_title }}</a></li>
            </ul>
        </nav>
    </footer>
{% endblock %}