{% load i18n %}

<section class="subsection">
    <h2>{% trans "Configuration" %}</h2>
    {{ configurationform.non_field_errors }}
    <div id="clientForm">
        <table class='parameters' cellpadding='0' cellspacing='0' id='configuration'>
            <thead class='offscreen'>
                <tr>
                    <th scope='col'>Name</th>
                    <th scope='col'>Option</th>
                </tr>
            </thead>
            <tbody>
        {% for field in configurationform %}
            <tr class='{% cycle 'odd' 'even' %}'>
                <td class='name'>
                    <label for="{{ field.auto_id }}" class="{% if field.field.required %}required{% endif %}">
                       {{ field.label }} {% if field.field.required %}<span class="offscreen"> {% trans "(required)" %}</span>{% endif %}</span>
                    </label>
                    <div class='description'>{{ field.help_text }}</div>
                    {% if field.errors %}<div class='errors'>{{ field.errors }}</div>{% endif %}
                </td>
                <td class='input'>
                    {{ field }}
                </td>
            </tr>
        {% endfor %}
            </tbody>
        </table>
        <input id='saveconfiguration' type='button' value='Save' disabled='disabled'>
    </div>
</section>

