{% load i18n %}
{% load text %}

<script type='text/javascript'>
    $(function(){
        $('#SignupForm').stepy({
            next: function(index) {
                if (index == 2) {
                    var type_id = $('select#type').val();
                    rinor.get(['api', 'deviceparameters', type_id])
                    .done(function(data, status, xhr){
                        console.log(data);
                    })
                    .fail(function(jqXHR, status, error){
                    })
                    .always(function(){
                        $('#SignupForm').stepy('step', 2);
                    });
                    return false;
                }
            },
        }); 
    });
</script>

<section class="subsection">
    <h2>{% trans "Devices list" %}</h2>
    <table class='simple'>
        <tr>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Reference" %}</th>
            <th>{% trans "Type" %}</th>
            <th>{% trans "Sensors" %}</th>
            <th>Actions</th>
        </tr>
        {% for device in devices %}
        <tr class="{% cycle 'odd' 'even' %}">
            <td>{{ device.name|stripnl }}</td>
            <td>{{ device.reference|stripnl }}</td>
            <td>{{ device.type.name }}</td>
            <td><ul>
                {% for sensor in device.sensor_set.all %}
                    <li>{{ sensor.name }} : {{ sensor.last_value }} ({{ sensor.last_received|timestamp|date:"H:m:s d-m-Y" }})</li>
                {% endfor %}
            </td></ul>
            <td>
                <ul class="actions">
                    <li><a href='{% url admin_del_device_view device.id client.host client.package.id client.package.type %}' id='del{{ device.id }}' class='icon16-action-del buttonicon' title="{% trans "Delete" %} '{{ device.name }}'"><span class='offscreen'>{% trans "Delete" %} {{ device.name }}</span></a></li>
                    <!--li><button id="update{{ device.id }}" class="icon16-action-update buttonicon" title="{% trans "Modify" %} '{{ device.name }}'"><span class='offscreen'>{% trans "Modify" %} {{ device.name }}</span></button></li-->
                </ul>
            </td>
        </tr>
        {% endfor %}
    </table>
</section>
<section class="subsection">
    <h2>{% trans "Create new by product" %}</h2>
    <ul class='inline'>
        {% for product in package.packageproduct_set.all %}
        <li><a href='{% url admin_add_device_view client.id product.device_type.id %}' class='buttontext'>{{ product.name }}</a></li>
        {% endfor %} 
    </ul>
    <h2>{% trans "Create new by device type" %}</h2>
    <ul class='inline'>
        {% for type in package.packagedevicetype_set.all %}
        <li><a href='{% url admin_add_device_view client.id type.id %}' class='buttontext'>{{ type.name }}</a></li>
        {% endfor %} 
    </ul>
</section>
