body > .jGrowl.top-right {
    top:10px;
}

.jGrowl .jGrowl-header {
    background-position: center left;
    background-repeat: no-repeat;
    padding-left: 32px;
    line-height:32px;
}

.jGrowl .jGrowl-message {
    border-left-width: 2px;
    border-left-style: solid;
    padding-left:1em;
}

.jGrowl .success .jGrowl-header {
    background-image: url(../images/status/check_32.png);
    color: #5FE400;
}

.jGrowl .success .jGrowl-message {
    border-left-color: #5FE400;
}

.jGrowl .info .jGrowl-header {
    background-image: url(../images/status/info_32.png);
    color: #00ABE4;
}

.jGrowl .info .jGrowl-message {
    border-left-color: #00ABE4;
}

.jGrowl .warning .jGrowl-header {
    background-image: url(../images/status/warning_32.png);
    color: #E48200;
}

.jGrowl .warning .jGrowl-message {
    border-left-color: #E48200;
}

.jGrowl .error .jGrowl-header {
    background-image: url(../images/status/wrong_32.png);
    color: #E40800;
}

.jGrowl .error .jGrowl-message {
    border-left-color: #E40800;
}

.jGrowl .debug .jGrowl-header {
    background-image: url(../images/status/info_32.png);
    color: #00ABE4;
}

.jGrowl .debug .jGrowl-message {
    border-left-color: #00ABE4;
}

.jGrowl .jGrowl-message .url {
    display:block;
    font-size:0.8em;
    font-style: italic;
    margin-top:1em;
}