/* Based on https://github.com/SaraSoueidan/circular-navigation */
#main-menu nav {
	font-size: 1em;
	width: 26em;
	height: 26em;
	overflow: hidden;
	position: fixed;
	z-index: 15;
	bottom: -13em;
	right: -13em;
	border-radius: 50%;
	-webkit-transform: scale(0.1);
	-ms-transform: scale(0.1);
	-moz-transform: scale(0.1);
	transform: scale(0.1);
	pointer-events: none;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
}

#main-menu .opened-nav {
	border-radius: 50%;
	pointer-events: auto;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

#main-menu .cnbutton {
	outline: none;
	border: none;
	background: #2D2C2F url('../images/logo_highlight_small.png') 22px 22px no-repeat;
	height: 10em;
	width: 10em;
	position: fixed;
	right: -5em;
	bottom: -5em;
	border-radius: 50%;
	cursor: pointer;
	z-index: 20;
}

#main-menu .cnbutton:hover,
#main-menu .cnbutton:active,
#main-menu .cnbutton:focus {
	background-color: #ffffff;
}

#main-menu nav li {
	position: absolute;
	font-size: 1.5em;
	width: 10em;
	height: 10em;
	-webkit-transform-origin: 100% 100%;
	-moz-transform-origin: 100% 100%;
	-ms-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
	overflow: hidden;
	left: 50%;
/*				top: 50%;*/
	margin-top: -1.3em;
	margin-left: -10em;
	-webkit-transition: border .3s ease;
	-moz-transition: border .3s ease;
	transition: border .3s ease;
}

#main-menu nav li .menuitem {
	outline: none;
	display: block;
	font-size: 0.7em;
	height: 19em;
	width: 19em;
	position: absolute;
/*	position: fixed; /* fix the "displacement" bug in webkit browsers when using tab key */
	bottom: -7.25em;
	right: -7.25em;
	border-radius: 50%;
	text-decoration: none;
	color: #fff;
	padding-top: 4em;
	padding-right: 1em;
	text-align: center;
	cursor: pointer;
	-webkit-transform: skew(-60deg) rotate(-75deg) scale(1);
	-ms-transform: skew(-60deg) rotate(-75deg) scale(1);
	-moz-transform: skew(-60deg) rotate(-75deg) scale(1);
	transform: skew(-60deg) rotate(-75deg) scale(1);
	-webkit-backface-visibility: hidden;
	-webkit-transition: opacity 0.3s, color 0.3s;
	-moz-transition: opacity 0.3s, color 0.3s;
	transition: opacity 0.3s, color 0.3s;
}

#main-menu nav li .menuitem .label {
	font-size: 0.6em;
	opacity: 0.7;
	display: block;
	margin-bottom: 1.3em;
}

/* for a central angle x, the list items must be skewed by 90-x degrees
in our case x=40deg so skew angle is 50deg
items should be rotated by x, minus (sum of angles - 180)2s (for this demo) */

#main-menu nav li:nth-child(1) {
	-webkit-transform: rotate(0deg) skew(60deg);
	-ms-transform: rotate(0deg) skew(60deg);
	-moz-transform: rotate(0deg) skew(60deg);
	transform: rotate(0deg) skew(60deg);
}

#main-menu nav li:nth-child(2) {
	-webkit-transform: rotate(30deg) skew(60deg);
	-ms-transform: rotate(30deg) skew(60deg);
	-moz-transform: rotate(30deg) skew(60deg);
	transform: rotate(30deg) skew(60deg);
}

#main-menu nav li:nth-child(3) {
	-webkit-transform: rotate(60deg) skew(60deg);
	-ms-transform: rotate(60deg) skew(60deg);
	-moz-transform: rotate(60deg) skew(60deg);
	transform: rotate(60deg) skew(60deg)
}

#main-menu nav li:nth-child(odd) .menuitem {
	background-color: #005774;
}

#main-menu nav li:nth-child(even) .menuitem {
	background-color: #00506A;
}

#main-menu nav li .menuitem.finish {
	background-color: #B13822;
}

/* active style */
#main-menu nav li.active .menuitem {
	background-color: #2D2C2F;
}

/* hover style */
#main-menu nav li:not(.active) .menuitem:hover,
#main-menu nav li:not(.active) .menuitem:active,
#main-menu nav li:not(.active) .menuitem:focus {
	background-color: #2D2C2F;
}

@media screen and (max-width:480px) {
	#main-menu nav {
		font-size: .68em;
	}

	#main-menu .cnbutton {
		font-size: 1em;
	}

	#main-menu nav li {
		font-size: 1.52em;
	}
}
