* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative
}
:not(#modal-overlay)::-webkit-scrollbar {
    display: none;
}

html,
body {
	height: 100vh;
	width: 100vw;
	overflow-x: hidden;
}
/*
@media screen and (max-width:480px) {
	html,
	body {
		overflow: auto;
	}
}
*/
html,
body {
	overflow: auto;
}

#grid-layout{
	top: 25px;
    left: 25px;
}


h2 {
	border-bottom: 1px solid #e5e5e5;
	font-size: 1.6em;
}

h3 {
	font-size: 1.4em;
}

/* Configuration overlay */
#ui_notifIt {
	z-index: 100000;
}

#modal-overlay .col-nav {
	padding-left: 0;
	padding-right: 0;
}

#modal-overlay ul.nav.nav-pills.nav-stacked {
    position:fixed;
    z-index: 2;
}

.overlay.on {
	visibility: visible;
	opacity: 1;
}

.overlay {
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,0.9);
	color: #ffffff;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
	z-index: 30000;   /* previsous value was 1000. Fritz - 20161020 */
	overflow-y:auto;
}

#modal-overlay th label {
    margin-right: 10px;
    line-height: normal;
}

#modal-overlay td div {
    width: 100%;
    display: inline-flex;
}

#modal-overlay td output {
    min-width: 15px;
    margin-left: 5px;
    font-weight: bold;
}

#modal-overlay input[type='color'] {
    width: 20%;
    padding: 0px;
}

#modal-overlay td input[type='color'] {
    width: 100%;
    padding: 0px;
    border-radius: 4px;
}

#modal-overlay table.subform {
    height: 100%;
}

#modal-overlay .form-control.disabled,
#panelConfigurationForm .form-control[disabled] {
    background: repeating-linear-gradient(
      -55deg,
      #222,
      #222 10px,
      #333 10px,
      #333 20px
    );
}
#modal-overlay input[id^="styleparam_"][disabled]{
    background: repeating-linear-gradient(
      -55deg,
      #222,
      #222 10px,
      #333 10px,
      #333 20px
    );
    cursor: not-allowed;
}

#modal-overlay #preview {
    position: fixed;
}

/* Widget default style */
.widget {
	display: block;
	position: absolute;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
  	transform-style: preserve-3d;
  	-moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 5;
}

/* Form */

legend {
	color: #ffffff;
	border:none;
	font-size: 1em;
}

input[type='range'] {
	background-color: #000000;
}

/* Section configuration */
form#formConfig {
	padding-bottom: 30px;
}
#formConfig .panel-title {
    margin-top: 20px;
    margin-bottom: 5px;
}
#formConfig .panel-title:first-child {
    margin-top: 0px;
}
#formConfig .navbar-fixed-top {
    background-color: rgba(0,0,0,0.8);
}
#formConfig #widgetConfigAction {
    min-width: 170px;
}

#backgroundpreview {
	margin: 20px auto 0 auto;
	width: 300px;
	height: 200px;
	border: 1px solid #e5e5e5;
	position: relative;
}

#backgroundpreview #imagepreview {
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: cover;
}

/* Loading */
    #loading {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
	background: #2c2c2c; /* Old browsers */
	background: -moz-linear-gradient(top, #2c2c2c 0%, #0e0e0e 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #2c2c2c 0%,#0e0e0e 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #2c2c2c 0%,#0e0e0e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c2c2c', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
        z-index: 50000;
    }
    #loading .box {
        position: fixed;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }
    #loading .loader {
        position: relative;
        height: 10em;
        width: 10em;
        overflow: show;
        margin: auto;
        background-image: url(/images/grid.svg);
        background-repeat: no-repeat;
        background-position: center;
    }
    #loading .text {
        color: white;
        position: relative;
        font-size: 20px;
    }

