* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative
}

html,
body {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

@media screen and (max-width:480px) {
	html,
	body {
		overflow: auto;
	}
}

/* Configuration overlay */
#ui_notifIt {
	z-index: 20;
}

#modal-overlay .col-nav {
	padding-left: 0;
	padding-right: 0;
}

.overlay.on {
	visibility: visible;
	opacity: 1;
}

.overlay {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.9);
	color: #ffffff;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
	z-index: 10;
	overflow-y:auto;
}

/* Widget default style */
.widget {
	display: block;
	position: absolute;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
  	transform-style: preserve-3d;
  	-moz-box-sizing: border-box;
    box-sizing: border-box;
}
