<style>
@font-face {
  font-family: 'FontAwesome';
  src: url('/libraries/font-awesome-4.5.0/fonts/fontawesome-webfont.eot?v=4.5.0');
  src: url('/libraries/font-awesome-4.5.0/fonts/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'), url('/libraries/font-awesome-4.5.0/fonts/fontawesome-webfont.woff2?v=4.5.0') format('woff2'), url('/libraries/font-awesome-4.5.0/fonts/fontawesome-webfont.woff?v=4.5.0') format('woff'), url('/libraries/font-awesome-4.5.0/fonts/fontawesome-webfont.ttf?v=4.5.0') format('truetype'), url('/libraries/font-awesome-4.5.0/fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
</style>

<link rel="import" href="/libraries/polymer/polymer.html">
<link rel="import" href="/components/websockets.html">

<polymer-element name="dmw-butler">
    <template>
        <style>
              @import '/libraries/bootstrap-3.3.5/css/bootstrap.min.css';
        </style>
        <link rel="stylesheet" href="/libraries/font-awesome-4.5.0/css/font-awesome.min.css" shim-domshadow>
        <style type="text/css">
            #background {
                /* background-color: blue; */
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 0;
            }
            #help {
                position: fixed;
                top: 2em;
                left: 2em;
                border-radius: 50%;
                border: 1px solid #ffffff;
                width: 3em;
                height: 3em;
                z-index: 1;
            }
            #helpModal {
                position: fixed;
                width: 75%;
                top: 2em;
                left: 12%;
                border: 1px solid #ffffff;
                border-radius: 4px;
                background-color: #333333;
                z-index: 2;
            }
            #helpModal h1 {
                margin-top: 0;
                border-radius: 4px;
                background-color: #222222;
                padding: 0.4em;
            }
            #helpModal .body {
                margin: 1em;
            }
            #speakButton {
                width: 6em;
                height: 6em;
                border-radius: 50%;
                border: 1px solid #ffffff;
                margin-top: 2em;
                margin-bottom: 2em;
                position: relative;
                left: 50%;
                -webkit-transform: translate(-50%, 0%);
                -ms-transform: translate(-50%, 0);
                transform: translate(-50%, 0);
                z-index: 1;
            }
            .center {
                position: relative;
                top: 50%;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                left: 50%;
                text-align: center;
                display: inline-block;
            }
            #informations {
                color: white;
                position: fixed;
                bottom: 1em;
                left: 5%;
                width: 90%;
                text-align: center;
            }
            #speech_errors {
                background: red;
                color: white;
                position: fixed;
                bottom: 4em;
                left: 5%;
                width: 90%;
                border-radius: 1em;
                padding: 1em;
            }

            #chat {
                font-size: 3em;
                list-style: none;
                margin-left: 0px;
                padding: 0 0 0 0;
            }
            @media screen and (max-width: 768px) {
                #chat {
                    font-size: 2em;
                    list-style: none;
                    margin-left: 0px;
                    padding: 0 0 0 0;
                }
            }
            #chat .itemUser {
                margin-bottom: 1em;
                border-right: 1px solid #ffffff;
                padding-right: 0.5em;
                text-align: right;
            }
           #chat .itemButler {
                margin-left: 0px;
                margin-bottom: 1em;
                border-left: 1px solid #ffffff;
                padding-left: 0.5em;
            }
            .box {
                /*
                border: 1px solid blue;
                */
            }

            /*** Animation ***/
            .pulse1 {
            	-webkit-animation: pulse1 2s linear infinite;
            	-moz-animation: pulse1 2s linear infinite;
            	-ms-animation: pulse1 2s linear infinite;
            	animation: pulse1 2s linear infinite;
            }
            
            @keyframes "pulse1" {
             0% {
                background-color: rgba(255,0,0,1.0);
             }
             50% {
                background-color: rgba(255,0,0,0.0);
             }
             100% {
                background-color: rgba(255,0,0,1.0);
             }
            
            }
            @-moz-keyframes pulse1 {
             0% {
               background-color: rgba(255,0,0,1.0);
             }
             50% {
               background-color: rgba(255,0,0,0.0);
             }
             100% {
               background-color: rgba(255,0,0,1.0);
             }
            
            }
            
            @-webkit-keyframes "pulse1" {
             0% {
               background-color: rgba(255,0,0,1.0);
             }
             50% {
               background-color: rgba(255,0,0,0.0);
             }
             100% {
               background-color: rgba(255,0,0,1.0);
             }
            
            }
            
            @-ms-keyframes "pulse1" {
             0% {
               background-color: rgba(255,0,0,1.0);
             }
             90% {
               background-color: rgba(255,0,0,0.0);
             }
             100% {
               background-color: rgba(255,0,0,1.0);
             }
            
            }
        </style>
        <web-socket id="socket"></web-socket>
        <div id="help" on-click="{{help}}">
          <span class="center"><i class="fa fa-question fa-2x"></i></span>
        </div>
        <div id="helpModal" on-click="{{helpEnd}}">
          <h1>Help</h1>
          <div class="body">
            <h2>Purpose</h2>
            <p>This page allows you to speak with Domogik's butler. When you open this page, the microphone start to listen to you.</p>

            <h2>I am always requested to allow the microphone usage</h2>
            <p>To be able to allow only one time the microphone, you must set up Domoweb in ssl mode. Please read the installation documentation to activate ssl.</p>

            <h2>It does not work ?</h2>
            <p>First, you must known that currently, this page can only work on the <strong>Chrome</strong> browser : only this one implements all the needed voice features.</p>
            <p>In case your browser does not support one of the needed features, you will see a red warning at the bottom of this page.</p>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="box col-md-12">
              <!-- <button id="closeModal" type="button" class="btn btn-default">Close</button> -->

              <div id="speakButton" on-click="{{startVoiceRecog}}">
                <span class="center"><i class="fa {{icon}} fa-3x"></i></span> 
                <!-- <span>SPEAK</span> -->
              </div>

              <ul id="chat">
                <li id="request" class="itemUser"><span>{{ request }}</span></li>
                <li id="butlerResponse" class="itemButler"><span>{{ butlerResponse }}</span></li>
              </ul>

            </div>
          </div>       
        </div>
        <div id="informations">
          <span id="browserLocale">Browser locale : {{browserLocale}}</span>
        </div>
        <div id="speech_errors">
          <div id="err_voices">{{err_voices}}</div>
          <div id="err_tts">{{err_tts}}</div>
          <div id="err_stt">{{err_stt}}</div>
        </div>

        <!-- big clicking zone to close the page when we click somewhere on it -->
        <div id="background" on-click="{{close}}">
        </div>
    </template>
    <script>
        Polymer("dmw-butler", {
            ready:function(){
                // Find the browser locale
                this.browserLocale = window.navigator.languages[0] || "fr-FR"; // why fr as default... because... because ;)


                // Current status of the page
                /* Values : 
                        WAITING : do nothing, wait for the user to clic on the icon
                        STT     : voice recognition
                        CALLING_BUTLER : call the butler and wait for the response
                        TTS     : speaking



                           +---------------<-----------------------------+ error
                           |                                             |
                           |                                             |
                           |            +-------------<------------------+ auto continue dialog
                           |            |                                |
                           |            |                                |
                           |            |                                |
                        WAITING -----> STT -----> CALLING_BUTLER -----> TTS 
                           |            |   ok            |        ok
                           |            |                 |
                           |            |                 |
                           +----<-------+ error           |
                           |                              |
                           |                              |
                           |                              |
                           +-----------------<------------+ error
                */
                this.status = "WAITING"
                this.icon = "fa-microphone-slash";


                this.callback = Math.floor(Math.random() * 10000);
                this.$.socket.register('butler-discuss', this.tts.bind(this), { 'caller':this.callback });
                this.$.speech_errors.style.visibility = "hidden";

                // Hide the help box
                this.$.helpModal.style.visibility = "hidden";

                // Hide the corner buttons
                document.getElementById('butler').style.visibility = "hidden";
                document.getElementById('main-menu').style.visibility = "hidden";
                document.getElementById('sections-tree').style.visibility = "hidden";


                doSTT = true;
                // display warning if no STT support :(
                if (!(window.hasOwnProperty('webkitSpeechRecognition'))) {
                    this.$.speech_errors.style.visibility = "visible";
                    this.err_stt = "Your browser doesn't support the Speech to Text feature!";
                    doSTT = false;
                }
                // display warning if no TTS support :(
                if (!('speechSynthesis' in window)) {
                    this.$.speech_errors.style.visibility = "visible";
                    this.err_tts = "Your browser doesn't support the Text to Speech feature!";
                }

                // display warning if no voices are available (this is the case of Chomium browser)
                // Voices are loaded async so we wait the onvoiceschanges to be triggered to check
                self = this;
                if (window.hasOwnProperty('speechSynthesis')) {
                    window.speechSynthesis.onvoiceschanged = function() {
                        if (speechSynthesis.getVoices().length == 0) {
                            self.$.speech_errors.style.visibility = "visible";
                            self.err_voices = "Your browser doesn't include any voice for the Text to Speech feature!";
                        }
                    };
                }


                // On page display, start STT
                if (doSTT == true) {
                    this.startVoiceRecog();
                }
            },
            close: function(e) {
                // Redisplay the corner buttons
                document.getElementById('butler').style.visibility = "visible";
                document.getElementById('main-menu').style.visibility = "visible";
                document.getElementById('sections-tree').style.visibility = "visible";
                var modalOverlay = document.getElementById('modal-overlay');
                modalOverlay.classList.remove('on');
                this.remove();
            },
            startVoiceRecog: function(e) {
                if (window.hasOwnProperty('webkitSpeechRecognition')) {
                    // first, check if voice recnognition is already in process or not.
                    if (this.status == "STT") {
                        if (recognition) {
                            recognition.stop();
                        }
                        this.status = "WAITING";
                        this.icon = "fa-microphone-slash";
                        return;
                    }
                    this.status = "STT";
                    this.icon = "fa-microphone";

                    var recognition = new webkitSpeechRecognition();
                    recognition.continuous = false;
                    recognition.interimResults = false;
                    recognition.lang = this.browserLocale;
                    recognition.start();

                    self = this;
                    recognition.onstart = function(e) {
                        self.$.speakButton.classList.add('pulse1');
                    }

                    recognition.onresult = function(e) {
                        self.status = "CALLING_BUTLER";
                        self.icon = "fa-cog";   // TODO : why is this not working ?
                        recognition.stop();
                        //alert(e.results[0][0].transcript);
                        self.speaked = e.results[0][0].transcript;
                        self.displayRequest(self.speaked);

                        self.$.socket.send("butler-dodiscuss", {'caller': self.callback, 'data': {"text" : self.speaked, "source" : "domoweb"}});

                        //self.$.socket.send("butler-dodiscuss", {'caller': self.callback, 'text': self.speaked});
                        /* OLD url calling way ***************************************************
                        url = "http://192.168.1.50:50000/rest/butler/discuss";
                        $.ajax({
                           url: url,
                           type: 'GET',
                           dataType : 'jsonp',
                           crossDomain: true,
                           contentType: "application/json;",
                           success: function(data) {
                              //console.log("Response from butler="+data);
                              self.tts("butler-discuss", data, self.displayResponse(data), self.afterTts());
                              self.$.speakButton.classList.remove('pulse1');
                           },
                           error: function() {
                              self.$.speakButton.classList.remove('pulse1');
                              alert("Error while calling the butler component over the REST url");
                           },
                           data : {"data" : JSON.stringify({"text" : self.speaked, "source" : "domoweb"}, null, '\t')}
                        });
                        */

                    };

                    recognition.onend = function(e) {
                        self.status = "WAITING";
                        self.icon = "fa-microphone-slash";
                        recognition.stop();
                        self.$.speakButton.classList.remove('pulse1');
                    }
                    recognition.onerror = function(e) {
                        self.status = "WAITING";
                        self.icon = "fa-microphone-slash";
                        recognition.stop();
                        self.$.speakButton.classList.remove('pulse1');
                    }
                }
            },
            displayRequest: function(requestText) {
                this.request = requestText;
                // clean the previous butler response
                this.butlerResponse = "";
            },
            displayResponse: function(text) {
                this.butlerResponse = text;
            },
            tts: function(topic, json) {
                // Google speech synthetesis is bugged with long texts...
                // - http://stackoverflow.com/questions/21947730/chrome-speech-synthesis-with-longer-texts
                // So we spllit the text if it is too long to handle this.
 
                this.status = "TTS";
                this.icon = "fa-commenting-o";
                this.$.speakButton.classList.remove('pulse1');

                // topic is related to the WS usage
                // json is the json from the WS, so : ["butler-discuss", {"caller": 6516, "data": {"mood": null, "media": null, "sex": "female", "location": null, "text": "Salut", "reply_to": "Domoweb", "identity": "Aria"}}]


                console.log("Text to speak : " + json["data"]["text"]);

                this.displayResponse(json["data"]["text"]);

                // The below code split the text to allow speech of long texts

                var chunkLength = 120;
                var pattRegex = new RegExp('^[\\s\\S]{' + Math.floor(chunkLength / 2) + ',' + chunkLength + '}[.!?,]{1}|^[\\s\\S]{1,' + chunkLength + '}$|^[\\s\\S]{1,' + chunkLength + '} ');

                self = this;
                var arr = [];
                var txt = json["data"]["text"];
                while (txt.length > 0) {
                    arr.push(txt.match(pattRegex)[0]);
                    txt = txt.substring(arr[arr.length - 1].length);
                }
                var u = []
                for (idx in arr) {
                    
                    u[idx] = new SpeechSynthesisUtterance();
                    u[idx].text = arr[idx];
                    u[idx].lang = self.browserLocale;
                    u[idx].dmg_idx = idx;

                    u[idx].onend = function () {
                        //console.error(this);
                        //console.error(arr.length-1);
                        //console.error(this.dmg_idx);
                        if (arr.length-1 == this.dmg_idx) {
                            self.afterTts();
                        }
                    };

                    u[idx].onerror = function (e) {
                        self.status = "WAITING";
                        self.icon = "fa-microphone-slash";
                        alert('Error while speeaking');
                        console.error("Error while speaking : " + e);
                    };

                    console.log(u[idx]);
                    speechSynthesis.speak(u[idx]);
                }

            },
            afterTts: function() {
                this.startVoiceRecog(undefined);
            },
            help: function() {
                this.$.helpModal.style.visibility = "visible";
            },
            helpEnd: function() {
                this.$.helpModal.style.visibility = "hidden";
            }

        });
    </script>
</polymer-element>
