<link rel="import" href="/libraries/bower_components/polymer/polymer.html">

<dom-module id="dmw-datatypes">
	<template>
	    <web-socket id="socket"></web-socket>
	</template>
	<script>
        class DmwDataTypes extends Polymer.Element {
            static get is () { return 'dmw-datatypes'; }
            constructor() {
                super();
            }
            connectedCallback() {
                super.connectedCallback();
                this.$.socket.register('datatype-list', this.datatypesReceived.bind(this), null);
                this.$.socket.send("datatype-getall");
            }
            datatypesReceived(topic, json) {
                this.list=json;
             this.dispatchEvent(new CustomEvent('datatype-received'));
            }
	    };
    customElements.define(DmwDataTypes.is, DmwDataTypes);
	</script>
</dom-module>
