<link rel="import" href="/components/polymer/polymer.html">

<polymer-element name="dmw-datatypes">
	<template>
	    <web-socket id="socket"></web-socket>
	</template>
	<script>
		Polymer("dmw-datatypes", {
			ready:function(){
		    	this.$.socket.register('datatype-list', this.datatypesReceived.bind(this), null, null);
		    	this.$.socket.send("datatype-getall");					
			},
			datatypesReceived: function(topic, json) {
	        	this.list=json;
	        	this.fire('datatype-received');
	    	}
	    });
	</script>
</polymer-element>