<polymer-element name="dmw-grid-layout" attributes="sectionid edit">
	<template>
		<style type="text/css">
		    #container {
		      width: 80%;
		      margin: auto;
		      padding: 20px;
		    }
		    .widget {
		    	width:  100px;
  				height: 100px;
		    }
			.widget.widgetw2 { width: 200px; }
			.widget.widgeth2 { height: 200px; }
			.widget.widgetw3 { width: 300px; }
			.widget.widgeth3 { height: 300px; }
			.widget.widgetw4 { width: 400px; }
			.widget.widgeth4 { height: 400px; }
			.widget.widgetw5 { width: 500px; }
			.widget.widgeth5 { height: 500px; }
			.widget.widgetw6 { width: 600px; }
			.widget.widgeth6 { height: 600px; }
		</style>
	    <div id="container"></div>
	    <template if="{{ edit!=null }}">
	    	<button class="btn btn-primary btn-lg" on-click="{{addWidget}}">Add Widget</button>
	    </template>
	</template>
	<script src="/libraries/packery/dist/packery.pkgd.min.js"></script>
	<script src="/libraries/draggability/draggabilly.js"></script>
	<script>
		Polymer("dmw-grid-layout", {
			ready:function(){
				this.wall = new Packery( this.$.container, {
				  	// options
				  	itemSelector: '.widget',
				  	gutter: 20,
				  	columnWidth: 100,
  					rowHeight: 100,
				});
//				this.wall.on( 'layoutComplete', this.orderChanged.bind(this) );
				this.wall.on( 'dragItemPositioned', this.orderChanged.bind(this) );
				this.draggables = [];
			},
			instanceAdded: function(topic, json) {
				this.appendInstance(json, true);
				this.wall.layout();
		    },
			instanceRemoved: function(topic, json) {
				var instance = this.shadowRoot.querySelector('*[instanceid="' + json['id'] + '"]');
				this.wall.remove(instance);
				this.wall.layout();
		    },
			listReceived: function(topic, json) {
				for (index = 0; index < json['instances'].length; ++index) {
					this.appendInstance(json['instances'][index], false);
				}
				this.wall.layout();
			},
			appendInstance: function(instance, edit) {
				var link = document.head.querySelector("link#" + instance.widget_id);
				if (!link) { // If widget pack not already loaded
					link = document.createElement('link');
					link.setAttribute('rel', "import");
					link.setAttribute('href', "/widget/" + instance.widget.set_id + '/' + instance.widget.set_ref + ".html")
					document.head.appendChild(link);
				}
				var widget = document.createElement('dmw-' + instance.widget.set_id + '-' + instance.widget.set_ref);
				widget.classList.add('widget');
				widget.setAttribute('instanceid', instance.id);
				widget.setAttribute('tabindex', 0);
				if (instance.widget.width > 1) {
					widget.classList.add('widgetw' + instance.widget.width);
				}
				if (instance.widget.height > 1) {
					widget.classList.add('widgeth' + instance.widget.height);
				}
				if (edit) {
					widget.setAttribute('edit', '');
				}
				this.$.container.appendChild(widget);
				this.wall.appended(widget);
				var draggie = new Draggabilly(widget);
				draggie.disable();
				this.draggables[instance.id] = draggie;
			  	// bind Draggabilly events to Packery
			  	this.wall.bindDraggabillyEvents( draggie );
			},
		    sectionidChanged: function(oldValue, newValue) {
    	      	var socket = document.querySelector('#socket');
		    	socket.register('widgetinstance-added', this.instanceAdded.bind(this), 'section_id', newValue);
		    	socket.register('widgetinstance-removed', this.instanceRemoved.bind(this), 'section_id', newValue);
		    	socket.register('widgetinstance-sectionlist', this.listReceived.bind(this), 'section_id', newValue);
				socket.send("widgetinstance-getsection", {'section_id':newValue});
		    },
		    orderChanged: function() {
				var itemElems = this.wall.getItemElements();
				for ( var i=0, len = itemElems.length; i < len; i++ ) {
					var elem = itemElems[i];
					this.$.socket.send("widgetinstance-order", {'instance_id':elem.getAttribute('instanceid'), 'order':i+1});
				}
			},
			editChanged: function(oldValue, newValue) {
				widgets = this.$.container.childNodes;
				for (var i = 0; i < widgets.length; i++) {
				    var widget = widgets[i];
				    var instanceid = widget.getAttribute('instanceid');
				    if (newValue != null) {
					    widget.setAttribute('edit', '');
	    			  	this.draggables[instanceid].enable();
				    } else {
				    	widget.removeAttribute('edit');
	    			  	this.draggables[instanceid].disable();
				    }
				}
			},
			addWidget: function(e) {
				var modalOverlay = document.querySelector('#modal-overlay'),
				selector = document.createElement('dmw-widgets-selector');
				selector.setAttribute('section', 1);
				modalOverlay.appendChild(selector);
				modalOverlay.classList.add('on');
			},
		});
	</script>
</polymer-element>