<polymer-element name="dmw-grid-layout" attributes="sectionid edit">
	<template>
		<style type="text/css">
		    :host {
		      width: 80%;
		      margin: 20px auto 0 auto !important;
		      display: block;
		    }
		    ::content .widget {
		    	width:  100px;
  				height: 100px;
		    }
			::content .widget.widgetw2 { width: 220px; }
			::content .widget.widgeth2 { height: 220px; }
			::content .widget.widgetw3 { width: 340px; }
			::content .widget.widgeth3 { height: 340px; }
			::content .widget.widgetw4 { width: 460px; }
			::content .widget.widgeth4 { height: 460px; }
			::content .widget.widgetw5 { width: 580px; }
			::content .widget.widgeth5 { height: 580px; }
			::content .widget.widgetw6 { width: 700px; }
			::content .widget.widgeth6 { height: 700px; }
		</style>
	    <content select=".widget"></content>
	</template>
	<script src="/libraries/packery/dist/packery.pkgd.min.js"></script>
	<script src="/libraries/draggability/draggabilly.js"></script>
	<script>
		Polymer("dmw-grid-layout", {
			ready:function(){
				this.wall = new Packery( this, {
				  	// options
				  	itemSelector: '.widget',
				  	gutter: 20,
				  	columnWidth: 100,
  					rowHeight: 100,
				});
//				this.wall.on( 'layoutComplete', this.orderChanged.bind(this) );
				this.wall.on( 'dragItemPositioned', this.orderChanged.bind(this) );
				this.draggables = [];
				widgets = this.shadowRoot.querySelector('content').getDistributedNodes();
				for (var i = 0; i < widgets.length; i++) {
				    var widget = widgets[i];
				    var instanceid = widget.getAttribute('instanceid');
				    var draggie = new Draggabilly(widget);
					draggie.disable();
					this.draggables[instanceid] = draggie;
				  	// bind Draggabilly events to Packery
				  	this.wall.bindDraggabillyEvents( draggie );
				}
				// Monitor lightDOM changes
			  	this.onMutation(this, this.childrenUpdated);
			},
			removeInstance: function(instance) {
				delete this.draggables[instance.getAttribute('instanceid')]
				this.wall.remove(instance);
				this.wall.layout();
		    },
			appendInstance: function(instance) {
				this.wall.appended(instance);
				var draggie = new Draggabilly(instance);
				draggie.disable();
				this.draggables[instance.getAttribute('instanceid')] = draggie;
			  	// bind Draggabilly events to Packery
			  	this.wall.bindDraggabillyEvents( draggie );
				this.wall.layout();
			},
		    orderChanged: function() {
    	      	var socket = document.querySelector('#socket');
				var itemElems = this.wall.getItemElements();
				for ( var i=0, len = itemElems.length; i < len; i++ ) {
					var elem = itemElems[i];
					socket.send("widgetinstance-order", {'instance_id':elem.getAttribute('instanceid'), 'order':i+1});
				}
			},
			editChanged: function(oldValue, newValue) {
				for (var id in this.draggables) {
				    if (newValue != null) {
	    			  	this.draggables[id].enable();
				    } else {
	    			  	this.draggables[id].disable();
				    }
				}
			},
			childrenUpdated: function(observer, mutations) {
			  	mutations.forEach(function(record) {
			  		for (var i = 0; i < record.addedNodes.length; i++) {
			  			this.appendInstance(record.addedNodes[i]);
			  		}
			  		for (var i = 0; i < record.removedNodes.length; i++) {
			  			this.removeInstance(record.removedNodes[i]);
			  		}
			  	}.bind(this));
			}
		});
	</script>
</polymer-element>