<link rel="import" href="/libraries/bower_components/polymer/polymer.html">

<dom-module id="grid-styles">
    <template>
        <style>
            the-grid .widget.style-general {
                border: 1px solid var(--WidgetBorderColor, blue);
                background-color: var(--WidgetBackgroundColor, green);
                border-radius: var(--WidgetBorderRadius, 15px);
                color: var(--WidgetTextColor, white);
                -moz-box-shadow: var(--WidgetBoxShadow);
                -webkit-box-shadow: var(--WidgetBoxShadow);
                -o-box-shadow: var(--WidgetBoxShadow);
                box-shadow: var(--WidgetBoxShadow);
            }

            the-grid tile {
                opacity: 1;
                color: white;
                cursor: move;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 2500;
            }

            the-grid [placeholder] {
                background: #afafaf;
            }

            the-grid > span:not([resize]) {
                flex: 1;
                text-align: center;
                font-size: 2em;
            }

            the-grid [resize] {
                position: absolute;
                opacity: 0;
                z-index: 2500;
            }

            the-grid [resize="bottom-right"] {
                bottom: 0;
                right: 0;
                cursor: nwse-resize;
            }

            the-grid [resize="bottom-left"] {
                bottom: 0;
                left: 0;
                cursor: nesw-resize;
            }

            the-grid [resize="top-right"] {
                top: 0;
                right: 0;
                cursor: nesw-resize;
            }

            the-grid [resize="top-left"] {
                top: 0;
                left: 0;
                cursor: nwse-resize;
            }

            the-grid [resize="left"] {
                top: 50%;
                left: 0;
                cursor: ew-resize;
                margin-top: -10px;
            }

            the-grid [resize="top"] {
                top: 0%;
                width: 100%;
                text-align: center;
                cursor: ns-resize;
            }

            the-grid [resize="right"] {
                top: 50%;
                right: 0;
                cursor: ew-resize;
                margin-top: -10px;
            }

            the-grid [resize="bottom"] {
                bottom: 0;
                width: 100%;
                text-align: center;
                cursor: ns-resize;
            }

            dom-repeat {
                display: none;
            }
        </style>
    </template>
</dom-module>


