<link rel="import" href="/components/polymer/polymer.html">

<polymer-element name="dmw-navigation">
	<template>
		<link rel="stylesheet" href="/libraries/bootstrap-3.2.0/css/bootstrap.min.css">
		<style type="text/css">
			/* Based on https://github.com/SaraSoueidan/circular-navigation */
			nav {
				font-size: 1em;
				width: 26em;
				height: 26em;
				overflow: hidden;
				position: fixed;
				z-index: 10;
				bottom: -13em;
				left: 50%;
				border-radius: 50%;
				margin-left: -13em;
				-webkit-transform: scale(0.1);
				-ms-transform: scale(0.1);
				-moz-transform: scale(0.1);
				transform: scale(0.1);
				pointer-events: none;
				-webkit-transition: all .3s ease;
				-moz-transition: all .3s ease;
				transition: all .3s ease;
			}

			.opened-nav {
				border-radius: 50%;
				pointer-events: auto;
				-webkit-transform: scale(1);
				-moz-transform: scale(1);
				-ms-transform: scale(1);
				transform: scale(1);
			}

			.cnoverlay {
				width: 100%;
				height: 100%;
				background-color: rgba(0,0,0,0.6);
				position: fixed;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				opacity: 0;
				visibility: hidden;
				-webkit-transition: all .3s ease;
				-moz-transition: all .3s ease;
				transition: all .3s ease;
				z-index: 2;
			}

			.cnoverlay.on-overlay {
				visibility: visible;
				opacity: 1;
			}

			.cnbutton {
				outline: none;
				border: none;
				background: #2D2C2F url('../images/logo_highlight_small.png') 50% 6px no-repeat;
				text-align: center;
				font-size: 1.8em;
				padding-bottom: 1em;
				height: 3.5em;
				width: 3.5em;
				position: fixed;
				left: 50%;
				margin-left: -1.75em;
				bottom: -1.75em;
				border-radius: 50%;
				cursor: pointer;
				z-index: 11;
			}

			.cnbutton:hover,
			.cnbutton:active,
			.cnbutton:focus {
				background-color: #ffffff;
			}

			nav li {
				position: absolute;
				font-size: 1.5em;
				width: 10em;
				height: 10em;
				-webkit-transform-origin: 100% 100%;
				-moz-transform-origin: 100% 100%;
				-ms-transform-origin: 100% 100%;
				transform-origin: 100% 100%;
				overflow: hidden;
				left: 50%;
/*				top: 50%;*/
				margin-top: -1.3em;
				margin-left: -10em;
				-webkit-transition: border .3s ease;
				-moz-transition: border .3s ease;
				transition: border .3s ease;
			}

			nav li .menuitem {
				outline: none;
				display: block;
				font-size: 1.18em;
				height: 14.5em;
				width: 14.5em;
				position: absolute;
			/*	position: fixed; /* fix the "displacement" bug in webkit browsers when using tab key */
				bottom: -7.25em;
				right: -7.25em;
				border-radius: 50%;
				text-decoration: none;
				color: #fff;
				padding-top: 0.5em;
				text-align: center;
				cursor: pointer;
				-webkit-transform: skew(-50deg) rotate(-70deg) scale(1);
				-ms-transform: skew(-50deg) rotate(-70deg) scale(1);
				-moz-transform: skew(-50deg) rotate(-70deg) scale(1);
				transform: skew(-50deg) rotate(-70deg) scale(1);
				-webkit-backface-visibility: hidden;
				-webkit-transition: opacity 0.3s, color 0.3s;
				-moz-transition: opacity 0.3s, color 0.3s;
				transition: opacity 0.3s, color 0.3s;
			}

			nav li .menuitem .label {
				font-size: 0.6em;
				opacity: 0.7;
				display: block;
				margin-bottom: 1.3em;
			}

			/* for a central angle x, the list items must be skewed by 90-x degrees
			in our case x=40deg so skew angle is 50deg
			items should be rotated by x, minus (sum of angles - 180)2s (for this demo) */

			nav li:nth-child(2) {
				-webkit-transform: rotate(-10deg) skew(50deg);
				-ms-transform: rotate(-10deg) skew(50deg);
				-moz-transform: rotate(-10deg) skew(50deg);
				transform: rotate(-10deg) skew(50deg);
			}

			nav li:nth-child(3) {
				-webkit-transform: rotate(30deg) skew(50deg);
				-ms-transform: rotate(30deg) skew(50deg);
				-moz-transform: rotate(30deg) skew(50deg);
				transform: rotate(30deg) skew(50deg);
			}

			nav li:nth-child(4) {
				-webkit-transform: rotate(70deg) skew(50deg);
				-ms-transform: rotate(70deg) skew(50deg);
				-moz-transform: rotate(70deg) skew(50deg);
				transform: rotate(70deg) skew(50deg)
			}

			nav li:nth-child(5) {
				-webkit-transform: rotate(110deg) skew(50deg);
				-ms-transform: rotate(110deg) skew(50deg);
				-moz-transform: rotate(110deg) skew(50deg);
				transform: rotate(110deg) skew(50deg);
			}

			nav li:nth-child(6) {
				-webkit-transform: rotate(150deg) skew(50deg);
				-ms-transform: rotate(150deg) skew(50deg);
				-moz-transform: rotate(150deg) skew(50deg);
				transform: rotate(150deg) skew(50deg);
			}

			nav li:nth-child(odd) .menuitem {
				background-color: #005774;
			}

			nav li:nth-child(even) .menuitem {
				background-color: #00506A;
			}

			nav li .menuitem.finish {
				background-color: #B13822;
			}

			/* active style */
			nav li.active .menuitem {
				background-color: #2D2C2F;
			}

			/* hover style */
			nav li:not(.active) .menuitem:hover,
			nav li:not(.active) .menuitem:active,
			nav li:not(.active) .menuitem:focus {
				background-color: #2D2C2F;
			}

			@media screen and (max-width:480px) {
				nav {
					font-size: .68em;
				}

				.cnbutton {
					font-size: 1em;
				}

				nav li {
					font-size: 1.52em;
				}
			}
		</style>
	    <button class="cnbutton" id="cnbutton"><span class='sr-only' data-i18n="menu.open"></span></button>
		<nav id="cnwrapper">
			<ul>
	        <template repeat="{{i in displayed}}">
	          	<li><div class="menuitem {{i.class}}" role="button" tabindex=0 on-click={{selectItem}}><span class="label">{{i.label}}</span></div></li>
	        </template>
	        </ul>
		</nav>
	    <div id="cnoverlay" class="cnoverlay"></div>
	</template>
  	<script type="text/javascript" src="/libraries/i18next/i18next.min.js"></script>
	<script>
		Polymer("dmw-navigation", {
			ready: function() {
				var self=this;
				this.items = [];
				this.displayed = [];
				this.open = false;
				this.$.cnbutton.addEventListener('click', this.handler.bind(this), false);
				this.$.cnwrapper.addEventListener('click', this.cnhandle.bind(this), false);
				document.addEventListener('click', this.closeNav.bind(this));
	    		self.items = parseChilds(self.children[0]);
	    		self.displayItems(null);
			},
			openNav: function(){
				this.open = true;
			    this.$.cnbutton.innerHTML = "<span class='sr-only'>Close Menu</span>";
			    this.$.cnoverlay.classList.add('on-overlay');
			    this.$.cnwrapper.classList.add('opened-nav');
			},
			closeNav: function(){
				this.open = false;
				this.$.cnbutton.innerHTML = "<span class='sr-only'>Open Menu</span>";
			    this.$.cnoverlay.classList.remove('on-overlay');
			    this.$.cnwrapper.classList.remove('opened-nav');
			},
			handler: function(e){
				if (!e) var e = window.event;
			 	e.stopPropagation();//so that it doesn't trigger click event on document
			  	if(!this.open){
			    	this.openNav();
			  	}
			 	else{
			    	this.closeNav();
			  	}
			},
			cnhandle: function(e){
				e.stopPropagation();
			},
			selectItem: function(e, detail, sender) {
			  	var item = e.target.templateInstance.model.i;
			  	if (item.childs) {
		    		this.displayItems(item);
			  	} else {
					this.closeNav();
			  	}
			  	if (item.close) {
		    		this.displayItems(null);
			  	}
			  	if (item.id) {
				  	this.fire('menuitem-selected', {id: item.id});
			  	}
			},
			displayItems: function(parent) {
				var root = null
				if (parent === null) {
					root = this.items;
				} else {
					root = parent.childs;
				}
				this.displayed = [];
				for(var i = 0; i < root.length; i++){
					var r = root[i];
					var item = {
		          		id:r.id,
		          		label:r.label,
		          	};
		          	if (r.close) {
		          		item.class = 'finish';
		          		item.close = true;
		          	}
		          	if (r.childs) {
		          		item.childs = r.childs;
		          	}
		          	this.displayed.push(item);
				}
		        // Add blank items
		        for (i ; i < 5; i++) {
		          	this.displayed.push({});	        	
		        }
			}
	    });
		function parseChilds(root) {
			var items = []
			var childrens = root.children;
			for(var i = 0; i < childrens.length; i++){
				children = childrens[i]
	          	var item = {
	          		id:children.id,
	          		label:i18n.t(children.dataset.i18n),
	          		close:i18n.t(children.dataset.close)
	          	};
	          	var childs = children.children[0];
	          	if (childs) {
	          		item.childs = parseChilds(childs);
	          	}
	          	items.push(item);
	        }
	        return items;
		}
	</script>
</polymer-element>