<!--
Copyright 2013 The Polymer Authors. All rights reserved.
Use of this source code is governed by a BSD-style
license that can be found in the LICENSE file.
-->
<!--
/**
 * @module Polymer Elements
 */

/**
 * The `polymer-ajax` element performs `XMLHttpRequest`s.
 *
 * You can trigger a request explicitly by calling `go` on the
 * element.
 *
 * With `auto` set to `true`, the element performs a request whenever
 * its `url` or `params` properties are changed.
 *
 *
 * Example:
 *
 *     <polymer-ajax auto url="http://gdata.youtube.com/feeds/api/videos/"
 *         params='{"alt":"json", "q":"chrome"}'
 *         handleAs="json"
 *         on-polymer-response="{{handleResponse}}">
 *     </polymer-ajax>
 *
 * Note: The `params` attribute must be double quoted JSON.
 *
 * @class polymer-ajax
 * @status beta
 * @homepage github.io
 *
 */

/**
 * Fired when a response is received.
 *
 * @event polymer-response
 */

/**
 * Fired when an error is received.
 *
 * @event polymer-error
 */

/**
 * Fired whenever a response or an error is received.
 *
 * @event polymer-complete
 */

-->
<link rel="import" href="/libraries/bower_components/polymer/polymer.html">
<link rel="import" href="polymer-xhr.html">

<dom-module id="polymer-ajax">
  <script>
    class PolymerAjax extends Polymer.Element {
        static get is () { return 'polymer-ajax'; }
        static get properties() {
            return {
                url: {
            /** The URL target of the request. */
                    type: String,
                    notify: true,
                    value : '',
                    observer: 'urlChanged',
                    reflectToAttribute: true
                },
                handleAs: {
            /** Specifies what data to store in the `response` property, and
               * to deliver as `event.response` in `response` events.
               *
               * One of:
               *
               *    `text`: uses `XHR.responseText`.
               *
               *    `xml`: uses `XHR.responseXML`.
               *
               *    `json`: uses `XHR.responseText` parsed as JSON. */
                    type: String,
                    notify: true,
                    value : 'text'
                },
                auto: {
            /** if true, automatically performs an Ajax request when either `url` or `params` changes. */
                    type: Boolean,
                    notify: true,
                    value : false,
                    reflectToAttribute : true,
                    observer: 'autoChanged',
                    reflectToAttribute: true
                },
                params: {
            /** Parameters to send to the specified URL, as JSON. */
                    type: String,
                    notify: true,
                    value : null,
                    observer: 'paramsChanged',
                    reflectToAttribute: true
                },
                response: {
            /** Returns the response object. */
                    type: Object,
                    notify: true,
                    value : null
                },
                method: {
            /** The HTTP method to use such as 'GET', 'POST', 'PUT', or 'DELETE'.
               * Default is 'GET'. */
                    type: String,
                    notify: true,
                    value : 'GET',
                    reflectToAttribute: true
                },
                headers: {
            /** HTTP request headers to send.
               *
               * Example:
               *
               *     <polymer-ajax auto url="http://somesite.com"
               *         headers='{"X-Requested-With": "XMLHttpRequest"}'
               *         handleAs="json"
               *         on-polymer-response="{{handleResponse}}">
               *     </polymer-ajax> */
                    type: String,
                    notify: true,
                    value : null
                },
                body: {
            /** Optional raw body content to send when method === "POST".
               *
               * Example:
               *
               *     <polymer-ajax method="POST" auto url="http://somesite.com"
               *         body='{"foo":1, "bar":2}'>
               *     </polymer-ajax> */
                    type: String,
                    notify: true,
                    value : null,
                    reflectToAttribute: true
                },
                contentType: {
            /** Content type to use when sending data. */
                    type: String,
                    notify: true,
                    value : 'application/x-www-form-urlencoded'
                }
            }
        }
        constructor() {
            super();
        }
      connectedCallback() {
        super.connectedCallback();
        this.xhr = document.createElement('polymer-xhr');
      }
      receive(response, xhr) {
        if (this.isSuccess(xhr)) {
          this.processResponse(xhr);
        } else {
          this.error(xhr);
        }
        this.complete(xhr);
      }
      isSuccess(xhr) {
        var status = xhr.status || 0;
        return !status || (status >= 200 && status < 300);
      }
      processResponse(xhr) {
        var response = this.evalResponse(xhr);
        this.response = response;
        this.dispatchEvent(new CustomEvent('polymer-response', {detail: {response: response, xhr: xhr}}));
      }
      error(xhr) {
        var response = xhr.status + ': ' + xhr.responseText;
        this.dispatchEvent(new CustomEvent('polymer-error', {detail: {response: response, xhr: xhr}}));
      }
      complete(xhr) {
        this.dispatchEvent(new CustomEvent('polymer-complete', {detail: {response: xhr.status, xhr: xhr}}));
      }
      evalResponse(xhr) {
        return this[(this.handleAs || 'text') + 'Handler'](xhr);
      }
      xmlHandler(xhr) {
        return xhr.responseXML;
      }
      textHandler(xhr) {
        return xhr.responseText;
      }
      jsonHandler(xhr) {
        var r = xhr.responseText;
        try {
          return JSON.parse(r);
        } catch (x) {
          return r;
        }
      }
      urlChanged() {
        if (!this.handleAs) {
          var ext = String(this.url).split('.').pop();
          switch (ext) {
            case 'json':
              this.handleAs = 'json';
              break;
          }
        }
        this.autoGo();
      }
      paramsChanged() {
        this.autoGo();
      }
      autoChanged() {
        this.autoGo();
      }
      // TODO(sorvell): multiple side-effects could call autoGo
      // during one micro-task, use a job to have only one action
      // occur
      autoGo() {
        if (this.auto) {
          this.goJob = this.job(this.goJob, this.go, 0);
        }
      }
      /**
       * Performs an Ajax request to the specified URL.
       *
       * @method go
       */
      go() {
        var args = this.xhrArgs || {};
        // TODO(sjmiles): alternatively, we could force POST if body is set
        if (this.method === 'POST') {
          args.body = this.body || args.body;
        }
        args.params = this.params || args.params;
        if (args.params && typeof(args.params) == 'string') {
          args.params = JSON.parse(args.params);
        }
        args.headers = this.headers || args.headers || {};
        if (args.headers && typeof(args.headers) == 'string') {
          args.headers = JSON.parse(args.headers);
        }
        if (this.contentType) {
          args.headers['content-type'] = this.contentType;
        }
        args.callback = this.receive.bind(this);
        args.url = this.url;
        args.method = this.method;
        return args.url && this.xhr.request(args);
      }
    }
    customElements.define(PolymerAjax.is, PolymerAjax);
  </script>
</dom-module>
