<link rel="import" href="/libraries/bower_components/polymer/polymer.html">
<link rel="import" href="/libraries/bower_components/polymer/lib/utils/async.html">

<dom-module id="dmw-section">
    <template>
        <web-socket id="socket"></web-socket>
    </template>
    <script>
        document.getElementById("loading_text").innerHTML = "Initializing...";
        class DmwSection extends Polymer.Element {
            static get is () { return 'dmw-section'; }
            static get properties() {
                return {
                    sectionid: {
                        type: Number,
                        notify: true,
                        observer: 'sectionidChanged',
                        reflectToAttribute: true
                    }
                }
            }
            constructor() {
                super();
            }
            connectedCallback() {
                super.connectedCallback();
                this._name = [];
                this._description = [];
                this._params = [];
                this.$.socket.register('section-details', this.sectionChanged.bind(this), null);
                this.$.socket.register('section-params', this.sectionReceived.bind(this), null);
                this.$.socket.register('section-removed', this.sectionRemoved.bind(this), null);

                self = this;
                setInterval(function() {
                    console.error("SEND METRICS");
                    self.$.socket.send("publish-metrics-browser", {
                                           'measurements' : {
                                               'unit' : 1
                                           },
                                           'tags' : {
                                               'interface': 'yes',
                                               'component': 'domoweb-browser',
                                               'navigator-platform': navigator.platform,
                                               'navigator-userAgent': navigator.userAgent
                                           }
                                      });
                }, 60000);
            }
            sectionidChanged (newValue, oldValue) {
                if (newValue) {
                    this.$.socket.send('section-get', {'id':newValue});
                }
            }
            get name() {
                return this._name[this.sectionid];
            }
            get description() {
                return this._description[this.sectionid];
            }
            get params() {
                return this._params[this.sectionid];
            }
            sectionReceived (topic, json) {
                document.getElementById("loading_text").innerHTML = "Loading parameters...";
                this._name[this.sectionid] = json['name'];
                this._description[this.sectionid] = json['description'];
                this._params[this.sectionid] = json['params'];
                this.dispatchEvent(new CustomEvent('section-updated', {detail: json}));
            }
            sectionChanged (topic, json) {
                document.getElementById("loading_text").innerHTML = "Loading section ...";
                this._name[this.sectionid] = json['name'];
                this._description[this.sectionid] = json['description'];
                this._params[this.sectionid] = json['params'];
                var self = this;
                // Wait full addEventListener from WebComponentsReady
                Polymer.Async.timeOut.after(100).run(self.sectionReady(json));
            }
            sectionReady(json, timeout = 200) {
                if (DMW.main.sectionReady) {
                    this.dispatchEvent(new CustomEvent('section-changed', {detail: json}));
                } else {
                    var self = this;
                    timeout += 50;
                    console.warn("Section not ready, timeout : " + timeout +"ms")
                    if (timeout < 1005) {
                        Polymer.Async.timeOut.after(timeout).run(self.sectionReady(json, timeout));
                    } else {
                        document.getElementById("loading_text").innerHTML = "Fail to Load widgets.<br>Please reload page and stay on tab";
                    }
                }
            }
            sectionRemoved (topic, json) {
                document.getElementById("loading_text").innerHTML = "Loading section ...";
                if (this.sectionid == json['id']) {
                    this.sectionid = 1;
                }
            }
        };
        customElements.define(DmwSection.is, DmwSection);
    </script>
</dom-module>
