<link rel="import" href="/libraries/polymer/polymer.html">

<polymer-element name="dmw-sectionslist">
	<template>
	    <web-socket id="socket"></web-socket>
	    <ul id='sectionslist'>
		<template repeat="{{s in sections}}">
			<li>
        		<button id='section{{ s.id }}' class='btn btn-default' data-sectionid='{{ s.id }}'>{{ s.name }}</button>
        	</li>
		</template>
		</ul>
	</template>
	<script>
		Polymer("dmw-sectionslist", {
			ready: function() {
		        this.$.socket.register('section-list', this.messageReceived.bind(this), null);
				this.$.socket.send('section-getall');
			},
			messageReceived: function(topic, json) {
				this.sections = json;
		      	var section = document.getElementById('currentsection');
		        var self = this;
		        this.async(
  					// `async` lets the main loop resume and perform tasks, like DOM updates,
				  	// then it calls your callback 
				  	function() {
						var buttons = self.$.sectionslist.querySelectorAll('button');
						for (var i = buttons.length - 1; i >= 0; i--) {
							buttons[i].addEventListener('click', function () {
								var sectionValue = this.dataset['sectionid'];
								section.setAttribute('sectionid', sectionValue);
							});
						};
				  	}
				);
	    	},
	    });
	</script>
</polymer-element>