<polymer-element name="dmw-sensor" attributes="sensorid sensorkey sensorvalue">
	<template>
	    <web-socket id="socket"></web-socket>
	</template>
	<script>
		Polymer("dmw-sensor", {
			ready:function(){
			},
			statsReceived: function(topic, json) {
		        this.sensorvalue=json.stored_value;
		    },
		    sensoridChanged: function(oldValue, newValue) {
		    	this.$.socket.register('device-stats', this.statsReceived.bind(this), 'sensor_id', newValue);
		    },
		});
	</script>
</polymer-element>

