<link rel="import" href="/components/polymer/polymer.html">
<link rel="import" href="/components/sensor.html">
<link rel="import" href="/components/command.html">
<link rel="import" href="/components/datatypes.html">
<script src="/js/serialize-0.2.min.js"></script>

<polymer-element name="dmw-widget" attributes="instanceid edit debug default_style">
	<template>
		<link rel="stylesheet" href="/libraries/bootstrap-3.2.0/css/bootstrap.min.css">
		<style type="text/css">
		.editOverlay {
			position: absolute;
			background-color: rgba(0,0,0,0.6);
			top: -1px;
			left: -1px;
			bottom: -1px;
			right: -1px;
			z-index: 999;
		}

		.editOverlay button {
			background: #000000;
			display: block;
			width: 2em;
			height: 2em;
			border: 1px solid #f0f0F0;
			color: #f0f0F0;
			margin: 1em auto 1em auto;
			-moz-border-radius: 1em;
			-webkit-border-radius: 1em;
			border-radius: 1em;
		}

		.editOverlay button:hover,
		.editOverlay button:focus {
			background: #f0f0F0;
			color: #000000;	
		}
		</style>
	    <web-socket id="socket"></web-socket>
	    <dmw-datatypes id="datatypes"></dmw-datatypes>
	    <polymer-ajax id="ajax" method="POST" url="/configuration"></polymer-ajax>
		<div id='labelprimary'>{{labelprimary}}</div>
		<div id='labelsecondary'>{{labelsecondary}}</div>
	    <template if="{{ edit!=null }}">
	    	<div class="editOverlay">
		    	<button class="editWidget" on-click="{{editWidget}}" aria-label="Edit"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></button>
		    	<button class="removeWidget" on-click="{{removeWidget}}" aria-label="Remove"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
	    	</div>
	    </template>
	</template>
	<script>
		Polymer("dmw-widget", {
			ready: function() {
				this.sensorsReady = false;
				this.commandsReady = false;
				this.devicesReady = false;
				this.loaded = false;
				if (this.datatypes === null) {
					this.$.datatypes.addEventListener("datatype-received", this.datatypesReceived.bind(this));	
				}
			},
			removeWidget: function(e) {
		    	this.$.socket.send("widgetinstance-remove", {'instance_id':this.instanceid});
			},
			editWidget: function(e) {
				var self = this;
				var modalOverlay = document.querySelector('#modal-overlay');
				this.$.ajax.setAttribute('handleAs', 'text');
				this.$.ajax.addEventListener("polymer-response",
        			function(e) {
						var response = e.detail.response;
						if (response == '{success:true}') {
   							modalOverlay.classList.remove('on');
							modalOverlay.innerHTML = '';
						} else {
							modalOverlay.innerHTML = response;
							var saveConfig = modalOverlay.querySelector('#saveConfig');
							var cancelConfig = modalOverlay.querySelector('#cancelConfig');
							var formConfig = modalOverlay.querySelector('#formConfig');
							saveConfig.addEventListener("click",
								function(e) {
									self.$.ajax.setAttribute('body', serialize(formConfig));
									self.$.ajax.setAttribute('method', 'POST');
									self.$.ajax.setAttribute('params', '{"action":"widget", "id":"' + self.instanceid + '"}');
									self.$.ajax.go();
									e.preventDefault();
									e.stopPropagation();
									return false;
								});
							cancelConfig.addEventListener("click",
								function(e) {
   									modalOverlay.classList.remove('on');
									modalOverlay.innerHTML = '';
									e.preventDefault();
									e.stopPropagation();
									return false;
								});
							modalOverlay.classList.add('on');
						}
        			});
				this.$.ajax.setAttribute('method', 'GET');
				this.$.ajax.setAttribute('params', '{"action":"widget", "id":"' + this.instanceid + '"}');
				self.$.ajax.go();
			},
			instanceidChanged: function(oldValue, newValue) {
		    	this.$.socket.register('widgetinstance-options', this.optionsReceived.bind(this), 'instance_id', newValue);
		    	this.$.socket.send("widgetinstance-getoptions", {'instance_id': newValue});
		    	this.$.socket.register('widgetinstance-sensors', this.sensorsReceived.bind(this), 'instance_id', newValue);
		    	this.$.socket.send("widgetinstance-getsensors", {'instance_id': newValue});
		    	this.$.socket.register('widgetinstance-commands', this.commandsReceived.bind(this), 'instance_id', newValue);
		    	this.$.socket.send("widgetinstance-getcommands", {'instance_id': newValue});
		    	this.$.socket.register('widgetinstance-devices', this.devicesReceived.bind(this), 'instance_id', newValue);
		    	this.$.socket.send("widgetinstance-getdevices", {'instance_id': newValue});
			},
			datatypesReceived: function() {
				if (!this.loaded && this.options && this.commandsReady && this.sensorsReady && this.devicesReady) this.loadingReady();
			},
			optionsReceived: function(topic, json) {
				this.options = json['options'];
				if (this.loaded) {
					if (this.default_style!=null) {
				      var ss = document.querySelector('style#style-instance-'+this.instanceid);
				      var widgetStyle = ss.sheet.cssRules[0];
				      widgetStyle.style.color=this.options['WidgetTextColor'];
				      widgetStyle.style.backgroundColor=this.options['WidgetBackgroundColor'];
				      widgetStyle.style.borderColor=this.options['WidgetBorderColor'];
				      widgetStyle.style.borderRadius=this.options['WidgetBorderRadius'];
				      widgetStyle.style.boxShadow=this.options['WidgetBoxShadow'];						
					}
					this.optionsUpdated();
				} else { // First loading
					this.classList.remove('loading');
					if (this.sensorsReady && this.commandsReady && this.devicesReady && this.datatypes) this.loadingReady();
				}
			},
			sensorsReceived: function(topic, json) {
				for (var key in json['sensors']) {
					var sensor = json['sensors'][key];
					var dmwsensor = this.shadowRoot.querySelector('dmw-sensor[sensorkey="' + key + '"]');
					if (dmwsensor) {
						dmwsensor.init(sensor);
					}
				}
				if (this.loaded) {
					this.sensorsUpdated();
				} else { // First loading
					this.sensorsReady = true;
					if (this.options && this.commandsReady && this.devicesReady && this.datatypes) this.loadingReady();
				}
			},
			commandsReceived: function(topic, json) {
				for (var key in json['commands']) {
					var command = json['commands'][key];
					var dmwcommand = this.shadowRoot.querySelector('dmw-command[commandkey="' + key + '"]');
					if (dmwcommand) {
						dmwcommand.init(command);
					}
				}
				if (this.loaded) {
					this.commandsUpdated();
				} else { // First loading
					this.commandsReady = true;
					if (this.options && this.commandsReady && this.devicesReady && this.datatypes) this.loadingReady();
				}
			},
			devicesReceived: function(topic, json) {
				for (var key in json['devices']) {
					var device = json['devices'][key];
					if ('sensors' in device) {
						for (var key in device['sensors']) {
							var dmwsensor = this.shadowRoot.querySelector('dmw-sensor[sensorkey="' + key + '"]');
							if (dmwsensor) {
								dmwsensor.init(device['sensors'][key]);
							}
						}
					}
					if ('commands' in device) {
						for (var key in device['commands']) {
							var dmwcommand = this.shadowRoot.querySelector('dmw-command[commandkey="' + key + '"]');
							if (dmwcommand) {
								dmwcommand.init(device['commands'][key]);
							}
						}
					}
				}
				if (this.loaded) {
					this.devicesUpdated();
				} else { // First loading
					this.devicesReady = true;
					if (this.options && this.commandsReady && this.sensorsReady && this.datatypes) this.loadingReady();
				}
			},
			get datatypes() {
				return this.$.datatypes.list;
			},
			loadingReady: function() {
				this.classList.remove('loading');
				this.loaded = true;
				this.loadingDone();
			},
			loadingDone: function() {},
			sensorsUpdated: function() {},
			commandsUpdated: function() {},
			devicesUpdated: function() {},
			optionsUpdated: function() {}
		});
	function createStyle(id, css) {
		var existingstyle = document.querySelector('style#style-instance-'+id);
		if (existingstyle) existingstyle.remove();
		var style = document.createElement('style');
		style.id = "style-instance-"+id;
		style.type = "text/css";
		// WebKit hack
		if (style.styleSheet){
		  	style.styleSheet.cssText = css;
		} else {
		  	style.appendChild(document.createTextNode(css));
		}
		document.head.appendChild(style);
		return style;
	}
	</script>
</polymer-element>

