<link rel="import" href="/libraries/bower_components/polymer/polymer.html">
<link rel="import" href="/components/websockets.html">
<link rel="import" href="/components/sensor.html">
<link rel="import" href="/libraries/bower_components/bootstrap-styles/bootstrap-styles.html">

<dom-module id="dmw-widgets-selector">
    <script src="/libraries/isotope-2.2.2/dist/isotope.pkgd.min.js"></script>
    <template>
        <style include="bootstrap-styles"></style>
        <style type="text/css">
        button {
            margin-top: 3px;
        }
        article {
            padding: 0;
            margin: 0.5em;
            text-align: center;
            float: left;
            /*width: 20em;*/
            width: 300px;
        }
        article h2 {
            margin: 0;
            background: #428bca;
            color: #ffffff;
            font-size: 1em;
            padding: 0.5em;
            -moz-border-radius:  6px 6px 0 0;
            -webkit-border-radius:  6px 6px 0 0;
            border-radius: 6px 6px 0 0;
        }
        article .body {
            background: #F0F0F0;
            color: #000000;
            padding: 0.5em;
            min-height: 8em;
            position: relative;
        }
        article .body .btnoverlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.6);
            padding: 1em;
            display: none;
        }
        article .body .btnoverlay button {
            margin: 0.5em auto 0.5em auto;
            display: block;
        }
        article .body:hover .btnoverlay,
        article .body:focus .btnoverlay {
            display: block;
        }
        article img {
            /*
            max-width: 19em;
            max-height: 7em;
            */
            max-height: 100px;
            max-width: 90%;
        }
        article .footer {
            margin: 0;
            background: #428bca;
            color: #ffffff;
            font-size: 1em;
            padding: 0.5em;
            -moz-border-radius:  0 0 6px 6px;
            -webkit-border-radius:  0 0 6px 6px;
            border-radius: 0 0 6px 6px;
            text-align: right;
            font-style: italic;
        }
        </style>
        <web-socket id="socket"></web-socket>
           <div id="container-fluid">
              <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h1>Select Widget</h1>
                    <button id="closeModal" type="button" class="btn btn-default">Close</button>
                    <div id="filters" class="button-group">
                      <button class="btn btn-info" data-filter$="*">show all</button>
                      <template is="dom-repeat" items="[[sets]]" mutable-data>
                        <button class="btn btn-default" data-filter$=".[[item.id]]">[[item.name]]</button>
                      </template>
                    </div>

                    <div id="widgetslist">
                      <template is="dom-repeat" items="[[widgets]]" mutable-data>
                        <article class$="[[item.set_id]]">
                           <h2>[[ item.name ]]</h2>
                           <div class="body">
                              <img src='/widget/[[item.set_id]]/[[item.set_ref]].png'/>
                              <div class="btnoverlay">
                                <button class="add-widget btn btn-success" on-click="addWidget" data-widget-id$="[[item.id]]" data-widget-width$="[[item.width]]" data-widget-height$="[[item.height]]">Add</button>
                                <button class="add-widget btn btn-success" on-click="addWidgetClose" data-widget-id$="[[item.id]]" data-widget-width$="[[item.width]]" data-widget-height$="[[item.height]]">Add and Close</button>
                            </div>
                          </div>
                          <div class="footer">[[item.set_name]]</div>
                        </article>
                      </template>
                    </div>
                </div>
            </div>
           </div>
    </template>
    <script>
        class DmwWidgetsSelector extends Polymer.Element {
            static get is () { return 'dmw-widgets-selector'; }

            constructor() {
                super();
            }
            connectedCallback() {
                super.connectedCallback();
                this.$.socket.register('widget-list', this.messageReceived.bind(this), null);
                this.$.socket.send("widget-getall", null);
                this.iso = new Isotope( this.$.widgetslist, {
                      itemSelector: 'article',
                      layoutMode: 'fitRows',
                });
                var self = this;
                this.$.closeModal.addEventListener('click', function () {
                    var modalOverlay = document.getElementById('modal-overlay');
                    modalOverlay.classList.remove('on');
                    self.remove();
                });
            }
            messageReceived(topic, json) {
                var sets = [];
                this.sets = [];
                for (var w in json) {
                    if (sets.indexOf(json[w].set_id)==-1) {
                        sets.push(json[w].set_id);
                        this.sets.push({'id':json[w].set_id, 'name':json[w].set_name, 'width':json[w].width, 'height':json[w].height});
                    }
                }
                console.log(json);
                this.widgets = json;
                var self = this;
                Polymer.Async.microTask.run(
                      // `async` lets the main loop resume and perform tasks, like DOM updates,
                      // then it calls your callback
                      function() {
                        var buttons = self.$.filters.querySelectorAll('button');
                        for (var i = buttons.length - 1; i >= 0; i--) {
                            buttons[i].addEventListener('click', function () {
                                var filterValue = this.dataset['filter'];
                                self.iso.arrange({
                                  filter: filterValue
                                });
                            });
                        };
                        self.iso.reloadItems();
                        self.iso.arrange();
                      }
                );
            }
            addWidget(e) {
                var widget_id = e.target.dataset.widgetId;
                var widget_width = e.target.dataset.widgetWidth;
                var widget_height = e.target.dataset.widgetHeight;
                var section = document.getElementById('currentsection');
                var coord = DMW.grid.firstEmptyPosition(widget_width, widget_height);
                this.$.socket.send("widgetinstance-add", {'widget_id':widget_id, 'section_id':section.sectionid, 'x':coord[0], 'y':coord[1]});
            }
            addWidgetClose(e) {
                this.addWidget(e);
                var modalOverlay = document.getElementById('modal-overlay');
                modalOverlay.classList.remove('on');
                this.remove();
            }
        }
        customElements.define(DmwWidgetsSelector.is, DmwWidgetsSelector);
    </script>
</dom-module>
