<link rel="import" href="/components/polymer/polymer.html">
<link rel="import" href="/components/websockets.html">
<link rel="import" href="/components/sensor.html">

<polymer-element name="dmw-widgets-selector" attributes="section">
	<style type="text/css">
	article {
		padding: 0;
		margin: 1em;
		text-align: center;
		float: left;
		width: 20em;
	}
	article h2 {
		margin: 0;
		background: #428bca;
		color: #ffffff;
		font-size: 1em;
		padding: 1em;
		-moz-border-radius:  6px 6px 0 0;
		-webkit-border-radius:  6px 6px 0 0;
		border-radius: 6px 6px 0 0;
	}
	article .body {
		background: #F0F0F0;
		color: #000000;
		padding: 1em;
		-moz-border-radius:  0 0 6px 6px;
		-webkit-border-radius:  0 0 6px 6px;
		border-radius: 0 0 6px 6px;
	}
	#widgets-list {
   	}

	</style>
	<template>
	    <web-socket id="socket"></web-socket>
   	    <div id="container-fluid">
  			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<h1>Select Widget</h1>
					<button id="closeModal" type="button" class="btn btn-default">Close</button>
					<div id="widgets-list">
					    <template repeat="{{w in widgets}}">
			        	<article>
			        		<h2>{{ w.set_name }} - {{ w.name }} <button class="add-widget btn btn-success" on-click="{{addWidget}}" data-widget-id="{{ w.id }}">Add</button></h2>
			        		<div class="body">
			        			<div><img src='/widget/{{ w.set_id }}/{{ w.set_ref }}.png'/></div>
				        	</div>
			        	</article>
				      	</template>
					</div>
				</div>
			</div>   	
   	    </div>
	</template>
	<script>
		Polymer("dmw-widgets-selector", {
			ready:function(){
		    	this.$.socket.register('widget-list', null, this.messageReceived.bind(this));
				this.$.socket.send("widget-getall", null);
				self = this;
				this.$.closeModal.addEventListener('click', function () {
					var modalOverlay = document.querySelector('#modal-overlay');
					modalOverlay.classList.remove('on');
					self.remove();
				});
			},
			messageReceived: function(topic, json) {
		        this.widgets = json;
		    },
		    addWidget: function(e) {
		    	var widget_id = e.target.dataset.widgetId;
		    	this.$.socket.send("widgetinstance-add", {'widget_id':widget_id, 'section_id':this.section});
		    }
		});
	</script>
</polymer-element>