{% comment %}
# Copyright 2011 Domogik project

# This file is part of Domogik.
# Domogik is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# Domogik is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with Domogik.  If not, see <http://www.gnu.org/licenses/>.

# Author : Cédric Trévisan <cedric@domogik.org>
{% endcomment %}
{% load i18n %}

<!DOCTYPE html>
<html lang="{{LANGUAGE_CODE}}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Cache-Control" content="no-cache" />
<meta http-equiv="Pragma" content="no-cache" />

<link href="{{ static_design_url }}/common/images/favicon.png" rel="icon shortcut" type="image/png" />
<link href='http://fonts.googleapis.com/css?family=Expletus+Sans:700' rel='stylesheet' type='text/css'>

<!--link href="{{ static_design_url }}/libraries/jquery-ui-1.8.16.custom/css/smoothness/jquery-ui-1.8.16.custom.css" rel="stylesheet" type="text/css"/-->
<link href="{{ static_design_url }}/libraries/jquery.jgrowl-1.2.6/css/jquery.jgrowl.css" rel="stylesheet" type="text/css"/>
<link href="{{ static_design_url }}/common/css/ui.general.css" rel="stylesheet" type="text/css" />
<link href="{{ static_design_url }}/common/css/ui-icons.css" rel="stylesheet" type="text/css" />
<link href="{{ static_design_url }}/common/css/dmg.notifications.css" rel="stylesheet" type="text/css" />

{% block global_css %}{% endblock %}
{% block css %}{% endblock %}
<script type="text/javascript" src="{% url django.views.i18n.javascript_catalog %}"></script>
<script type="text/javascript" src="{{ static_design_url }}/libraries/jquery-1.7.1/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="{{ static_design_url }}/libraries/jquery-ui-1.8.16.custom/js/jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript" src="{{ static_design_url }}/libraries/jquery.qtip-1.0.0-rc3/jquery.qtip-1.0.0-rc3.min.js"></script>
<script type="text/javascript" src="{{ static_design_url }}/libraries/jquery.jgrowl-1.2.6/js/jquery.jgrowl_minimized.js"></script>
<script type="text/javascript" src="{{ static_design_url }}/libraries/jquery.ui.subclass/jquery.ui.subclass.js"></script>
<script type="text/javascript" src="{{ static_design_url }}/common/js/main.js"></script>
<script type="text/javascript" src="{{ static_design_url }}/common/js/dmg.rinor.js"></script>
<script type="text/javascript" src="{{ static_design_url }}/common/js/dmg.notifications.js"></script>
<script type="text/javascript" src="{{ static_design_url }}/common/js/dmg.browser.js"></script>

{% block global_js_include %}{% endblock %}
{% block js_include %}{% endblock %}
<script type="text/javascript">
    // <![CDATA[
    var REST_URL = "{{ rest_url }}";
    var EVENTS_URL = "{{ events_url }}";
    var CONFIG_URL = "{{ config_url }}";
    var ADMIN_URL = "{{ admin_url }}";
    var VIEW_URL = "{{ view_url }}";
    var STATIC_DESIGN_URL = "{{ static_design_url }}";
    var STATIC_WIDGETS_URL = "{{ static_widgets_url }}";
    var STATIC_THEMES_URL = "{{ static_themes_url }}";
    var STATIC_ICONSETS_URL = "{{ static_iconsets_url }}";

    {% block js_script %}{% endblock %}
    $(function(){
    {% if messages %}
        {% for message in messages %}
        $.notification("{{ message.tags }}", "{{ message }}");
        {% endfor %}
    {% endif %}
    });
    // ]]>
</script>
<title>{% block title %}Domogik{% endblock %}</title>
</head>
<body>
    {% block body %}{% endblock %}
    <footer>Copyright 2012 Domogik project - GNU/GPL v3 license - DomoWeb [{{ version }}]</footer>
</body>
</html>
