#id_language {
    width:15em;
}

/* Languages */
.icon16-language-en { background-image:url(../images/language/en_16.png);}
.icon16-language-fr { background-image:url(../images/language/fr_16.png);}
.icon16-language-de { background-image:url(../images/language/de_16.png);}
.icon16-language-it { background-image:url(../images/language/it_16.png);}
.icon16-language-es { background-image:url(../images/language/es_16.png);}