{% extends "layouts/base_admin.html" %}
{% comment %}
# Copyright 2011 Domogik project

# This file is part of Domogik.
# Domogik is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# Domogik is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with Domogik.  If not, see <http://www.gnu.org/licenses/>.

# Author : Cédric Trévisan <cedric@domogik.org>
{% endcomment %}


{% load i18n %}
{% load text %}

{% block css %}
    <link href="{{ static_design_url }}/admin/css/page-admin-rinor.css" rel="stylesheet" type="text/css" />
    <link href="{{ static_design_url }}/admin/css/plugin-config.css" rel="stylesheet" type="text/css" />
    <link href="{{ static_design_url }}/common/css/ui-tables.css" rel="stylesheet" type="text/css" />
    <link href="{{ static_design_url }}/libraries/jquery.dataTables-1.8.2/css/page.css" rel="stylesheet" type="text/css" />
    <link href="{{ static_design_url }}/libraries/jquery.dataTables-1.8.2/css/table.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block js_include %}
    <script type="text/javascript" src="{{ static_design_url }}/libraries/jquery.dataTables-1.8.2/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="{{ static_design_url }}/admin/js/page-admin-rinor.js"></script>
    <script type="text/javascript" src="{{ static_design_url }}/admin/js/rinor-config.js"></script>
{% endblock %}
{% block js_script %}
    var plugin_host = '{{ host }}';
    var plugin_id = 'rest';

    $(function(){
        // Accordion
        $("#nav2").accordion({ autoHeight: false, header: ".subnav2", active:4});
        
        // Tabs
        $("#tabs").tabs();
    });
{% endblock %}
{% block title %}{{ page_title }}{% endblock %}

{% block banner %}
    <h1 class="ident"><span class="title">{% trans "Devices Events" %}</span></h1>
{% endblock %}

{% block right %}
    <div id="tabs">

            <section class="subsection">
                <table id='domogik_devicesstats_list' class='display' cellpadding="0" cellspacing="0" border="0">
                    <thead>
                        <tr>
                            <th scope='col'>{% trans "Created" %}</th>
                            <th scope='col'>{% trans "Type" %}</th>
                            <th scope='col'>{% trans "Name device" %}</th>                    
                            <th scope='col'>{% trans "Key" %}</th>
                            <th scope='col'>{% trans "Value" %}</th>
                        </tr>
                    </thead>
                    <tbody>
						{% for de in devicesevents_list %}
						<tr class="{% cycle 'odd' 'event' %}">
							<td>{{ de.date }}</td>
							<td><div class='icon16-text icon16-usage-{{ de.device.device_usage_id }}'>{{ de.device.device_usage_id }}</div></td>
							<td>{{ de.device.name}}</td>
							<td>{{ de.skey }}</td>
							<td>{{ de.value }}</td>
						</tr>
						{% endfor %}                    
					</tbody>
                </table>
                <br />
            </section>
    </div>

{% endblock %}
