<!--
# Copyright 2011 Domogik project

# This file is part of Domogik.
# Domogik is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# Domogik is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with Domogik.  If not, see <http://www.gnu.org/licenses/>.

# Author : Cédric Trévisan <cedric@domogik.org>
-->
{% extends "layouts/base_centered_panel.html" %}
{% load i18n %}

{% block css %}
    <link href="{{ static_design_url }}/common/css/page-error.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block js_include %}
{% endblock %}
{% block title %}{% trans "Error - RINOR not available" %}{% endblock %}

{% block content %}
    <div id="error">
        <h1>{% trans "RINOR not available" %}</h1>
        <ol>
            <li>{% trans "Check if RINOR is running on" %} {{ rinor_url }}</li>
            <li><a href="{% url config_configserver_view %}">{% trans "Re-Configure RINOR's address" %}</a></li>
            <li><a href="http://wiki.domogik.org/doc_StandardInstallation">{% trans "Read Domogik Wiki (How to start the server)" %}</a></li>
        </ol>
    </div>
{% endblock %}
