<template id="widgets-list-template">
	<div id="widgets-list">
		<style scoped>
			#widgets-list {
				width: 100%;
				height: 100%;
				background-color: rgba(0,0,0,0.6);
				position: fixed;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				-webkit-transition: all .3s ease;
				-moz-transition: all .3s ease;
				transition: all .3s ease;
				z-index: 2;
			}
		</style>

		<h1>Select Widget</h1>
		{% for widget in widgets %}
	        {% block widget %}
	          <button class="addWidget" data-widget-id="{{ widget.id }}" data-widget-width="{{ widget.width }}" data-widget-height="{{ widget.height }}">{{ escape(widget.set_name) }} - {{ escape(widget.name) }}</button>
	        {% end %}
	     {% end %}
		<button id="remove-widgets-list" type="button" class="btn btn-default">Close</button>
	</div>
</template>
<script>
	function widgetSelectionClose(){
		document.querySelector('#widgets-list').remove();
	}

	function appendWidget(e) {
		var element = e.target,
    	id = element.dataset.widgetId,
    	width = element.dataset.widgetWidth,
    	height = element.dataset.widgetHeight;

		var item = '<div class="item" data-width="' + (width*100) + '" data-height="' + (height*100) + '">Test ' + id + '</div>';
		wall.appendBlock(item);
		e.preventDefault();
	}
</script>