{% extends "base.html" %}

{% block main %}
	<button class="cn-button" id="cn-button"><span class='sr-only'>Open Menu</span></button>
	<div class="cn-wrapper" id="cn-wrapper">
	   <ul>
	       <li><a href="#"><span class="glyphicon glyphicon-cog"></span></a></li>
	       <li><a href="#"><span class="glyphicon glyphicon-th"></span></a></li>
	       <li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
	       <li><a href="#"><span class="glyphicon glyphicon-plus"></span></a></li>
	       <li><a href="#"><span class="glyphicon glyphicon-lock"></span></a></li>
	   </ul>
	</div>
	<div id="cn-overlay" class="cn-overlay"></div>
{% end %}