{% autoescape None %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="-1" />
  <title>Domoweb - Login</title>
  <link rel="stylesheet" href="/libraries/bootstrap-3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <style>
    body {
        color: #2D2C2F;
        background-color: white;
	width: 100%;
	height : 100%
    }

    .login {
        max-width: 350px;
    }
    .login .box {
        background-color: #FFFFFF;
        border-color: #005774 #D9D9D9 #D9D9D9;
        border-image: none;
        border-right: 1px solid #D9D9D9;
        border-style: solid;
        border-width: 5px 1px 1px;
        padding: 1em 1em 0 1em;
    }
    
    .login h1 {
        font-size: 2em;
        font-weight: normal;
        display: block;
        text-align: center;
    }
    
    .login .form-title {
        font-size: 1.2em;
        display: block;
        text-align: center;
        padding: 1em;
    }

  </style>
  <script src="/libraries/jquery-1.11.0/jquery.min.js"></script>
  <script type="text/javascript" src="/libraries/i18next-1.10.1/i18next-1.10.1.min.js"></script>
  <script>
    $(document).on("submit", "form", function(event)
      {
        var over = '<div id="overlay">' +
          '<div id="loader" class="loader"></div>' +
          '<div class="loading_text" id="loading_text">Authenticating...</div>'
          '</div>';
        $(over).appendTo('body');
    });        
  </script>
</head>
<body id="body">
<content>
  <div class="login center-block">
  <h1>
    <img src="/images/logo_medium.png" alt="">
    <strong>Domoweb</strong>
  </h1>

    {% if info %}
      <div class="alert alert-info" role="alert">
        {{ info }}
      </div>
    {% end %}
    {% if error %}
      <div class="alert alert-danger" role="alert">
        {{ error }}
      </div>
    {% end %}

  <div class="box">
    <form id="login" action="/login" method="post" class="form-vertical login-form">
      <div class="form-title">Please enter username and password</div>
  
      <div class="form-group">
        <label for="name" class="sr-only">Name</label>
        <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-user" aria-hidden='true'></span></span>
          <input type="text" class="form-control" name="name" id="name" placeholder="Your name...">
        </div>
      </div>
      <div class="form-group">
        <label for="password" class="sr-only">Password</label>
        <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-lock" aria-hidden='true'></span></span>
          <input type="password" class="form-control" name="password" id="password" placeholder="Your secret password...">
        </div>
      </div>
      <div class="form-group">
        <div class="form-actions clearfix">
          <button class="submit btn btn-primary pull-right" type="submit">Sign In <span class="glyphicon glyphicon-chevron-right" aria-hidden='true'></span>
          </button>
          <a class="btn btn-default" id="helpBtn"><span class="glyphicon glyphicon-question-sign" aria-hidden='true'></span> Help
          </a>
        </div>
      </div>
    </form>
  </div>

  <div class="modal" id="help" role="dialog" aria-labelledby="help" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="help">Domoweb login</h4>
        </div>
        <div class="modal-body">
          <p>Domoweb is the web interface for <a href="http://www.domogik.org/">Domogik</a>.</p>
          <p>For security reasons, to use Domoweb, you need an account. The accounts are managed in the Domogik interface administration. Please login with one of the created accounts.</p>
          <p>Notice that if you didn't activate the authentication on Domogik side, you may be able to login with any username and password.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


  <script src="/libraries/bootstrap-3.3.5/js/bootstrap.min.js"></script>
  <script type="text/javascript">
    $( document ).ready(function() {
        $('#helpBtn').click(function() {
            $('#help').modal('show');
        });


        // Please notice that this should be improved in 0.6 as here we store the user password as clear data !!
        // TODO : improve in 0.6
        // These data are used in the component/websocket.html file : they are added to each json send over WS
        $("#name").change(function() {
            localStorage.setItem("username", $("#name").val());
        });
        $("#password").change(function() {
            localStorage.setItem("password", $("#password").val());
        });
    });
  </script>
</content>
  </body>
</html>
