<div id="panelAddSectionForm" class="container-fluid">
	<form id="formAddSection" role="form">
		<div class="row">
			<div class="col-sm-12">
				<h1>Add New Section</h1>
			</div>
		</div>
		<div class="row">
			<!-- Navigation Buttons -->
			<div class="col-sm-3 col-nav">
				<ul class="nav nav-pills nav-stacked" role="tablist">
					<li class="active"><a href="#details" role="tab" data-toggle="tab">Details</a></li>
				</ul>
			</div>
			<!-- Content -->
			<div class="col-sm-6">
				<!-- Tab panes -->
				<div class="tab-content">
					<div class="tab-pane active" id="details">
						<div class="form-group">
							<label for="sectionName">Section name</label>
							<input type="text" class="form-control" id="sectionName" name="sectionName" placeholder="Enter Section name">
						</div>
						<div class="form-group">
							<label for="sectionName">Description</label>
							<input type="text" class="form-control" id="sectionDescription" name="sectionDescription" placeholder="Enter Section description">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-offset-3 col-sm-6">
				<button id="saveConfig" class="btn btn-primary">Save</button>
				<button id="cancelConfig" class="btn">Cancel</button>
			</div>
		</div>
	</form>
</div>