<div id="panelConfigurationForm" class="container-fluid">
  <form id="formConfig" role="form">
    <div class="row">
      <div class="col-sm-12">
        <h1>Configuration</h1>
      </div>
    </div>

    <div class="row">
      <!-- Navigation Buttons -->
      <div class="col-sm-3 col-nav">
        <ul class="nav nav-pills nav-stacked" role="tablist">
          <li class="active"><a href="#section" role="tab" data-toggle="tab">Section</a></li>
          <li><a href="#widgetstyle" role="tab" data-toggle="tab">Widgets</a></li>
        </ul>
      </div>
      <!-- Content -->
      <div class="col-sm-6">
        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane active" id="section">
            <div class="form-group">
              <label for="sectionName">Section name</label>
              <input type="text" class="form-control" id="sectionName" name="sectionName" placeholder="Enter Section name" value="{{section.name}}">
            </div>
            <div class="form-group">
              <label for="sectionName">Description</label>
              <input type="text" class="form-control" id="sectionDescription" name="sectionDescription" placeholder="Enter Section name" value="{{section.description}}">
            </div>
            <div class="form-group">
              <label for="SectionBackground">Background</label>
              <select class="image-picker form-control" id="SectionBackground" name="paramsSectionBackground">
                <option data-img-src="images/background_default_thumbnail.png" value=""{% if 'SectionBackground' not in params %} selected='selected'{% end %}>Default background</option>
              {% for background in backgrounds %}
                <option data-img-src="/backgrounds/thumbnails/{{ background }}" value="{{ background }}"{% if 'SectionBackground' in params and params['SectionBackground'] == background %} selected='selected'{% end %}>{{ background }}</option>
              {% end %}
              </select>
              </div>
              <div id="file-uploader-background"></div>
          </div>
          <div class="tab-pane" id="widgetstyle">
            {% for field in widgetForm %}
            <div class="form-group{% if field.errors %} has-error has-feedback{% end %}">
              {% raw field.label() %}
              {% if field.type == 'BooleanField' %}
                {% raw field() %}<br/>
              {% else %}
                {% raw field(class_='form-control') %}
              {% end %}
              <span>{% raw field.description %}</span>
              {% if field.errors %}
              <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
              <ul class="errors">{% for error in field.errors %}<li class="text-danger">{{ error }}</li>{% end %}</ul>
              {% end %}
            </div>
            {% end %}
              <h2 class="panel-title">Preview</h2>
                  <style type="text/css">
                    #widgetpreview {
                      width:  100px; height: 100px;
                      margin: 1em auto 1em auto;
                      border: 1px solid {{ params['WidgetBorderColor'] }};
                      background: {{ params['WidgetBackgroundColor'] }};
                      border-radius: {{ params['WidgetBorderRadius'] }};
                      color: {{ params['WidgetTextColor'] }};
                      box-shadow: {{ params['WidgetBoxShadow'] }};
                    }
                    #widgetpreview .number {
                      position: relative;
                      top: 50%;
                      -webkit-transform: translateY(-50%);
                      -ms-transform: translateY(-50%);
                      transform: translateY(-50%);
                        text-align: center;
                      font-size: 4em;
                    }
                    #widgetpreview .unit {
                      position: absolute;
                      top:5px;
                      right: 5px;
                      font-size: 1em;
                    }
                    #widgetpreview .labelprimary {
                      display: block;
                      font-size: 0.8em;
                      position: absolute;
                      top: -1.4em;
                      left: 0;
                      text-overflow: ellipsis;
                    }
                    #widgetpreview .labelsecondary {
                      display: block;
                      transform: rotate(-90deg);
                      transform-origin: bottom left;
                      -ms-transform: rotate(-90deg);
                      -ms-transform-origin: bottom left;
                      -webkit-transform: rotate(-90deg);
                      -webkit-transform-origin: bottom left;
                      position: absolute;
                      left: 0;
                      bottom: 0;
                      font-size: 0.8em;
                      text-overflow: ellipsis;
                    }
                  </style>
              <div id="widgetpreview">
                <span class="labelprimary">Température</span>
                <span class="labelsecondary">Piscine</span>
                <div class="number">29</div>
                <div class="unit">°C</div>
              </div>
          </div>
        </div>
      </div>
    </div>
      <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
          <button id="saveConfig" class="btn btn-primary">Save</button>
          <button id="cancelConfig" class="btn">Cancel</button>
        </div>
      </div>
    </form>
  </div>
