<div id="panelConfigurationForm" class="container-fluid">
  <form id="formConfig" role="form">
    <div class="container-fluid navbar-fixed-top">
        <h1>Section configuration</h1>
    </div>
    <div class="container-fluid" style="margin-top: 70px;">
        <div class="row">
          <!-- Navigation Buttons -->
          <div class="col-sm-3 col-nav">
            <div class="row">
                <ul class="nav nav-pills nav-stacked" role="tablist">
                  <li class="active"><a href="#section" role="tab" data-toggle="tab">Section</a></li>
                  <li><a href="#grid" role="tab" data-toggle="tab">Grid</a></li>
                  <li><a href="#background" role="tab" data-toggle="tab">Background</a></li>
                  <li><a href="#widgetstyle" role="tab" data-toggle="tab">Widgets</a></li>
                </ul>
            </div>
            <div class="row" style="position: fixed;">
                <div class="col-sm-12" style="margin-top: 200px;">
                    <div class="col-sm-6">
                        <button id="saveConfig" class="btn btn-primary">Save</button>
                </div>
                    <div class="col-sm-6">
                        <button id="cancelConfig" class="btn btn-default pull-right">Cancel</button>
                    </div>
                </div>
            </div>
          </div>
          <!-- Content -->
          <div class="col-sm-6">
            <!-- Tab panes -->
            <div class="tab-content">
              <div class="tab-pane active" id="section">
                <div class="form-group">
                  <label for="sectionName">Section name (id={{section.id}})</label>
                  <input type="text" class="form-control" id="sectionName" name="sectionName" placeholder="Enter Section name" value="{{section.name}}">
                </div>
                <div class="form-group">
                  <label for="sectionName">Description</label>
                  <input type="text" class="form-control" id="sectionDescription" name="sectionDescription" placeholder="Enter Section description" value="{{section.description}}">
                </div>
              </div>
              <div class="tab-pane" id="grid">
                <div class="form-group">
                  <p>A combination of 2 parameters is needed</p>
                  <p id="gridMessage"></p>
                  <ul>
                    <li><input type="radio" class="gridType" name="params_GridMode" value="1" {% if 'GridMode' in params and params['GridMode'] == '1' %} checked="checked"{% end %}/>Columns/Rows + Widget size</li>
                    <li><input type="radio" class="gridType" name="params_GridMode" value="2" {% if 'GridMode' in params and params['GridMode'] == '2' %} checked="checked"{% end %}/>Columns/Rows + Widget space</li>
                    <li><input type="radio" class="gridType" name="params_GridMode" value="3" {% if 'GridMode' in params and params['GridMode'] == '3' %} checked="checked"{% end %}/>Widget size + Widget space</li>
                  </ul>
                  <div class="form-inline">
                    <div class="form-group gridParam gridParamMode1 gridParamMode2"{% if 'GridMode' in params and params['GridMode'] == '3' %} style="display:none"{% end %}>
                      <label for="GridColumns">Columns</label>
                      <input type="text" class="form-control" id="GridColumns" name="params_GridColumns"{% if 'GridColumns' in params %} value="{{params['GridColumns']}}"{% end %}/>
                    </div>
                    <div class="form-group gridParam gridParamMode1 gridParamMode2"{% if 'GridMode' in params and params['GridMode'] == '3' %} style="display:none"{% end %}>
                      <label for="GridRows">Rows</label>
                      <input type="text" class="form-control" id="GridRows" name="params_GridRows"{% if 'GridRows' in params %}  value="{{params['GridRows']}}"{% end %}/>
                    </div>
                    <div class="form-group gridParam gridParamMode1 gridParamMode3"{% if 'GridMode' in params and params['GridMode'] == '2' %} style="display:none"{% end %}>
                      <label for="GridWidgetSize">Base widget size (px)</label>
                      <input type="text" class="form-control" id="GridWidgetSize" name="params_GridWidgetSize"{% if 'GridWidgetSize' in params %} value="{{params['GridWidgetSize']}}"{% end %}/>
                    </div>
                    <div class="form-group gridParam gridParamMode2 gridParamMode3"{% if 'GridMode' in params and params['GridMode'] == '1' %} style="display:none"{% end %}>
                      <label for="GridWidgetSpace">Space between widgets (px)</label>
                      <input type="text" class="form-control" id="GridWidgetSpace" name="params_GridWidgetSpace"{% if 'GridWidgetSpace' in params %} value="{{params['GridWidgetSpace']}}"{% end %}/>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="background">
                <div class="form-group">
                    <div class="row" style="top: 68px;width: 48%;position: fixed;background-color: rgba(0,0,0,0.9);z-index: 5;padding-bottom: 10px;">
                        <h2 class="panel-title">Preview</h2>
                        <div id="backgroundpreview"><div id="imagepreview"></div></div>
                    </div>
                    <div class="row"  style="margin-top: 250px;">
                      <h2 class="panel-title">Gradient</h2>
                      <button class="btn btn-default" id="randomgradient">Random</button>
                      <fieldset class="form-inline">
                          <div class="form-group">
                            <legend>Layer 1: </legend>
                          </div>
                          <div class="form-group">
                            <label for="SectionL0Hue">hue</label>
                            <input id="SectionL0Hue" name="params_SectionL0Hue" class="gradient" type="range" min="0" max="359" step="1"/>
                          </div>
                          <div class="form-group">
                            <label for="SectionL0Saturation">saturation</label>
                            <input id="SectionL0Saturation" name="params_SectionL0Saturation" class="gradient" type="range" min="0" max="100" step="1"/>
                          </div>
                          <div class="form-group">
                            <label for="SectionL0Lightness">lightness</label>
                            <input id="SectionL0Lightness" name="params_SectionL0Lightness" class="gradient" type="range" min="0" max="100" step="1"/>
                          </div>
                      </fieldset>
                      <fieldset class="form-inline">
                          <div class="form-group">
                            <legend>Layer 2: </legend>
                          </div>
                          <div class="form-group">
                            <label for="SectionL1Hue">hue</label>
                            <input id="SectionL1Hue" name="params_SectionL1Hue" class="gradient" type="range" min="0" max="359" step="1"/>
                          </div>
                          <div class="form-group">
                            <label for="SectionL1Saturation">saturation</label>
                            <input id="SectionL1Saturation" name="params_SectionL1Saturation" class="gradient" type="range" min="0" max="100" step="1"/>
                          </div>
                          <div class="form-group">
                            <label for="SectionL1Lightness">lightness</label>
                            <input id="SectionL1Lightness" name="params_SectionL1Lightness" class="gradient" type="range" min="0" max="100" step="1"/>
                          </div>
                      </fieldset>
                      <fieldset class="form-inline">
                          <div class="form-group">
                            <legend>Layer 3: </legend>
                          </div>
                          <div class="form-group">
                            <label for="SectionL2Hue">hue</label>
                            <input id="SectionL2Hue" name="params_SectionL2Hue" class="gradient" type="range" min="0" max="359" step="1"/>
                          </div>
                          <div class="form-group">
                            <label for="SectionL2Saturation">saturation</label>
                            <input id="SectionL2Saturation" name="params_SectionL2Saturation" class="gradient" type="range" min="0" max="100" step="1"/>
                          </div>
                          <div class="form-group">
                            <label for="SectionL2Lightness">lightness</label>
                            <input id="SectionL2Lightness" name="params_SectionL2Lightness" class="gradient" type="range" min="0" max="100" step="1"/>
                          </div>
                      </fieldset>
                      <fieldset class="form-inline">
                          <div class="form-group">
                            <legend>Layer 4: </legend>
                          </div>
                          <div class="form-group">
                            <label for="SectionL3Hue">hue</label>
                            <input id="SectionL3Hue" name="params_SectionL3Hue" class="gradient" type="range" min="0" max="359" step="1"/>
                          </div>
                          <div class="form-group">
                            <label for="SectionL3Saturation">saturation</label>
                            <input id="SectionL3Saturation" name="params_SectionL3Saturation" class="gradient" type="range" min="0" max="100" step="1"/>
                          </div>
                          <div class="form-group">
                            <label for="SectionL3Lightness">lightness</label>
                            <input id="SectionL3Lightness" name="params_SectionL3Lightness" class="gradient" type="range" min="0" max="100" step="1"/>
                          </div>
                      </fieldset>
                      <h2 class="panel-title">
                        <label for="SectionBackgroundCSS">Raw Color unable <input type="checkbox" id="SectionBackgroundCSSUnable"
                                                    {% if 'SectionBackgroundCSS' in params %} checked {% end %}
                            oninput="let c=document.getElementById('SectionBackgroundCSSColor');
                                     let ct=document.getElementById('SectionBackgroundCSS');
                                     c.disabled= !this.checked;
                                     ct.value = this.checked ? c.value : '';
                                    // Dispatch it.
                                    ct.dispatchEvent(new Event('change'));
                                     ">
                        </label>
                      </h2>
                      <input type="text" class="form-control" id="SectionBackgroundCSS" name="params_SectionBackgroundCSS" placeholder="Enter color value"
                            {% if 'SectionBackgroundCSS' in params %} value="{{params['SectionBackgroundCSS']}}"{% end %} style="display: none;">
                      <input type="color" class="form-control" id="SectionBackgroundCSSColor" name="params_SectionBackgroundCSSColor"
                            {% if 'SectionBackgroundCSS' in params %} value="{{params['SectionBackgroundCSS']}}" {% else %} disabled {% end %}
                            oninput="let ct=document.getElementById('SectionBackgroundCSS');
                                    ct.value = this.value;
                                    ct.dispatchEvent(new Event('change'));
                                 ">
                      <h2 class="panel-title"><label for="SectionBackgroundImage">Overlay Image</label></h2>
                      <select class="image-picker form-control" id="SectionBackgroundImage" name="params_SectionBackgroundImage">
                        <option data-img-src="images/background_none_thumbnail.png" value="none">No background</option>
                      {% for background in backgrounds %}
                        <option data-img-src="{{ background['href'] }}" value="{{ background['value'] }}"{% if 'SectionBackgroundImage' in params and params['SectionBackgroundImage'] == background['value'] %} selected='selected'{% end %}>{{ background['value'] }}</option>
                      {% end %}
                      </select>
                        <div id="file-uploader-background"></div>
                        <div class="form-group">
                            <label for="SectionBackgroundOpacity">Opacity</label>
                            <input id="SectionBackgroundOpacity" name="params_SectionBackgroundOpacity" type="range" min="0.1" max="1" step="0.1" {% if 'SectionBackgroundOpacity' in params %} value="{{params['SectionBackgroundOpacity']}}"{% else %}value="1"{% end %}/>
                          </div>
                    </div>
                  </div>
              </div>
              <div class="tab-pane" id="widgetstyle">
                <div class="row" style="top: 68px;width: 48%;position: fixed;background-color: rgba(0,0,0,0.9);z-index: 5;padding-bottom: 10px;">
                    <h2 class="panel-title">Preview</h2>
                      <style type="text/css">
                        #widgetSectionPreview {
                          width: 100px; height: 100px;
                          margin: 1em auto 1em auto;
                          border: 1px solid {{ themeWidgetsStyle['WidgetBorderColor'] }};
                          background: {{ themeWidgetsStyle['WidgetBackgroundColor'] }};
                          border-radius: {{ themeWidgetsStyle['WidgetBorderRadius'] }};
                          color: {{ themeWidgetsStyle['WidgetTextColor'] }};
                          box-shadow: {{ themeWidgetsStyle['WidgetBoxShadow'] }};
                        }
                        #widgetSectionPreview .number {
                          position: relative;
                          top: 50%;
                          -webkit-transform: translateY(-50%);
                          -ms-transform: translateY(-50%);
                          transform: translateY(-50%);
                            text-align: center;
                          font-size: 4em;
                        }
                        #widgetSectionPreview .unit {
                          position: absolute;
                          top:5px;
                          right: 5px;
                          font-size: 1em;
                        }
                        #widgetSectionPreview .labelprimary {
                          display: block;
                          font-size: 0.8em;
                          position: absolute;
                          top: -1.4em;
                          left: 0;
                          text-overflow: ellipsis;
                        }
                        #widgetSectionPreview .labelsecondary {
                          display: block;
                          transform: rotate(-90deg);
                          transform-origin: bottom left;
                          -ms-transform: rotate(-90deg);
                          -ms-transform-origin: bottom left;
                          -webkit-transform: rotate(-90deg);
                          -webkit-transform-origin: bottom left;
                          position: absolute;
                          left: 0;
                          bottom: 0;
                          font-size: 0.8em;
                          text-overflow: ellipsis;
                        }
                        #widgetstyleBackground {
                            padding-top: 10px;
                            padding-bottom: 20px;
                            background-size: cover !important;
                        }
                        #backgroundpreview #imagepreview {
                          {% if 'SectionBackgroundImage' in params and params['SectionBackgroundImage'] != 'none' %} background-image: url('{{params['SectionBackgroundImage']}}'); {% end %}
                          {% if 'SectionBackgroundOpacity' in params %} opacity: {{params['SectionBackgroundOpacity']}}; {% end %}
                        }
                      </style>
                    <div id="widgetstyleBackground"
                    {% if 'SectionBackgroundImage' in params and params['SectionBackgroundImage'] != 'none' %} style="background: url('{{params['SectionBackgroundImage']}}');" {% end %}>
                        <div id="widgetSectionPreview">
                            <span class="labelprimary">Température</span>
                            <span class="labelsecondary">Piscine</span>
                            <div class="number">29</div>
                            <div class="unit">°C</div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 190px;">
                    {% for field in widgetForm %}
                    <div class="form-group{% if field.errors %} has-error has-feedback{% end %}">
                      {% raw field.label() %}
                      {% if field.type == 'BooleanField' %}
                        {% raw field() %}<br/>
                      {% elif field.type == 'FormField' %}
                        {% raw field(class_='form-control subform') %}
                      {% else %}
                        {% raw field(class_='form-control') %}
                      {% end %}
                      <span>{% raw field.description %}</span>
                      {% if field.errors %}
                      <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                      <ul class="errors">{% for error in field.errors %}<li class="text-danger">{{ error }}</li>{% end %}</ul>
                      {% end %}
                    </div>
                    {% end %}
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </form>
</div>
