<div id="panelConfigurationForm" class="container-fluid">
  <form id="formConfig" role="form">
    <div class="row">
      <div class="col-sm-12">
        <h1>Configuration</h1>
      </div>
    </div>

    <div class="row">
      <!-- Navigation Buttons -->
      <div class="col-sm-3 col-nav">
        <ul class="nav nav-pills nav-stacked" role="tablist">
          <li class="active"><a href="#section" role="tab" data-toggle="tab">Section</a></li>
          <li><a href="#grid" role="tab" data-toggle="tab">Grid</a></li>
          <li><a href="#background" role="tab" data-toggle="tab">Background</a></li>
          <li><a href="#widgetstyle" role="tab" data-toggle="tab">Widgets</a></li>
        </ul>
      </div>
      <!-- Content -->
      <div class="col-sm-6">
        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane active" id="section">
            <div class="form-group">
              <label for="sectionName">Section name</label>
              <input type="text" class="form-control" id="sectionName" name="sectionName" placeholder="Enter Section name" value="{{section.name}}">
            </div>
            <div class="form-group">
              <label for="sectionName">Description</label>
              <input type="text" class="form-control" id="sectionDescription" name="sectionDescription" placeholder="Enter Section description" value="{{section.description}}">
            </div>
          </div>
          <div class="tab-pane" id="grid">
            <div class="form-group">
              <p>A combination of 2 parameters is needed</p>
              <p id="gridMessage"></p>
              <ul>
                <li><input type="radio" class="gridType" name="params-GridMode" value="1" {% if 'GridMode' in params and params['GridMode'] == '1' %} checked="checked"{% end %}/>Columns/Rows + Widget size</li>
                <li><input type="radio" class="gridType" name="params-GridMode" value="2" {% if 'GridMode' in params and params['GridMode'] == '2' %} checked="checked"{% end %}/>Columns/Rows + Widget space</li>
                <li><input type="radio" class="gridType" name="params-GridMode" value="3" {% if 'GridMode' in params and params['GridMode'] == '3' %} checked="checked"{% end %}/>Widget size + Widget space</li>
              </ul>
              <div class="form-inline">
                <div class="form-group gridParam gridParamMode1 gridParamMode2"{% if 'GridMode' in params and params['GridMode'] == '3' %} style="display:none"{% end %}>
                  <label for="GridColumns">Columns</label>
                  <input type="text" class="form-control" id="GridColumns" name="params-GridColumns"{% if 'GridColumns' in params %} value="{{params['GridColumns']}}"{% end %}/>
                </div>
                <div class="form-group gridParam gridParamMode1 gridParamMode2"{% if 'GridMode' in params and params['GridMode'] == '3' %} style="display:none"{% end %}>
                  <label for="GridRows">Rows</label>
                  <input type="text" class="form-control" id="GridRows" name="params-GridRows"{% if 'GridRows' in params %}  value="{{params['GridRows']}}"{% end %}/>
                </div>
                <div class="form-group gridParam gridParamMode1 gridParamMode3"{% if 'GridMode' in params and params['GridMode'] == '2' %} style="display:none"{% end %}>
                  <label for="GridWidgetSize">Base widget size (px)</label>
                  <input type="text" class="form-control" id="GridWidgetSize" name="params-GridWidgetSize"{% if 'GridWidgetSize' in params %} value="{{params['GridWidgetSize']}}"{% end %}/>
                </div>
                <div class="form-group gridParam gridParamMode2 gridParamMode3"{% if 'GridMode' in params and params['GridMode'] == '1' %} style="display:none"{% end %}>
                  <label for="GridWidgetSpace">Space between widgets (px)</label>
                  <input type="text" class="form-control" id="GridWidgetSpace" name="params-GridWidgetSpace"{% if 'GridWidgetSpace' in params %} value="{{params['GridWidgetSpace']}}"{% end %}/>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="background">
            <div class="form-group">
              <h2 class="panel-title">Preview</h2>
              <div id="backgroundpreview"><div id="imagepreview"></div></div>
              <h2 class="panel-title">Gradient</h2>
              <button class="btn" id="randomgradient">Random</button>
              <fieldset class="form-inline">
                  <div class="form-group">
                    <legend>Layer 1: </legend>
                  </div>
                  <div class="form-group">
                    <label for="SectionL0Hue">hue</label>
                    <input id="SectionL0Hue" name="params-SectionL0Hue" type="range" min="0" max="359" step="1"/>
                  </div>
                  <div class="form-group">
                    <label for="SectionL0Saturation">saturation</label>
                    <input id="SectionL0Saturation" name="params-SectionL0Saturation" type="range" min="0" max="100" step="1"/>
                  </div>
                  <div class="form-group">
                    <label for="SectionL0Lightness">lightness</label>
                    <input id="SectionL0Lightness" name="params-SectionL0Lightness" type="range" min="0" max="100" step="1"/>
                  </div>
              </fieldset>
              <fieldset class="form-inline">
                  <div class="form-group">
                    <legend>Layer 2: </legend>
                  </div>
                  <div class="form-group">
                    <label for="SectionL1Hue">hue</label>
                    <input id="SectionL1Hue" name="params-SectionL1Hue" type="range" min="0" max="359" step="1"/>
                  </div>
                  <div class="form-group">
                    <label for="SectionL1Saturation">saturation</label>
                    <input id="SectionL1Saturation" name="params-SectionL1Saturation" type="range" min="0" max="100" step="1"/>
                  </div>
                  <div class="form-group">
                    <label for="SectionL1Lightness">lightness</label>
                    <input id="SectionL1Lightness" name="params-SectionL1Lightness" type="range" min="0" max="100" step="1"/>
                  </div>
              </fieldset>
              <fieldset class="form-inline">
                  <div class="form-group">
                    <legend>Layer 3: </legend>
                  </div>
                  <div class="form-group">
                    <label for="SectionL2Hue">hue</label>
                    <input id="SectionL2Hue" name="params-SectionL2Hue" type="range" min="0" max="359" step="1"/>
                  </div>
                  <div class="form-group">
                    <label for="SectionL2Saturation">saturation</label>
                    <input id="SectionL2Saturation" name="params-SectionL2Saturation" type="range" min="0" max="100" step="1"/>
                  </div>
                  <div class="form-group">
                    <label for="SectionL2Lightness">lightness</label>
                    <input id="SectionL2Lightness" name="params-SectionL2Lightness" type="range" min="0" max="100" step="1"/>
                  </div>
              </fieldset>
              <fieldset class="form-inline">
                  <div class="form-group">
                    <legend>Layer 4: </legend>
                  </div>
                  <div class="form-group">
                    <label for="SectionL3Hue">hue</label>
                    <input id="SectionL3Hue" name="params-SectionL3Hue" type="range" min="0" max="359" step="1"/>
                  </div>
                  <div class="form-group">
                    <label for="SectionL3Saturation">saturation</label>
                    <input id="SectionL3Saturation" name="params-SectionL3Saturation" type="range" min="0" max="100" step="1"/>
                  </div>
                  <div class="form-group">
                    <label for="SectionL3Lightness">lightness</label>
                    <input id="SectionL3Lightness" name="params-SectionL3Lightness" type="range" min="0" max="100" step="1"/>
                  </div>
              </fieldset>
              <h2 class="panel-title"><label for="SectionBackgroundCSS">Raw Color</label></h2>
              <input type="text" class="form-control" id="SectionBackgroundCSS" name="params-SectionBackgroundCSS" placeholder="Enter color value" {% if 'SectionBackgroundCSS' in params %} value="{{params['SectionBackgroundCSS']}}"{% end %}>

              <h2 class="panel-title"><label for="SectionBackgroundImage">Overlay Image</label></h2>
              <select class="image-picker form-control" id="SectionBackgroundImage" name="params-SectionBackgroundImage">
                <option data-img-src="images/background_none_thumbnail.png" value="none">No background</option>
              {% for background in backgrounds %}
                <option data-img-src="{{ background['href'] }}" value="{{ background['value'] }}"{% if 'SectionBackgroundImage' in params and params['SectionBackgroundImage'] == background['value'] %} selected='selected'{% end %}>{{ background['value'] }}</option>
              {% end %}
              </select>
                <div id="file-uploader-background"></div>
                <div class="form-group">
                    <label for="SectionBackgroundOpacity">Opacity</label>
                    <input id="SectionBackgroundOpacity" name="params-SectionBackgroundOpacity" type="range" min="0.1" max="1" step="0.1" {% if 'SectionBackgroundOpacity' in params %} value="{{params['SectionBackgroundOpacity']}}"{% else %}value="1"{% end %}/>
                  </div>

              </div>
          </div>
          <div class="tab-pane" id="widgetstyle">
            <h2 class="panel-title">Preview</h2>
                  <style type="text/css">
                    #widgetpreview {
                      width:  100px; height: 100px;
                      margin: 1em auto 1em auto;
                      border: 1px solid {{ themeWidgetsStyle['WidgetBorderColor'] }};
                      background: {{ themeWidgetsStyle['WidgetBackgroundColor'] }};
                      border-radius: {{ themeWidgetsStyle['WidgetBorderRadius'] }};
                      color: {{ themeWidgetsStyle['WidgetTextColor'] }};
                      box-shadow: {{ themeWidgetsStyle['WidgetBoxShadow'] }};
                    }
                    #widgetpreview .number {
                      position: relative;
                      top: 50%;
                      -webkit-transform: translateY(-50%);
                      -ms-transform: translateY(-50%);
                      transform: translateY(-50%);
                        text-align: center;
                      font-size: 4em;
                    }
                    #widgetpreview .unit {
                      position: absolute;
                      top:5px;
                      right: 5px;
                      font-size: 1em;
                    }
                    #widgetpreview .labelprimary {
                      display: block;
                      font-size: 0.8em;
                      position: absolute;
                      top: -1.4em;
                      left: 0;
                      text-overflow: ellipsis;
                    }
                    #widgetpreview .labelsecondary {
                      display: block;
                      transform: rotate(-90deg);
                      transform-origin: bottom left;
                      -ms-transform: rotate(-90deg);
                      -ms-transform-origin: bottom left;
                      -webkit-transform: rotate(-90deg);
                      -webkit-transform-origin: bottom left;
                      position: absolute;
                      left: 0;
                      bottom: 0;
                      font-size: 0.8em;
                      text-overflow: ellipsis;
                    }
                    #backgroundpreview {
                      margin: 20px auto 0 auto;
                      width: 300px;
                      height: 200px;
                      border: 1px solid #e5e5e5;
                      position: relative;
                    }

                    #backgroundpreview #imagepreview {
                      top: 0;
                      left: 0;
                      bottom: 0;
                      right: 0;
                      position: absolute;
                      background-position: 0 0;
                      background-repeat: no-repeat;
                      background-size: cover;
                      {% if 'SectionBackgroundImage' in params and params['SectionBackgroundImage'] != 'none' %} background-image: url('{{params['SectionBackgroundImage']}}'); {% end %}
                      {% if 'SectionBackgroundOpacity' in params %} opacity: {{params['SectionBackgroundOpacity']}}; {% end %}
                    }
                  </style>
              <div id="widgetpreview">
                <span class="labelprimary">Température</span>
                <span class="labelsecondary">Piscine</span>
                <div class="number">29</div>
                <div class="unit">°C</div>
              </div>
            {% for field in widgetForm %}
            <div class="form-group{% if field.errors %} has-error has-feedback{% end %}">
              {% raw field.label() %}
              {% if field.type == 'BooleanField' %}
                {% raw field() %}<br/>
              {% else %}
                {% raw field(class_='form-control') %}
              {% end %}
              <span>{% raw field.description %}</span>
              {% if field.errors %}
              <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
              <ul class="errors">{% for error in field.errors %}<li class="text-danger">{{ error }}</li>{% end %}</ul>
              {% end %}
            </div>
            {% end %}
          </div>
        </div>
      </div>
    </div>
      <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
          <button id="saveConfig" class="btn btn-primary">Save</button>
          <button id="cancelConfig" class="btn">Cancel</button>
        </div>
      </div>
    </form>
  </div>