<div id="widgetConfigurationForm" class="container-fluid">
  <form id="formConfig" role="form">
    <div class="row">
      <div class="col-sm-12">
        <h1>{{ instance.widget.name }} configuration</h1>
      </div>
    </div>
    <div class="row">
      <!-- Navigation Buttons -->
      <div class="col-sm-3 col-nav">
        <ul class="nav nav-pills nav-stacked" role="tablist">
          {% if forms.has_options %}
          <li class="active"><a href="#options" role="tab" data-toggle="tab">Options</a></li>
          {% end %}
          {% if forms.has_sensors %}
          <li{% if not(forms.has_options) %} class="active"{% end %}><a href="#sensors" role="tab" data-toggle="tab">Sensors</a></li>
          {% end %}
          {% if forms.has_commands %}
          <li{% if not(forms.has_options) and not(forms.has_sensors) %} class="active"{% end %}><a href="#commands" role="tab" data-toggle="tab">Commands</a></li>
          {% end %}
          <li{% if not(forms.has_options) and not(forms.has_sensors) and not(forms.has_commands) %} class="active"{% end %}><a href="#general" role="tab" data-toggle="tab">General</a></li>
        </ul>
      </div>
      <!-- Content -->
      <div class="col-sm-6">
        <!-- Tab panes -->
        <div class="tab-content">
          {% if forms.has_options %}
          <div class="tab-pane active" id="options">
            {% for field in forms.optionsform %}
            <div class="form-group{% if field.errors %} has-error has-feedback{% end %}">
              {% raw field.label() %}
              {% if field.type == 'BooleanField' %}
                {% raw field() %}<br/>
              {% else %}
                {% raw field(class_='form-control') %}
              {% end %}
              {% if field.description %}
              <em>{% raw field.description %}</em>
              {% end %}
              {% if field.errors %}
              <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
              <ul class="errors">{% for error in field.errors %}<li class="text-danger">{{ error }}</li>{% end %}</ul>
              {% end %}
            </div>
            {% end %}
          </div>
          {% end %}
          {% if forms.has_sensors %}
          <div class="tab-pane{% if not(forms.has_options) %} active{% end %}" id="sensors">
            {% for field in forms.sensorsform %}
            <div class="form-group{% if field.errors %} has-error has-feedback{% end %}">
              {% raw field.label() %}
              {% raw field(class_='form-control') %}
              {% if field.description %}
              <em>{% raw field.description %}</em>
              {% end %}
              {% if field.errors %}
              <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
              <ul class="errors">{% for error in field.errors %}<li class="text-danger">{{ error }}</li>{% end %}</ul>
              {% end %}
            </div>
            {% end %}
          </div>
          {% end %}
          {% if forms.has_commands %}
          <div class="tab-pane{% if not(forms.has_options) and not(forms.has_sensors) %} active{% end %}" id="commands">
          {% for field in forms.commandsform %}
          <div class="form-group{% if field.errors %} has-error has-feedback{% end %}">
            {% raw field.label() %}
            {% raw field(class_='form-control') %}
              {% if field.description %}
              <em>{% raw field.description %}</em>
              {% end %}
            {% if field.errors %}
            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
            <ul class="errors">{% for error in field.errors %}<li class="text-danger">{{ error }}</li>{% end %}</ul>
            {% end %}
          </div>
          {% end %}
          </div>
          {% end %}
          {% if forms.has_devices %}
          <div class="tab-pane{% if not(forms.has_options) and not(forms.has_sensors) and not(forms.has_commands) %} active{% end %}" id="devices">
          {% for field in forms.devicesform %}
          <div class="form-group{% if field.errors %} has-error has-feedback{% end %}">
            {% raw field.label() %}
            {% raw field(class_='form-control') %}
              {% if field.description %}
              <em>{% raw field.description %}</em>
              {% end %}
            {% if field.errors %}
            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
            <ul class="errors">{% for error in field.errors %}<li class="text-danger">{{ error }}</li>{% end %}</ul>
            {% end %}
          </div>
          {% end %}
          </div>
          {% end %}
          <div class="tab-pane{% if not(forms.has_options) and not(forms.has_sensors) and not(forms.has_commands) and not(forms.has_devices) %} active{% end %}" id="general">
            {% for field in forms.generalform %}
            <div class="form-group{% if field.errors %} has-error has-feedback{% end %}">
              {% raw field.label() %}
              {% if field.type == 'BooleanField' %}
                {% raw field() %}<br/>
              {% else %}
                {% raw field(class_='form-control') %}
              {% end %}
              <span>{% raw field.description %}</span>
              {% if field.errors %}
              <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
              <ul class="errors">{% for error in field.errors %}<li class="text-danger">{{ error }}</li>{% end %}</ul>
              {% end %}
            </div>
            {% end %}
          </div>
        </div>
      </div>
    </div>
      <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
          <button id="saveConfig" class="btn btn-primary">Save</button>
          <button id="cancelConfig" class="btn">Cancel</button>
        </div>
      </div>

  </form>
</div>
