{% comment %}
# Copyright 2012 Domogik project

# This file is part of Domogik.
# Domogik is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# Domogik is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with Domogik.  If not, see <http://www.gnu.org/licenses/>.

# Author : Cédric Trévisan <cedric@domogik.org>
{% endcomment %}
{% load i18n %}

<!DOCTYPE html>
<html lang="{{LANGUAGE_CODE}}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Cache-Control" content="no-cache" />
<meta http-equiv="Pragma" content="no-cache" />

<link rel="icon shortcut" type="image/png" href="/design/common/images/favicon.png" />
    
<link href="/design/viewnew/css/common-page.css" rel="stylesheet" type="text/css" />
<link href="/design/viewnew/css/ui-icons.css" rel="stylesheet" type="text/css" />

{% block global_css %}{% endblock %}
{% block css %}{% endblock %}
<script type="text/javascript" src="{% url django.views.i18n.javascript_catalog %}"></script>
<script type="text/javascript" src="/design/libraries/jquery-1.7.1/jquery-1.7.1.min.js"></script>

{% block global_js_include %}{% endblock %}
{% block js_include %}{% endblock %}
<script type="text/javascript">
    // <![CDATA[
{% block js_script %}{% endblock %}
    $(function(){
    {% if messages %}
        {% for message in messages %}
        $.notification("{{ message.tags }}", "{{ message }}");
        {% endfor %}
    {% endif %}
    });
    // ]]>
</script>
<title>{% block title %}Domogik{% endblock %}</title>
</head>
<body role='application'>
    {% block body %}{% endblock %}
</body>
</html>
