#id_language {
    width:15em;
}

/* Languages */
.icon16-language-en { background-image:url(../images/language/en_16.png);}
.icon16-language-fr { background-image:url(../images/language/fr_16.png);}
.icon16-language-nl_BE { background-image:url(../images/language/nl_BE_16.png);}
