{% extends "layouts/base_admin.html" %}
{% comment %}
# Copyright 2011 Domogik project

# This file is part of Domogik.
# Domogik is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# Domogik is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with Domogik.  If not, see <http://www.gnu.org/licenses/>.

# Author : Cédric Trévisan <cedric@domogik.org>
{% endcomment %}


{% load i18n %}
{% load text %}

{% block css %}
    <link href="{{ static_design_url }}/admin/css/page-admin-host.css" rel="stylesheet" type="text/css" />
    <link href="{{ static_design_url }}/libraries/jquery.dataTables-1.8.2/css/page.css" rel="stylesheet" type="text/css" />
    <link href="{{ static_design_url }}/libraries/jquery.dataTables-1.8.2/css/table.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block js_include %}
    <script type="text/javascript" src="{{ static_design_url }}/libraries/jquery.dataTables-1.8.2/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="{{ static_design_url }}/libraries/jquery.dataTables-1.8.2/js/jquery.dataTables.rowGrouping.js"></script>
    <script type="text/javascript" src="{{ static_design_url }}/libraries/jquery.dataTables-1.8.2/js/fnReloadAjax.js"></script>
    <script type="text/javascript" src="{{ static_design_url }}/admin/js/page-admin-host.js"></script>
{% endblock %}
{% block js_script %}
    var host_id = '{{host.id}}';
    var config_url = '{% url admin_plugins_plugin_view host.id 'plugin_id' 'plugin_type' %}';
    
    $(function(){    
        // Accordion
        $("#nav2").accordion({ autoHeight: false, header: ".subnav2", active:3});
		$("#tabs").tabs();

        $('.package .release span[title]').tooltip_right();
        $('#dialog_dependency').dialog({
                minWidth: 350,
                minHeight: 200,
                autoOpen: false,
                modal: true
            });
    });
{% endblock %}
{% block title %}{{ page_title }}{% endblock %}

{% block banner %}
    <h1 class="ident"><span class="title">{{page_title}}</span></h1>
{% endblock %}

{% block right %}
    <div id="tabs">
        <ul>
            <li><a href="#tabs-host">{% trans "Host" %}</a></li>
            <li><a href="#tabs-plugins">{% trans "Plugins" %}</a></li>
            {% if host.primary == "True" %}
            <li><a href="#tabs-externals">{% trans "External members" %}</a></li>
            {% endif %}
        </ul>
    {% if host.primary == "True" %}
        <div id="tabs-host">
            {% if host.primary == "True" %}
            <section class="subsection">
                <h2>{% trans "Repositories" %}</h2>
                <button id='update_cache'>{% trans "Update cache" %}</button>
                <table class='simple'>
                    <thead>
                        <tr><th>{% trans "Priority" %}</th><th>{% trans "URL" %}</th></tr>
                    </thead>
                    <tbody>
                    {% for repository in repositories %}
                        <tr><td>{{repository.priority}}</td><td><a href='{{repository.url}}' target='_blank'>{{repository.url}}</a></td></tr>
                    {% endfor %}
                    </tbody>
                </table>
            </section>
            {% endif %}
        </div>
    {% endif %}
        <div id="tabs-plugins">
            <section class="subsection">
                <h2>{% trans "Installed" %}</h2>
                    <table id='installed_plugins' class='display' cellpadding="0" cellspacing="0" border="0">
                    <thead>
                        <tr><th>{% trans "Name" %}</th>
                            <th>{% trans "Version" %}</th>
                            <th>{% trans "Action" %}</th></tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </section>
            <section class="subsection">
                <h2>{% trans "Available" %}</h2>
                <table id='available_plugins' class='display' cellpadding="0" cellspacing="0" border="0">
                    <thead>
                        <tr><th>{% trans "Name" %}</th>
                            <th>{% trans "Version" %}</th>
                            <th>{% trans "Repository" %}</th>
                            <th>{% trans "Category" %}</th>
                            <th>{% trans "Description" %}</th>
                            <th>{% trans "Authors" %}</th>
                            <th>{% trans "Action" %}</th></tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </section>
        </div>
    {% if host.primary == "True" %}
        <div id="tabs-externals">
            <section class="subsection">
                <h2>{% trans "Installed" %}</h2>
                    <table id='installed_externals' class='display' cellpadding="0" cellspacing="0" border="0">
                    <thead>
                        <tr><th>{% trans "Name" %}</th>
                            <th>{% trans "Version" %}</th>
                            <th>{% trans "Action" %}</th></tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </section>
            <section class="subsection">
                <h2>{% trans "Available" %}</h2>
                <table id='available_externals' class='display' cellpadding="0" cellspacing="0" border="0">
                    <thead>
                        <tr><th>{% trans "Name" %}</th>
                            <th>{% trans "Version" %}</th>
                            <th>{% trans "Repository" %}</th>
                            <th>{% trans "Category" %}</th>
                            <th>{% trans "Description" %}</th>
                            <th>{% trans "Authors" %}</th>
                            <th>{% trans "Action" %}</th></tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </section>
        </div>
    {% endif %}
    </div>
    <div id='dialog_dependency'></div>
{% endblock %}
