.content-centered-panel {
    width:60em;
    margin: -20em auto 0 -30em;
    position:absolute;
    -webkit-box-shadow: 0px 0px 100px 5px #000000;
    -moz-box-shadow: 0px 0px 100px 5px #000000;
    box-shadow: 0px 0px 100px 5px #000000;
    left:50%;
    top:50%;
}

.content-centered-panel header#mainheader {
    display:block;
    padding: 1em;
    background-color:#2D2C2F;
    color:#FFFFFF;
	-moz-border-radius: 0.8em 0.8em 0 0;
	-webkit-border-radius: 0.8em 0.8em 0 0;
	border-radius: 0.8em 0.8em 0 0;
}

.content-centered-panel section#mainsection {
    display:block;
	min-height:20em;
	border: #2D2C2F 1px solid;
    background-color:#FFFFFF;
	-moz-border-radius: 0 0 0.8em 0.8em;
	-webkit-border-radius: 0 0 0.8em 0.8em;
	border-radius: 0 0 0.8em 0.8em;
    padding:1em 1em 5em 1em;
}

.content-centered-panel #logo {
    float:left;
    margin: -3em 0 0 -3em;
}

/* Wizard panels */
.content-centered-panel .wizard_nav {
    position: absolute;
    bottom:1em;
    right:1em;
}

.content-centered-panel .wizard_nav li {
    display:inline-block;
    margin-left:1em;
}