@charset "UTF-8";
/* CSS Document */
form {
    background-color: #EDEDED;
    border: #E6E5E5 1px solid;
    margin:1em auto 0 auto;
    padding:1em;
    width:40em
}

.row {
    padding:0.5em;
}

.tip {
    display:block;
    background:#eeeeee;
    margin:0;
}

label {
    display:inline-block;
    width:16em;
    text-align:right;
    padding-right:2em;
}

.errorlist li {
    color: #BB1414;
    font-style: italic;
}

label.required {
    font-weight:bold;    
}

input[type='text'], input[type='password'] {
    border:1px solid #999;
    height:1.6em;
    margin: 0 0 0.2em 0;
    -moz-border-radius: 0.4em;
    -webkit-border-radius: 0.4em;
    border-radius: 0.4em;
    background-position:right 50%;
    background-repeat:no-repeat;
}

input[type='text'].default, input[type='password'].default {
    color:#767676;
}

textarea {
    border:1px solid #999;
    -moz-border-radius: 0.4em;
    -webkit-border-radius: 0.4em;
    border-radius: 0.4em;
}

input[type='text']:hover, input[type='text']:focus,
input[type='password']:hover, input[type='password']:focus,
textarea:hover, textarea:focus {
    color:#000;
    background-color: #BDCB2F;
}

input[type='text'].medium, input[type='password'].medium, textarea.medium  {
    width:20em;
}

select.medium {
    width:15em;
}

select.large {
    width:22em;
}

fieldset {
    margin:0;
    border:none;
}

input[type='text'].required, input[type='password'].required {
    border:2px solid #000000;
}

input[type='text'].state-error, input[type='password'].state-error {
    border:2px solid #991A1A;    
}
