input[type='submit'] {
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	outline: 0;
	padding: 0;
	margin: 0;
	border: 0;
}

input[type='submit'], .button {
    color:#ffffff;
    background-color:#004B62;
    padding:0.6em 1em 0.6em 1em;
    cursor: pointer;
    border:1px solid #004B62;
    text-decoration:none;
    display:inline;
    white-space:nowrap;
    line-height: 1em;
    font-size: 1em;
}

input[type='submit']:hover, .button:hover, input[type='submit']:focus, .button:focus {
    color:#004B62;
    background-color:#FFFFFF;
}

input[type='submit']:active, .button:active {
    color:#FFFFFF;
    background-color:#981A0A;
    border:none;
}

input[type='submit'].disabled, .disabled, input[type='submit'].disabled:hover, .disabled:hover {
    color:#CFCFCF;
    background-color:#707070;
    border:none;
    cursor: default;
}

.next {
    -moz-border-radius: 0 2em 2em 0;
    -webkit-border-radius: 0 2em 2em 0;
    border-radius: 0 2em 2em 0;
    padding-right: 2em;
}

.previous {
    -moz-border-radius: 2em 0 0 2em;
    -webkit-border-radius: 2em 0 0 2em;
    border-radius: 2em 0 0 2em;
    padding-left: 2em;
}