
table.parameters {
    width: 100%;
}

table.parameters td.name {
    width: 20em;
}

table.parameters td.input {
    text-align: center;
}

table.parameters td {
    padding: 0.2em 1em 0.2em 1em;
    border-bottom: 1px solid #41434A;
}

table.parameters label {
    display: block;
    text-align: right;
    font-weight: bold;
}

table.parameters label.required {
}

table.parameters label.required:after { content:" *"; }

table.parameters .odd td {
    background-color: #476687;
    color: #F2F1E9;
}

table.parameters .even td {
    background-color: #f0eff2;
    color: #41434A;
}

table.parameters .description {
    font-size: 0.8em;
    font-style: italic;
}

table.parameters .errors {
    color: #a50003;
    font-size: 0.8em;
    text-align: center;
    width: 100%;
}

table.parameters select, table.parameters input, table.parameters textarea {
    min-width: 20em;
}