header {
    background-color: #ffffff;
    border-bottom: 1px solid #EFEFEF;
}

html, body {
    background: url(../images/form_bgnd.png)
}

li {
    display: inline-block;
}
ul.buttons {
    text-align: left;
}
form, fieldset, input {
    margin: 0;
    padding: 0;
    border: none;
}

.columnleft, .columnright {
    padding: 1em;
}

.columnleft {
    float: left;
    max-width: 30em;
}

.columnright {
    margin-left: 30em;
}

@media handheld, only screen and (max-width: 800px){
    .columnleft {
        float: none;
        max-width:none;
    }
    
    .columnright {
        margin-left:0;
    }
}

form {            
    font-family: "Lucida Grande","Lucida","Arial",Sans-serif;
    font-size: 1em;
}

input[type="text"], textarea {
    -webkit-border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    border-radius: 0.8em;
    border:none;
    font-size: 1.2em;
    width: 90%;
    padding: 7px 8px 7px 32px;
    
    background-color: #EFEFEF;
    background-position: 2px 2px;
    background-repeat: no-repeat;

    color:#333;
    text-shadow:0px 1px 0px #FFF;
    margin-bottom: 0.5em;
}

input[type="text"]:focus, textarea:focus {
    background-color: #A0DC4F;
}

h2 {
    text-shadow: 0px -1px 0px #000;
    text-align: center;
    padding: 18px;
    margin: 0px;
    font-weight: normal;
    font-size: 24px;
    font-family: Lucida Grande, Helvetica, Arial, sans-serif;
    border-bottom: solid #0c0c0c 1px;
    -moz-box-shadow: 0px 1px 0px #3a3a3a;
    -webkit-box-shadow: 0px 1px 0px #3a3a3a;
    box-shadow: 0px 1px 0px #3a3a3a;
}

#id_theme {
    width:15em;
}